@{
    ViewData["Title"] = "Exercícios - Enem";
}
<br />

<div class="container" id="container-1">
    <h1>Exercícios Enem - Equações e Funções Polinomiais do 2º Grau</h1><br />

    <h4><i>
            Exercício 10) Equação e Função Polinomial do 2º Grau<br /><br />
            (Enem 2016) Para evitar uma epidemia, a Secretaria de Saúde de uma cidade dedetizou todos os bairros, de modo 
            a evitar a proliferação do mosquito da dengue. Sabe-se que o número f de infectados é dado pela 
            função f(t) = −2t²+ 120t (em que t é expresso em dia e t = 0 é o dia anterior à primeira infecção) e que tal 
            expressão é válida para os 60 primeiros dias da epidemia.<br />
            A Secretaria de Saúde decidiu que uma segunda dedetização deveria ser feita no dia em que o número de infectados 
            chegasse à marca de 1 600 pessoas, e uma segunda dedetização precisou acontecer.<br />
            A segunda dedetização começou no:<br />

            <br /> <br />
            A) 19º dia.<br />
            B) 20º dia.<br />
            C) 29º dia.<br />
            D) 30º dia.<br />
            E) 60º dia.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle" id="gabarito1">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito1">
            <div class="content-inner">
                <p><i>
                        Alternativa Correta = B.<br />
                        Queremos o valor de t para que – 2t² + 120t = 1600.<br />
                        Arrumando a equação do 2º grau, temos que:<br />
                        – 2t² + 120t – 1600 = 0<br />
                        a = – 2; b = 120 e c = – 1600<br />
                        ∆ = (-120)² – 4.2.160<br />
                        ∆ = 14400 – 12800<br />
                        ∆ = 1600<br />

                        Agora aplicando a fórmula de Bhaskara:<br />
                        t = −b ± Δ√2at = −b ± Δ2a<br />
                        t = −b ± Δ√2at = −b ± Δ2a<br />
                        t = −120 ± 1600√2⋅(−2)t = −120 ± 16002⋅(−2)<br />
                        t = −120 ± 40 − 4t = −120 ± 40 − 4<br />
                        t1 = −120 + 40 − 4 = −80 − 4 = 20t1 = −120 + 40 − 4 = −80 − 4 = 20<br />
                        t2 = −120 − 40 − 4 = −160 − 4 = 40t2 = −120 −40 −4 = −160 − 4 = 40<br />
                        Logo, a segunda dedetização começou no 20º dia.<br />
                    </i>
                </p>
            </div>
        </div>
    </div> <br /> <br />

    <h4>
        <i>
            Exercício 11) Equação e Função Polinomial do 2º Grau <br /><br />
            (Enem 2015) Um estudante está pesquisando o desenvolvimento de certo tipo de bactéria. Para essa pesquisa, 
            ele utiliza uma estufa para armazenar as bactérias. A temperatura no interior dessa estufa, em graus Celsius, 
            é dada pela expressão Th) = –h² + 22h – 85, em que h representa as horas do dia. Sabe-se que o número de bactérias 
            é o maior possível quando a estufa atinge sua temperatura máxima e, nesse momento, ele deve retirá-las da estufa. 
            A tabela associa intervalos de temperatura, em graus Celsius, com as classificações: muito baixa, baixa, média,
            alta e muito alta.<br /><br />

            <img src="/images/Vest/img7.png" /><br /><br />

            Quando o estudante obtém o maior número possível de bactérias, a temperatura no interior da estufa está 
            classificada como:

            <br /> <br />
            A) muito baixa.<br />
            B) baixa.<br />
            C) média.<br />
            D) alta.<br />
            E) muito alta.<br />


        </i>
    </h4> 

    <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle" id="gabarito2">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito2">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Calcularemos o valor do yv da função e, para isso, é necessário encontrar o valor de Δ também.<br />
                        Na função T(h) = –h² + 22h – 85, temos que: a = – 1; b = 22; e c = – 85.<br />
                        Calculando Δ:<br />
                        Δ = b² – 4ac<br />
                        Δ = 22² – 4 ( – 1) ( – 85)<br />
                        Δ = 484 – 340<br />
                        Δ = 144<br />
                        Então calculando yv, temos que:<br />

                        Se T = 36, sabemos que ele está entre 30 e 40. Essa temperatura é classificada como alta.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <br /> <br />

    <h4>
        <i>
            Exercício 12) Equação e Função Polinomial do 2º Grau <br /><br />
            (Enem 2015) Um meio de transporte coletivo que vem ganhando espaço no Brasil é a van, pois realiza, com 
            relativo conforto e preço acessível, quase todos os tipos de transportes: escolar e urbano, intermunicipal 
            e excursões em geral.<br />
            O dono de uma van, cuja capacidade máxima é de 15 passageiros, cobra para uma excursão até a capital de seu 
            estado R$ 60,00 de cada passageiro. Se não atingir a capacidade máxima da van, cada passageiro pagará 
            mais R$ 2,00 por lugar vago.<br />
            Sendo x o número de lugares vagos, a expressão que representa o valor arrecadado V(x), em reais, pelo dono 
            da van, para uma viagem até a capital é:<br />

            <br /> <br />
            A) V(x) = 902x<br />
            B) V(x) = 930x<br />
            C) V(x) = 900 + 30x<br />
            D) V(x) = 60x + 2x²<br />
            E) V(x) = 900 – 30x – 2x²<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle" id="gabarito3">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito3">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = E.<br />

                        Seja x o número de pessoas que não compareceram. O pagamento pelo lugar ocupado é calculado por <br />
                        60 · ( 15 – x). Além disso, cada um pagará 2 reais por vaga não ocupada, ou seja, 2x ( 15 – x), então:<br />
                        V(x) = 60 ( 15 – x) + 2x ( 15 – x)<br />
                        V(x) = 900 – 60x + 30x – 2x²<br />
                        V(x) = 900 – 30x – 2x²<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 13) Equação e Função Polinomial do 2º Grau <br /><br />
            (Enem 2017) Viveiros de lagostas são construídos, por cooperativas locais de pescadores, 
            em formato de prismas reto-retangulares, fixados ao solo e com telas flexíveis de mesma altura, 
            capazes de suportar a corrosão marinha. Para cada viveiro a ser construído, a cooperativa utiliza 
            integralmente 100 metros lineares dessa tela, que é usada apenas nas laterais.<br />

            <img src="/images/Vest/img8.png" /><br /><br />

            Quais devem ser os valores de X e de Y, em metro, para que a área da base do viveiro seja máxima?

            <br /> <br />
            A) 1 e 49.<br />
            B) 1 e 99.<br />
            C) 10 e 10.<br />
            D) 25 e 25.<br />
            E) 50 e 50.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label for="collapsible4" class="lbl-toggle" id="gabarito4">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito4">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Sabemos que o perímetro é igual a 100, logo temos que:<br />
                        2X + 2Y = 100 → dividindo toda a equação por 2<br />
                        X + Y = 50<br />
                        Y = 50 – X<br />
                        Por outro lado, a área é dada por X · Y, então temos que:<br />
                        A = X (50 – X)<br />
                        A = – X² + 50X<br />
                        a = – 1 b = 50 e c = 0<br />
                        Calculando o X do vértice, temos que:<br />

                        <img src="/images/Vest/img9.png" width="100px" height="150px"/><br />
                        Então, a melhor medida para X e Y é ambos medindo 25 m.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 14) Equação e Função Polinomial do 2º Grau<br /><br />
            (Enem 2013) Uma pequena fábrica vende seus bonés em pacotes com quantidades de unidades variáveis. <br />
            O lucro obtido é dado pela expressão L(x) = – x² + 12x – 20, onde x representa a quantidade de bonés contidos 
            no pacote. A empresa pretende fazer um único tipo de empacotamento, obtendo um lucro máximo.<br />
            Para obter o lucro máximo nas vendas, os pacotes devem conter uma quantidade de bonés igual a:<br />

            <br /> <br />
            A) 4.<br />
            B) 6.<br />
            C) 9.<br />
            D) 10.<br />
            E) 14.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox">
        <label for="collapsible5" class="lbl-toggle" id="gabarito5">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito5">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        A quantidade de bonés para maximizar o lucro é igual ao xv.<br />
                        Na função, temos que:<br />
                        a = – 1<br />
                        b = 12<br />
                        c = – 20<br />
                        Logo:<br />
                        <img src="/images/Vest/img10.png" width="125px" height="175px"/><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 15) Equação e Função Polinomial do 2º Grau<br /><br />
            (Enem 2013) A temperatura T de um forno (em graus centígrados) é reduzida por um sistema a partir do 
            instante de seu desligamento (t = 0) e varia de acordo com a expressão:<br />
            Tt = -t24 + 400<br />
            com t em minutos. Por motivos de segurança, a trava do forno só é liberada para abertura quando o 
            forno atinge a temperatura de 39 ºC.<br />
            Qual o tempo mínimo de espera, em minutos, após se desligar o forno, para que a porta possa ser aberta?<br />


            <br /> <br />
            A)19,0<br />
            B)19,8<br />
            C) 20,0<br />
            D) 38,0<br />
            E) 39,0<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible6" class="toggle" type="checkbox">
        <label for="collapsible6" class="lbl-toggle" id="gabarito6">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito6">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Queremos que T(t) = 39.<br />

                        <img src="/images/Vest/img11.png" width="150px" height="250px" /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 16) Equação e Função Polinomial do 2º Grau<br /><br />
            (Enem 2017) A Igreja de São Francisco de Assis, obra arquitetônica modernista de Oscar Niemeyer, 
            localizada na Lagoa da Pampulha, em Belo Horizonte, possui abóbadas parabólica. A seta na Figura 1 
            ilustra uma das abóbadas na entrada principal da capela. A Figura 2 fornece uma vista frontal desta abóbada, 
            com medidas hipotéticas para simplificar os cálculos.<br />

            <img src="~/images/Vest/img12.png" />

            <br /> <br />
            A) 16/3<br />
            B) 31/5<br />
            C) 24/4<br />
            D) 25/3<br />
            E) 75/2<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible7" class="toggle" type="checkbox">
        <label for="collapsible7" class="lbl-toggle" id="gabarito7">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito7">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Como as raízes da equação são 5 e – 5, então a equação da parábola é dada por:<br />
                        f(x) = a(x – 5)(x+5)<br />
                        f(x) = a(x² – 25)<br />
                        Sabemos que o ponto (4,3) pertence a essa equação, então temos que:<br />

                        3 = a(4<sup>2</sup> - 25)<br />
                        3 =a (16 -25)<br />
                        3 = -9a<br />
                        a = 3/-9<br />
                        a = -1/3<br />

                        Desse modo, a lei de formação da função será:<br />

                        f(x) = -1/3 x<sup>2</sup> + 25/3<br />

                        Agora, para calcular o valor do yv, primeiro encontraremos o valor de delta e, 
                        posteriormente, o valor de yv:<br />

                        <img src="~/images/Vest/img13.png" width="175px" height="300px" /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 17) Equação e Função Polinomial do 2º Grau<br /><br />
            (Enem 2013) A parte interior de uma taça foi gerada pela rotação de uma parábola em torno de um eixo z, 
            conforme mostra a figura<br />

            <img src="~/images/Vest/img14.png" /><br />

            A função real que expressa a parábola, no plano cartesiano da figura, é dada pela lei<br />

            fx = 3/2x<sup>2</sup>-6x + c<br />

            onde C é a medida da altura do líquido contido na taça, em centímetros. Sabe-se que o ponto V, na figura, 
            representa o vértice da parábola, localizado sobre o eixo x. Nessas condições, a altura do líquido contido na 
            taça, em centímetros, é<br />

            <br /> <br />
            A) 1.<br />
            B) 2.<br />
            C) 4.<br />
            D) 5.<br />
            E) 6<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible8" class="toggle" type="checkbox">
        <label for="collapsible8" class="lbl-toggle" id="gabarito8">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito8">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = E.<br />

                        Como a função possui uma única raiz, então o valor de delta é zero, logo:<br />

                        <img src="~/images/Vest/img15.png" width="175px" height="350px" /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 18) Equação e Função Polinomial do 2º Grau<br /><br />
            (Enem 2016) Um túnel deve ser lacrado com uma tampa de concreto. A seção transversal do túnel e a 
            tampa de concreto têm contornos de um arco de parábola e mesmas dimensões. Para determinar o custo da obra, 
            um engenheiro deve calcular a área sob o arco parabólico em questão. Usando o eixo horizontal no nível do 
            chão e o eixo de simetria da parábola como eixo vertical, obteve a seguinte equação para a parábola:<br />
            y = 9 – x², sendo x e y medidos em metros.<br />
            Sabe-se que a área sob uma parábola como esta é igual a 2/3 da área do retângulo cujas dimensões são, 
            respectivamente, iguais à base e à altura da entrada do túnel.<br />
            Qual é a área da parte frontal da tampa de concreto, em metro quadrado?<br />

            <br /> <br />
            A) 18<br />
            B) 20<br />
            C) 36<br />
            D) 45<br />
            E) 54<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible9" class="toggle" type="checkbox">
        <label for="collapsible9" class="lbl-toggle" id="gabarito9">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito9">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />

                        Para calcular as dimensões do retângulo que contém a parábola, é necessário calcular a 
                        distância entre as raízes e também o valor da sua altura máxima, ou seja, yv.<br />
                        Calculando as raízes, temos que:<br />
                        y = 9 – x²<br />
                        0 = 9 – x²<br />
                        x² = 9<br />
                        x = ± √9<br />
                        x = ± 3<br />
                        Sabemos que, de – 3 até 3, temos 6 unidades.
                        Agora calculando Δ e yv, temos que:<br />
                        Δ = b² – 4ac<br />
                        Δ = 0² – 4 ( – 1) ( 9)<br />
                        Δ = 36<br />

                        <img src="~/images/Vest/img16.png" width="175px" height="275px" /><br />

                        Por fim, sabemos que a área é 2/3 do produto entre 6 e 9:<br />

                        <img src="~/images/Vest/img17.png" width="150px" height="100px" /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 19) Equação e Função Polinomial do 2º Grau<br /><br />
            (Enem 2010) Um laticínio possui dois reservatórios de leite. Cada reservatório é 
            abastecido por uma torneira acoplada a um tanque resfriado. O volume, em litros, desses 
            reservatórios depende da quantidade inicial de leite no reservatório e do tempo t, em horas, 
            em que as duas torneiras ficam abertas. Os volumes dos reservatórios são dados pelas funções 
            V1(t) = 250t³ - 100t + 3000 e V2(t) = 150t³ + 69t + 3000.<br />
            Depois de aberta cada torneira, o volume de leite de um reservatório é igual ao do outro no 
            instante t = 0 e, também, no tempo t igual a:<br />


            <br /> <br />
            A) 1,3 h.<br />
            B) 1,69 h.<br />
            C) 10,0 h.<br />
            D) 13,0 h.<br />
            E) 16,9 h.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible10" class="toggle" type="checkbox">
        <label for="collapsible10" class="lbl-toggle" id="gabarito10">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito10">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A.<br />

                        Faremos: V1(t) = V2(t).<br />
                        250t³ - 100t + 3000 = 150t³ + 69t + 3000<br />
                        100t³ - 169t = 0<br />
                        Colocando t em evidência, temos que:<br />
                        t (100t² – 169) = 0<br />
                        Dividindo por t dos dois lados, temos que:<br />
                        100t² – 169 = 0<br />
                        100t² = 169<br />
                        t² = 169/100<br />
                        t = √(169/100)<br />
                        t = 13/10<br />
                        t = 1,3 horas<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 20) Equação e Função Polinomial do 2º Grau<br /><br />
            (Enem 2020) Uma empresa de chocolates consultou o gerente de produção e verificou que existem cinco tipos 
            diferentes de barras de chocolate que podem ser produzidas, com os seguintes preços no mercado:<br /><br />
            • Barra I: R$ 2,00;<br />
            • Barra II: R$ 3,50;<br />
            • Barra III: R$ 4,00;<br />
            • Barra IV: R$ 7,00;<br />
            • Barra V: R$ 8,00.<br /><br />


            Analisando as tendências do mercado, que incluem a quantidade vendida e a procura pelos consumidores, 
            o gerente de vendas da empresa verificou que o lucro L com a venda de barras de chocolate é expresso pela 
            função L(x) = – x² + 14x – 45, em que x representa o preço da barra de chocolate.<br />
            A empresa decide investir na fabricação da barra de chocolate cujo preço praticado no mercado renderá o 
            maior lucro. Nessas condições, a empresa deverá investir na produção da barra:<br />

            <br /> <br />
            A) I.<br />
            B) II.<br />
            C) III.<br />
            D) IV.<br />
            E) V.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible11" class="toggle" type="checkbox">
        <label for="collapsible11" class="lbl-toggle" id="gabarito10">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito11">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Para encontrar o valor de x que maximiza o lucro, é necessário encontrar o valor de xv, 
                        então temos que: a = – 1, b = 14 e c = – 45.<br />

                        <img src="~/images/Vest/img18.png" width="175px" height="275px" /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

</div><br /><br />

    <div id="container-2" class="container" style="background-color:lightskyblue">
    <h3><a asp-action="ExerciciosVestibularIndex" asp-route-id="9" style="text-decoration: none">Página anterior</a><br /></h3><br />
    </div>

