@{
    ViewData["Title"] = "Vestibulares - Exercícios";
}
<br />
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="coluna2">
            <div class="cartao2">
                <img src="/images/ex-vestibular-logo.jpg" />

            </div>
        </div>
        <div class="linha">

            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Vestibular" asp-action="ExerciciosEnemIndex" asp-route-id="1"><img src="/images/Vest/Exercicios Enem.jpg" /></a>
                </div>
            </div>
            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Vestibular" asp-action="ExerciciosEnemFisIndex" asp-route-id="3"><img src="/images/Vest/Exercicios Fisica Enem.png" /></a>
                </div>
            </div>

            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Vestibular" asp-action="ExerciciosFuvestIndex" asp-route-id="5"><img src="/images/Vest/Exercicios Fuvest.jpg" /></a>
                </div>
            </div>
            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Vestibular" asp-action="ExerciciosFuvestFisIndex" asp-route-id="7"><img src="/images/Vest/Exercicios Fisica Fuvest.png" /></a>
                </div>
            </div>

            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Vestibular" asp-action="ExerciciosComvestIndex" asp-route-id="9"><img src="/images/Vest/Exercicios Comvest.jpg" /></a>
                </div>
            </div>

            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Vestibular" asp-action="ExerciciosComvestFisIndex" asp-route-id="11"><img src="/images/Vest/Exercicios Fisica Comvest.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
