@{
    ViewData["Title"] = "Exercícios - Fuvest";
}
<br />

<div class="container" id="container-1">
    <h1>Exercícios FUVEST - Física</h1><br />

    <h4>
        <i>
            (FUVEST/2019 – Primeira fase)<br /><br />
            À medida que a parcela de ar se eleva na atmosfera, nos limites da troposfera,
            a temperatura do ar decai a uma razão de 1 °C a cada 100 metros (Razão Adiabática Seca ‐ RAS)
            ou 0,6 °C a cada 100 metros (Razão Adiabática Úmida ‐ RAU).<br />

            <img src="/images/Vest/img70.png" /><br /><br />

            Considerando os conceitos e a ilustração, é correto afirmar que as temperaturas do ar, em graus
            Celsius, T1 e T2, são, respectivamente,<br /><br />
            Note e adote: Utilize RAS ou RAU de acordo com a presença ou não de ar saturado. <br /><br />
            Tar: temperatura do ar.

            <br /> <br />
            a) 8,0 e 26,0<br />
            b) 12,8 e 28,0<br />
            c) 12,0 e 26,0<br />
            d) 12,0 e 20,4<br />
            e) 11,6 e 20,4<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle" id="gabarito1">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito1">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C. <br /><br />

                        Analisando o texto e a figura, podemos definir três regiões:<br /><br />
                        0 a 400 m → razão adiabática seca – RAS: A umidade é elevada devido às altas temperaturas,
                        porém não ocorre precipitação.<br />
                        400 m a 1400 m → razão adiabática úmida – RAU: A partir dos 400 m, atravessa-se o
                        ponto de condensação, o que favorecerá a precipitação devido à queda da temperatura.<br />
                        1400 m a 0 m → razão adiabática seca – RAS: A sotavento, não ocorre precipitação
                        devido ao aumento da temperatura.<br />

                        Assim, temos:<br /><br />
                        1) A 400 m: T0 = 20,0°C – 200 m . 1 °C100 m = 18,0 °C<br />
                        2) A 1400 m: T1 = 18,0 °C – 1000 m . 0,6 °C100 m = 12,0 °C<br />
                        3) A 0 m: T2 = 12,0 °C + 1400 m . 1 °C100 m = 26,0 °C<br />

                    </i>
                </p>
            </div>
        </div>
    </div> <br /> <br />

    <h4>
        <i>
            (FUVEST – 2019 – Primeira fase)<br /><br />
            Os grandes aviões comerciais voam em altitudes onde o ar é rarefeito e a pressão atmosférica é baixa.
            Devido a isso, eles têm o seu interior pressurizado em uma pressão igual à atmosférica na altitude de 2.000 m.
            A figura mostra o gráfico da pressão atmosférica em função da altitude.<br /><br />

            <img src="/images/Vest/img71.png" /><br /><br />

            A força, em N, a que fica submetida uma janela plana de vidro, de 20 x 30 cm2, na cabine de
            passageiros na altitude de 10.000 m, é, aproximadamente:<br />

            <br /> <br />
            a) 12.400<br />
            b) 6.400<br />
            c) 4.800<br />
            d) 3.200<br />
            e) 1.600<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle" id="gabarito2">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito2">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        De acordo com o gráfico:	 h1 = 10.000 m…… p1 ≅ 26.000 Pa<br />
                        h2 = 2.000 m …… p2 ≅ 78.000 Pa<br />
                        A força resultante aplicada pelo ar sobre a janela é dada por: Far = Δpar . A<br />
                        A = 600 cm2 = 600 . 10^–4 m2 = 6,0 . 10–2 m2<br />
                        Far ≅ (78 – 26) . 103 . 6,0 . 10–2 (N)<br />
                        Far ≅ 52 . 6,0 . 10 (N)<br />
                        Far ≅ 3120 N<br />
                        O valor mais próximo é 3200 N.<br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <br /> <br />

    <h4>
        <i>
            (FUVEST – 2019 – Primeira fase)<br /><br />
            O consumo calórico de um animal de sangue quente é proporcional à área superficial
            de seu corpo. Um animal com massa 3,5 kg consome 250 kcal diárias. O gráfico relaciona a
            área superficial desse animal com sua massa<br />

            <img src="/images/Vest/img72.png" /><br /><br />

            Considerando o gráfico, conclui-se que, se a massa deste animal dobrar,
            o seu novo consumo diário de energia, em kcal, será, aproximadamente,

            <br /> <br />
            a) 130<br />
            b) 250<br />
            c) 310<br />
            d) 390<br />
            e) 500<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle" id="gabarito3">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito3">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Sendo C o consumo calórico do animal e A a área superficial de seu corpo, tem-se, de
                        acordo com o enunciado: C = k A em que k é uma constante de proporcionalidade.<br /><br />
                        Do gráfico, para a massa de 3,5 kg, obtém-se A1 ≅ 0,14 m2.<br />
                        Logo: 250 = k 0,14 (1)<br />
                        Também do gráfico, para a massa de 2 . 3,5 kg = 7,0 kg, obtém-se A2 ≅ 0,22 m2.<br />
                        Assim: C2 = k 0,22 (2)<br />
                        Dividindo-se (1) por (2) membro à membro, depreende-se que:<br />
                        C2 250 = k 0,22k 0,14⇒ C2 ≅ 390 kcal<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST – 2019 – Primeira fase) <br /><br />
            Dois corpos de massas iguais são soltos, ao mesmo tempo, a partir do repouso, da altura h1 e
            percorrem os diferentes trajetos (A) e (B), mostrados na figura, onde x1 > x2 e h1 > h2.<br />

            <img src="/images/Vest/img73.png" /><br /><br />

            Considere as seguintes afirmações:<br /><br />
            As energias cinéticas finais dos corpos em (A) e em (B) são diferentes.<br />
            As energias mecânicas dos corpos, logo antes de começarem a subir a rampa, são iguais.<br />
            O tempo para completar o percurso independe da trajetória.<br />
            O corpo em (B) chega primeiro ao final da trajetória.<br />
            O trabalho realizado pela força peso é o mesmo nos dois casos.<br />

            Note e adote: Desconsidere forças dissipativas.<br />
            É correto somente o que se afirma em:

            <br /> <br />
            a) I e III<br />
            b) II e V<br />
            c) IV e V<br />
            d) II e III<br />
            e) I e V<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label for="collapsible4" class="lbl-toggle" id="gabarito4">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito4">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br /><br />

                        I) Falsa. Nas duas configurações, temos: Efinal = Einicial (referência no solo)
                        Ecin final + mg h2 = mg h1 Ecin final = mg (h1 – h2) Portanto: Ecin B = Ecin A <br /><br />

                        II) Verdadeira. Como o sistema é conservativo e as energias mecânicas iniciais são iguais,
                        então em qualquer instante as energias mecânicas são iguais. <br /><br />

                        III) Falsa. O tempo total gasto dependerá da extensão da trajetória.<br /><br />

                        IV) Falsa. De acordo com a figura, o percurso total é o mesmo e, como no trajeto A
                        existe um intervalo de tempo em que a velocidade escalar do corpo é maior, então o
                        tempo gasto por A é menor e o corpo em A chega primeiro ao final da trajetória.<br /><br />

                        V) Verdadeira. O trabalho do peso em ambos os casos é dado por: WP = mg (h1 – h2) Portanto: WA = WB<br /><br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST- 2022 - 1ª fase) <br /><br />
            O gráfico mostra dados coletados na cidade do Rio de Janeiro, entre fevereiro e abril de 2020,
            período que inclui o início das medidas de restrição de circulação na cidade por causa da pandemia
            de COVID-19. Para cada dia, representado por um símbolo no gráfico, foram coletadas duas grandezas:
            uma média da energia de vibração sísmica durante o dia (na abscissa) e o índice F (na ordenada),
            que é a fração de pessoas que saiu de casa alguma vez naquele dia. A energia sísmica média foi
            medida em (nm/s)2 na faixa de frequências que tem causas humanas. Os triângulos representam domingos
            e feriados; os quadrados referem-se aos sábados; e os círculos correspondem aos dias úteis da semana.
            Para cada um desses subconjuntos de dados, uma reta média foi obtida, expressando a relação aproximada
            entre as duas grandezas medidas.<br /><br />

            <img src="/images/Vest/img74.png" /><br /><br />

            Sobre o estudo descrito, o que é possível inferir a partir dos dados apresentados?<br />

            <br /> <br />
            a) Em nenhum sábado, a energia sísmica média registrada superou 380 (nm/s)2 .<br />
            b) Em todos os dias úteis da semana, pelo menos 20% das pessoas permaneceram o tempo todo em casa.<br />
            c) Em alguns dos dias de domingo ou feriado, a energia sísmica média foi maior do que 600 (nm/s)².<br />
            d) Em dias úteis da semana, a energia sísmica média foi maior ou igual do que em sábados, domingos e feriados,
            para o mesmo número de pessoas que saiu de casa em um dia.<br />
            e) Aos sábados, uma medição de energia sísmica média de 190 (nm/s)² indica que mais de 60% das pessoas
            saíram de casa nesse dia.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox">
        <label for="collapsible5" class="lbl-toggle" id="gabarito5">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito5">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        a). Em nenhum sábado, a energia sísmica média registrada superou 380 (nm/s)2. Falso, se observarmos o gráfico, os sábados indicados pelos quadrados, temos que muitos passaram os 380.<br />
                        b). Em todos os dias úteis da semana, pelo menos 20% das pessoas permaneceram o tempo todo em casa. Falso, se observarmos o gráfico<br />
                        c).  Em alguns dos dias de domingo ou feriado, a energia sísmica média foi maior do que 600 (nm/s)2.Falso<br />
                        d). Em dias úteis da semana, a energia sísmica média foi maior ou igual do que em sábados, domingos e feriados, para o mesmo número de pessoas que saiu de casa em um dia. Verdadeiro. No diagrama, a maior região de círculos pretos está a direita do gráfico.<br />
                        e). Aos sábados, uma medição de energia sísmica média de 190 (nm/s)2 indica que mais de 60% das pessoas saíram de casa nesse dia. Falso<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST- 2022 - 1ª fase)<br /><br />
            Um bom café deve ser preparado a uma temperatura pouco acima de 80 ºC.
            Para evitar queimaduras na boca, deve ser consumido a uma temperatura mais baixa.
            Uma xícara contém 60 mL de café a uma temperatura de 80ºC. <br />
            Qual a quantidade de leite gelado (a uma temperatura de 5 ºC) deve ser misturada ao
            café para que a temperatura final do café com leite seja de 65 ºC?<br />


            <br /> <br />
            a) 5mL<br />
            b) 10mL<br />
            c) 15mL<br />
            d) 20mL<br />
            e) 25mL<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible6" class="toggle" type="checkbox">
        <label for="collapsible6" class="lbl-toggle" id="gabarito6">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito6">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />

                        Primeiramente vamos encontrar o valor da massa de café e do leite em função de seus volumes:<br />

                        <img src="/images/Vest/img75.png" /><br /><br />

                        Aplicando a Lei Fundamental da Calorimetria:<br />

                        <img src="/images/Vest/img76.png" /><br /><br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST - 2022 - 1ª fase)<br /><br />
            Uma criança deixa cair de uma mesma altura duas maçãs, uma delas duas vezes mais pesada do que a outra.
            Ignorando a resistência do ar e desprezando as dimensões das maçãs frente à altura inicial,
            o que é correto afirmar a respeito das energias cinéticas das duas maçãs na iminência de atingirem o solo?

            <br /> <br />
            a) A maçã mais pesada possui tanta energia cinética quanto a maçã mais leve.<br />
            b) A maçã mais pesada possui o dobro da energia cinética da maçã mais leve.<br />
            c) A maçã mais pesada possui a metade da energia cinética da maçã mais leve.<br />
            d) A maçã mais pesada possui o quádruplo da energia cinética da maçã mais leve.<br />
            e) A maçã mais pesada possui um quarto da energia cinética da maçã mais leve.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible7" class="toggle" type="checkbox">
        <label for="collapsible7" class="lbl-toggle" id="gabarito7">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito7">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        Pelo teorema do trabalho e variação da energia cinética, podemos afirmar que a maça
                        mais pesada possuirá, ao atingir o solo, o dobro da energia cinética da maçã mais leve.<br />
                        O trabalho nos dois casos é diretamente proporcional ao Peso, já que a altura da qual
                        as maçãs caem é a mesma, logo, uma maçã que tenha o dobro do Pesosofrerá o dobro da variação
                        da energia cinética, mas como ambas estão partindo do repouso, podemos afirmar que o módulo do
                        trabalho da força Peso é igual ao módulo da energia cinética.<br /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST - 2022 - 1ª fase)<br /><br />
            Uma bola de bilhar vermelha está inicialmente em repouso a 40 cm de duas das bordas
            (lateral e superior da figura) de uma mesa de bilhar, como mostra a figura. Uma bola branca de
            mesma massa e tamanho é lançada em direção à vermelha com velocidade v0 paralela à borda lateral.<br />
            As duas bolas colidem e, algum tempo depois, a bola vermelha está prestes a cair na caçapa posicionada
            na junção das duas bordas. No mesmo instante, a bola branca toca a borda superior da mesa a uma
            distância d da bola vermelha, conforme figura.<br />

            <img src="/images/Vest/img77.png" /><br /><br />

            O valor de d é aproximadamente:<br /><br />
            Note e Adote:<br />
            Despreze efeitos dissipativos (como deslizamentos com atrito) e considere a colisão entre
            as bolas como sendo perfeitamente elástica. Considere que o diâmetro das bolas seja muito
            menor que as distâncias mencionadas e que não ocorram outras colisões intermediárias.

            <br /> <br />
            A) 20cm<br />
            B) 40cm<br />
            C) 60cm<br />
            D) 80cm<br />
            E) 100cm<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible8" class="toggle" type="checkbox">
        <label for="collapsible8" class="lbl-toggle" id="gabarito8">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito8">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Desprezando os efeitos dissipativos e conservando o momento linear na direção horizontal
                        (direção perpendicular ao movimento inicial da bola branca), que é nulo, e levando em consideração
                        que as duas bolas tem a mesma massa podemos afirmar que o módulo da velocidade da bola vermelha
                        nesta direção analisada, após a colisão, é igual ao módulo da velocidade da bola branca nesta
                        mesma direção só que com sentido contrário.<br />
                        Se as velocidades tem mesmo módulo, e a bola vermelha está na iminência de cair, podemos inferir
                        que ela andou 40 cm para a esquerda enquanto a bola branca anda 40 cm para a direita, a partir
                        do ponto de colisão.<br />
                        Isso implica que d, que é a separação entre as bolas no momento que se pede, é 40 + 40 = 80 cm.<br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST- 2022 - 1ª fase) <br /><br />
            Considere a situação indicada na figura, em que um motor, com o auxílio de uma polia,
            ergue verticalmente uma caixa de massa 12 kg. A caixa contém materiais frágeis e deve
            ser erguida com velocidade constante. Qual é a magnitude da força vertical que o motor
            deve exercer para realizar a tarefa?<br />

            <img src="/images/Vest/img78.png" />

            <br /> <br />
            A) 0 N.<br />
            B) 30 N.<br />
            C) 60 N.<br />
            D) 120 N.<br />
            E) 240 N.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible9" class="toggle" type="checkbox">
        <label for="collapsible9" class="lbl-toggle" id="gabarito9">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito9">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />
                        Se o bloco deve subir com velocidade constante a aceleração sobre ele é nula.
                        Diante disso, temos que:<br />

                        <img src="/images/Vest/img79.png" /><br /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST- 2022 - 1ª fase)<br /><br />
            Um componente eletrônico tem curva característica mostrada no gráfico a seguir:<br />
            <img src="/images/Vest/img80.png" /><br /><br />

            A resistência elétrica do componente na região em que ele se comporta como um
            resistor ôhmico vale aproximadamente:


            <br /> <br />
            a) 0,4 Ω<br />
            b) 0,6 Ω<br />
            c) 0,8 Ω<br />
            d) 1,0 Ω<br />
            e) 1,2 Ω<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible10" class="toggle" type="checkbox">
        <label for="collapsible10" class="lbl-toggle" id="gabarito10">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito10">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />
                        Pegando o ponto (0.5,0.4)  podemos usar a primeira lei de Ohm na seguinte maneira:<br /><br />
                        V = r.i ⇒ 0,4 = R.0,5 ⇒ R = 0,8Ω

                    </i>
                </p>
            </div>
        </div>
    </div>

</div>
<br />
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h3><a asp-action="ExerciciosVestibularIndex" asp-route-id="8" style="text-decoration: none">Próxima Página</a><br /></h3><br />
</div>

