@{
    ViewData["Title"] = "Exercícios - Enem";
}
<br />
<style>
    input[type='checkbox'] { 
        display: none; 
    } 

    .wrap-collabsible { 
        margin: 1.4rem 0;
    } 

    .lbl-toggle { 
        border-radius: 15px 50px 30px;
        display: block; 
        font-weight: bold; 
        font-family: monospace; 
        font-size: 1.2rem; 
        text-transform: uppercase; 
        text-align: center; 
        padding: 1rem; 
        color: #DDD; 
        background: darkblue; 
        cursor: pointer;  
        transition: all 0.25s ease-out;
        

    } 
    .lbl-toggle:hover { 
        color: #FFF; 
    } 

    .lbl-toggle::before { 
        content: ' '; 
        display: inline-block; 
        border-top: 10px solid transparent; 
        border-bottom: 10px solid transparent; 
        border-left: 10px solid currentColor; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
    } 
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content 
    { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content 
    { 
        max-height: 350px; 
    } 

    .toggle:checked+.lbl-toggle 
    { 
      border-bottom-right-radius: 0; 
      border-bottom-left-radius: 0; 
    } 
    .collapsible-content .content-inner 
    { 
      background: rgba(0, 105, 255, .2); 
      border-bottom: 1px solid rgba(0, 105, 255, .45); 
      border-bottom-left-radius: 7px; 
      border-bottom-right-radius: 7px; 
      padding: .5rem 1rem; 
    } 
    .collapsible-content p 
      { 
          margin-bottom: 0; 
      }

</style>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>
        <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: url(images/logo.jpg);"></div>
                <h3>Catriona Henderson</h3>
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Download</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-gift mr-3"></span> Gift Code</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-trophy mr-3"></span> Top Review</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
            </li>
        </ul>
    </nav>

</div>



<div class="container" id="container-1">
    <h1>Exercícios Enem - Matemática</h1><br />

    <h4><i>
            Exercício 1) Razão e proporção <br /><br />
            (Enem 2020) Uma torneira está gotejando água em um balde com capacidade de 18 litros. 
            No instante atual, o balde se encontra com ocupação de 50% de sua capacidade. 
            A cada segundo caem 5 gotas de água da torneira, e uma gota é formada, em média, por 5×10-2 ml de água. 
            Quanto tempo, em hora, será necessário para encher completamente o balde, partindo do instante atual?
            <br /> <br />
            A) 2 × 10¹<br />
            B) 1 × 10¹<br />
            C) 2 × 10–2<br />
            D) 1 × 10-- 2<br />
            E) 1 × 10 – 3<br />
        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle" id="gabarito1">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito1">
            <div class="content-inner">
                <p><i>
                    Alternativa Correta = B. <br /><br />
                    Como a capacidade do balde é de 18 litros e 50% dele está ocupado, sabemos que:<br />
                    50% de 18 = 0,5 × 18 = 9 litros<br />
                    9 litros = 9 000 ml<br />
                    Sabemos que cada gota possui 5×10-2 ml = 0,05 ml cada. Como a cada segundo há 5 gotas, 
                    então é um total de 0,25 ml por segundo.<br />
                    Logo será necessário um total de 9000 : 0,25 = 36000 segundos para preencher as 9000 ml restantes.<br />
                    Sabemos que 3600 segundos correspondem a 10 horas, que, em notação científica, é igual a 1×10¹.<br />
                    </i>
                </p>
            </div>
        </div>
    </div> <br /> <br />

    <h4>
        <i>
            Exercício 2) Razão e proporção <br /><br />
            (Enem 2020) Um motociclista planeja realizar uma viagem cujo destino fica a 500 km de sua casa. 
            Sua moto consome 5 litros de gasolina para cada 100 km rodados, e o tanque da moto tem capacidade para 22 litros. 
            Pelo mapa, observou que no trajeto da viagem o último posto disponível para reabastecimento, 
            chamado Estrela, fica a 80 km do seu destino. Ele pretende partir com o tanque da moto cheio e planeja fazer 
            somente duas paradas para reabastecimento, uma na ida e outra na volta, ambas no posto Estrela. No reabastecimento 
            para a viagem de ida, deve considerar também combustível suficiente para se deslocar por no 200 km seu destino.
            A quantidade mínima de combustível, em litro, que esse motociclista deve reabastecer no posto Estrela na viagem 
            de ida, que seja suficiente para fazer o segundo reabastecimento, é:

            <br /> <br />
            A) 13.<br />
            B) 14.<br />
            C) 17.<br />
            D) 18.<br />
            E) 21.<br />

        </i>
    </h4> 

    <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle" id="gabarito2">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito2">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />

                        Sabemos que 100 km consomem 5 litros, logo serão consumidos 100 : 5 = 20 litros/ km.<br />
                        Para fazer 420 km, é necessário um total de 420 : 20 = 21 litros. A capacidade do tanque é de 22 litros,
                        então 22 – 21 = 1, logo sobrou 1 litro.<br />
                        O que nos interessa é o combustível necessário para que ele ande os 80 km restantes, mais 200 km 
                        dentro da cidade e os 80 km na volta, ou seja, um total de 360 km.<br />
                        360 : 20 = 18 litros<br />
                        Como restou 1 litro, então é necessário que ele abasteça, no mínimo, 18 – 1 = 17 L.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <br /> <br />

    <h4>
        <i>
            Exercicio 3) Razão e proporção <br /><br />
            Enem 2020) Uma empresa de ônibus utiliza um sistema de vendas de passagens que fornece a imagem de 
            todos os assentos do ônibus, diferenciando os assentos já vendidos, por uma cor mais escura, dos assentos 
            ainda disponíveis. A empresa monitora, permanentemente, o número de assentos já vendidos e compara-o com 
            o número total de assentos do ônibus para avaliar a necessidade de alocação de veículos extras.
            Na imagem tem-se a informação dos assentos já vendidos e dos ainda disponíveis em um determinado instante.
            <img src="~/images/Vest/img1.png" /><br />
            A razão entre o número de assentos já vendidos e o total de assentos desse ônibus, 
            no instante considerado na imagem, é:

            <br /> <br />
            A)16/42<br />
            B)16/26<br />
            C)26/42<br />
            D)46/26<br />
            E)42/16<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle" id="gabarito3">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito3">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A.<br />

                        Sabemos que há um total de 16 assentos vendidos entre os 42 acentos, 
                        logo a razão entre o número de acentos vendidos em relação ao total de acentos do 
                        ônibus é de 16/42.<br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 4) Razão e proporção <br /><br />
            (Enem 2019) Para contratar três máquinas que farão o reparo de vias rurais de um município, a 
            prefeitura elaborou um edital que, entre outras cláusulas, previa:<br />

            ⦁ cada empresa interessada só pode cadastrar uma única máquina para concorrer ao edital;<br />
            ⦁ o total de recursos destinados para contratar o conjunto das três máquinas é de R$ 31.000,00;<br />
            ⦁ o valor a ser pago a cada empresa será inversamente proporcional à idade de uso da máquina cadastrada 
            ⦁ pela empresa para o presente edital;<br />
            ⦁ As três empresas vencedoras do edital cadastraram máquinas com 2, 3 e 5 anos de idade de uso.<br />

            Quanto receberá a empresa que cadastrou a máquina com maior idade de uso?<br />

            <br /> <br />
            A) R$ 3.100,00<br />
            B) R$ 6.000,00<br />
            C) R$ 6.200,00<br />
            D) R$ 15.000,00<br />
            E) R$ 15.500,<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label for="collapsible4" class="lbl-toggle" id="gabarito4">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito4">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        Cada empresa receberá de forma inversamente proporcional ao tempo de uso da máquina, 
                        então sejam x, y, z correspondentes ao recebimento de cada empresa, temos que:<br />

                        x = k/2 ; y = k/3;z = k/5<br />

                        Sabemos que a soma x + y + z = 31.000, logo:<br />
                       
                        k/2 + k/3 + k/5 = 31.000<br />

                        (15k + 10k + 6k)/30 = 31.000<br />
                        31k/30 = 31.000<br />
                        k = 31.000 . 3031<br />
                        k = 1.000 . 30<br />
                        k = 30.000<br />

                        Conhecendo o valor de k, a empresa que tem maior idade é a de 5 anos, 
                        então basta calcular k dividido por 5:<br />
                        z = 30.0005 = 6.000

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 5) Razão e proporção<br /><br />
            (Enem 2019) Os exercícios físicos são recomendados para o bom funcionamento do organismo, 
            pois aceleram o metabolismo e, em consequência, elevam o consumo de calorias. No gráfico, estão 
            registrados os valores calóricos, em kcal, gastos em cinco diferentes atividades físicas, em função do 
            tempo dedicado às atividades, contado em minuto.<br />
            <img src="~/images/Vest/img2.png" /><br />
            Qual dessas atividades físicas proporciona o maior consumo de quilocalorias por minuto?<br />

            <br /> <br />
            A) I<br />
            B) II<br />
            C) III<br />
            D) IV<br />
            E) V<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox">
        <label for="collapsible5" class="lbl-toggle" id="gabarito5">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito5">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        Para encontrar a atividade física que proporciona maior consumo, 
                        basta calcular a razão entre o valor calórico e o tempo:<br />
                        I → 20 : 10 = 2kcal/min<br />
                        II → 100 : 15 = 6,6 kcal/min<br />
                        III → 120 : 20 = 6 kcal/min<br />
                        IV → 100 : 2,5 = 4kcal/min<br />
                        V → 80 : 30 = 2,66 kcal/min<br />
                        Comparando as atividades, a que possui maior consumo calórico por minuto é a atividade II.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 6) Razão e proporção<br /><br />
            (Enem 2018) De acordo com a Lei Universal da Gravitação, proposta por Isaac Newton, 
            a intensidade da força gravitacional F que a Terra exerce sobre um satélite em órbita circular é 
            proporcional à massa m do satélite e inversamente proporcional ao quadrado do raio r da órbita, ou seja:<br />

            F = k . mr<sup>2</sup><br />

            No plano cartesiano, três satélites, A, B e C estão representados, cada um, por um ponto (m,r) 
            cujas coordenadas são, respectivamente, a massa do satélite e o raio da sua órbita em torno da Terra.<br />

            <img src="~/images/Vest/img3.png" /><br />
            Com base nas posições relativas dos pontos no gráfico, deseja-se comparar as intensidades FA, FB e FC 
            da força gravitacional que a Terra exerce sobre os satélites A, B e C respectivamente.<br />
            As intensidades FA, FB e FC expressas no gráfico satisfazem a relação:<br />

            <br /> <br />
            A) FC = FA < FB<br />
            B) FA = FB < FC<br />
            C) FA < FB < FC<br />
            D) FA < FC < FB<br />
            E) FC < FA < FB<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible6" class="toggle" type="checkbox">
        <label for="collapsible6" class="lbl-toggle" id="gabarito6">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito6">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = E.<br />

                        Ao comparar A e C, sabemos que eles possuem mesma massa, mas que o raio do C é maior 
                        que o raio do A. Calculamos a força gravitacional pela fórmula:<br />

                        F = k . mr<sup>2</sup><br />

                        Como o raio de C é maior, então Fc < FA.<br />
                        Agora, comparando A e B, sabemos que eles possuem mesmo raio, mas que a massa de B 
                        é maior que a massa de A, o que faz com que FA < FB.<br />
                        Então, temos que FC < FA < FB<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 7) Razão e proporção<br /><br />
            (Enem 2017) O resultado de uma pesquisa eleitoral, sobre a preferência dos eleitores em relação a 
            dois candidatos, foi representado por meio do Gráfico 1.<br />

            <img src="~/images/Vest/img4.png" /><br />

            Ao ser divulgado esse resultado em jornal, o Gráfico 1 foi cortado durante a diagramação, 
            como mostra o Gráfico 2.<br />

            <img src="~/images/Vest/img5.png" /><br />

            Apesar de os valores apresentados estarem corretos e a largura das colunas ser a mesma, muitos 
            leitores criticaram o formato do Gráfico 2 impresso no jornal, alegando que houve prejuízo visual 
            para o candidato B.<br />
            A diferença entre as razões da altura da coluna B pela coluna A nos gráficos 1 e 2 é:<br />


            <br /> <br />
            A)0<br />
            B)1/2<br />
            C)1/5<br />
            D)2/15<br />
            E)8/35<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible7" class="toggle" type="checkbox">
        <label for="collapsible7" class="lbl-toggle" id="gabarito7">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito7">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = E.<br />

                        No primeiro gráfico, a barra maior ocupa 7 linhas e a menor 3, logo elas estão em uma
                        razão de 3/7. Já no segundo gráfico, a razão é de 1/5, então, calculando a diferença, 
                        temos que:<br />

                        3/7-1/5 = (15-7)/35 = 8/35<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 8) Razão e proporção<br /><br />
            Enem 2016) No tanque de um certo carro de passeio cabem até 50L de combustível, e o 
            rendimento médio deste carro na estrada é de 15 km/L de combustível. Ao sair para uma viagem de 600 km, 
            o motorista observou que o marcador de combustível estava exatamente sobre uma das marcas da escala 
            divisória do medidor, conforme figura a seguir.<br />


            <img src="~/images/Vest/img6.png" /><br />

            Como o motorista conhece o percurso, sabe que existem, até a chegada a seu destino, cinco postos 
            de abastecimento de combustível, localizados a 150 km, 187 km, 450 km, 500 km e 570 km do ponto de partida.<br />
            Qual a máxima distância, em quilômetro, que poderá percorrer até ser necessário reabastecer o veículo, 
            de modo a não ficar sem combustível na estrada?<br />

            <br /> <br />
            A) 570<br />
            B) 500<br />
            C) 450<br />
            D) 187<br />
            E) 150<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible8" class="toggle" type="checkbox">
        <label for="collapsible8" class="lbl-toggle" id="gabarito8">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito8">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        O marcador de consumo de combustível indica que foram gastos 1/4 do combustível, 
                        logo resta 3/4. Como no tanque cabem 50 litros e o automóvel faz 15 km/L, com um tanque, 
                        é possível percorrer 50 · 15 = 750 km. Agora basta calcular 3/4 de 750:<br />

                        3/4 . 750 = 2250/4 = 561,5<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 9) Razão e proporção<br /><br />
            Enem 2014) Diariamente, uma residência consome 20.160Wh. Essa residência possui 100 células solares 
            retangulares (dispositivos capazes de converter a luz solar em energia elétrica) de dimensões 6 cm x 8 cm. 
            Cada uma das tais células produz, ao longo do dia, 24Wh por centímetro de diagonal. <br />
            O proprietário dessa residência quer produzir, por dia, exatamente a mesma quantidade de energia que sua 
            casa consome.<br />
            Qual deve ser a ação desse proprietário para que ele atinja o seu objetivo?<br />

            <br /> <br />
            A) Retirar 16 células.<br />
            B) Retirar 40 células.<br />
            C) Acrescentar 5 células.<br />
            D) Acrescentar 20 células.<br />
            E) Acrescentar 40 células.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible9" class="toggle" type="checkbox">
        <label for="collapsible9" class="lbl-toggle" id="gabarito9">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito9">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A.<br />

                        A cada retângulo de dimensões 6 cm x 8 cm, temos uma diagonal de 10 cm. Assim, por dia, 
                        cada célula produz 10 . 24 = 240 Wh e 100 células produzem 100 x 240 = 24000 Wh.<br />
                        Desse modo, temos 3840 Wh a mais que o consumo inicial, logo, percebemos que 
                        3840 Wh / 240 Wh = 16. Assim, devemos retirar 16 células.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>
</div><br /><br />

    <div id="container-2" class="container" style="background-color:lightskyblue">
    <h3><a asp-action="ExerciciosEnem2" style="text-decoration: none">Próxima Página</a><br /></h3><br />
    </div>

