@{
    ViewData["Title"] = "Exercícios - Enem";
}
<br />
<style>
    input[type='checkbox'] { 
        display: none; 
    } 

    .wrap-collabsible { 
        margin: 1.4rem 0;
    } 

    .lbl-toggle { 
        border-radius: 15px 50px 30px;
        display: block; 
        font-weight: bold; 
        font-family: monospace; 
        font-size: 1.2rem; 
        text-transform: uppercase; 
        text-align: center; 
        padding: 1rem; 
        color: #DDD; 
        background: darkblue; 
        cursor: pointer;  
        transition: all 0.25s ease-out;
        

    } 
    .lbl-toggle:hover { 
        color: #FFF; 
    } 

    .lbl-toggle::before { 
        content: ' '; 
        display: inline-block; 
        border-top: 10px solid transparent; 
        border-bottom: 10px solid transparent; 
        border-left: 10px solid currentColor; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
    } 
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content 
    { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content 
    { 
        max-height: 1000px; 
    } 

    .toggle:checked+.lbl-toggle 
    { 
      border-bottom-right-radius: 0; 
      border-bottom-left-radius: 0; 
    } 
    .collapsible-content .content-inner 
    { 
      background: rgba(0, 105, 255, .2); 
      border-bottom: 1px solid rgba(0, 105, 255, .45); 
      border-bottom-left-radius: 7px; 
      border-bottom-right-radius: 7px; 
      padding: .5rem 1rem; 
    } 
    .collapsible-content p 
      { 
          margin-bottom: 0; 
      }

</style>

<div class="container" id="container-1">
    <h1>Exercícios Enem - Física</h1><br />

    <h4><i>
            Exercício 1) Eletricidade <br /><br />
            (Enem 2019) As redes de alta tensão para transmissão de energia elétrica geram campo magnético variável 
            o suficiente para induzir corrente elétrica no arame das cercas. Tanto os animais quanto os funcionários 
            das propriedades rurais ou das concessionárias de energia devem ter muito cuidado ao se aproximarem de 
            uma cerca quando esta estiver próxima a uma rede de alta tensão, pois, se tocarem no arame da cerca, 
            poderão sofrer choque elétrico.<br />
            Para minimizar este tipo de problema, deve-se:

            <br /> <br />
            a)   Fazer o aterramento dos arames da cerca.<br />
            b)   Acrescentar fusível de segurança na cerca.<br />
            c)   Realizar o aterramento da rede de alta tensão.<br />
            d)   Instalar fusível de segurança na rede de alta tensão.<br />
            e)   Utilizar fios encapados com isolante na rede de alta tensão.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle" id="gabarito1">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito1">
            <div class="content-inner">
                <p><i>
                    Ao tocar na cerca, a corrente elétrica pode percorrer o corpo de uma pessoa, 
                    deslocando-se da cerca para o solo ou do solo para a cerca. A função do fio terra 
                    é desviar essa corrente elétrica do corpo dessa pessoa para o fio conectado na terra,
                    pois esse fio fornecerá um caminho para eletricidade com uma resistência elétrica praticamente nula.<br />

                    </i>
                </p>
            </div>
        </div>
    </div> <br /> <br />

    <h4>
        <i>
            Exercício 2) Razão e proporção <br /><br />
            (Enem 2018) Com o avanço das multifunções dos dispositivos eletrônicos portáteis, como os smartphones, o 
            gerenciamento da duração da bateria desses equipamentos torna-se cada vez mais crítico. O manual de um 
            telefone celular diz que a quantidade de carga fornecida pela sua bateria é de 1500 mAh.<br />
            A quantidade de carga fornecida por essa bateria, em coulomb, é de:<br />

            <br /> <br />
            a) 90.<br />
            b) 1500.<br />
            c) 5400.<br />
            d) 90.000.<br />
            e) 5.400.000.<br />

        </i>
    </h4> 

    <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle" id="gabarito2">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito2">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />

                        A carga de 1500 mAh significa que a bateria consegue manter uma corrente 
                        elétrica i = 1500 ∙ 10-3A durante um intervalo de tempo de Δt = 1 h = 3600 s.<br />

                        <img src="~/images/Vest/img19.png" width="175px" height="175px"/><br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <br /> <br />

    <h4>
        <i>
            Exercicio 3) Eletricidade <br /><br />
            (Enem 2017) A figura mostra a bateria de um computador portátil, a qual necessita de uma corrente elétrica 
            de 2 A para funcionar corretamente<br />

            <img src="~/images/Vest/img20.png" /><br />

            Quando a bateria está completamente carregada, o tempo máximo, em minuto, que esse notebook pode 
            ser usado antes que ela “descarregue” completamente é<br />

            <br /> <br />
            a) 24,4.<br />
            b) 36,7.<br />
            c) 132.<br />
            d) 333.<br />
            e) 528<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle" id="gabarito3">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito3">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />

                        Na figura, nós observamos que Q = 4400 mAh<br />

                        <img src="~/images/Vest/img21.png" width="200px" height="200px" /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 4) Eletricidade <br /><br />
            (Enem) No território brasileiro, existem períodos do ano que apresentam queda na umidade do ar, 
            fazendo com que o ar fique bastante seco. Nessa época, é comum observar que as pessoas, ao saírem 
            do carro e tocarem a maçaneta da porta, levam pequenos choques elétricos. Além disso, pessoas que 
            ficam muito tempo em contato com aparelhos eletrodomésticos, ou que dormem com roupas feitas de 
            determinados materiais, como a seda, ao tocarem objetos metálicos, também sentem as descargas 
            elétricas, ou seja, levam um choque elétrico.<br />
            O corpo humano sofre com esse fenômeno de descarga elétrica, comportando-se como um condutor, pois<br />


            <br /> <br />
            a) oferece resistência nula ao movimento da quantidade líquida de carga através do corpo.<br />
            b) permite que uma quantidade líquida de carga se desloque com facilidade através do corpo.<br />
            c) permite que uma quantidade líquida de carga se desloque com dificuldade através do corpo.<br />
            d) reduz o deslocamento da quantidade líquida de carga em função do aumento da diferença de potencial.<br />
            e) alterna a capacidade de deslocamento da quantidade líquida de carga no corpo, facilitando ou 
            dificultando o fenômeno.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label for="collapsible4" class="lbl-toggle" id="gabarito4">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito4">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        Embora seja condutor de eletricidade, nosso corpo possui uma resistência elétrica, 
                        e essa resistência elétrica, por ser baixa, permite com que ele seja facilmente percorrido 
                        por uma corrente elétrica<br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 5) Eletricidade<br /><br />
            (Enem) Um circuito em série é formado por uma pilha, uma lâmpada incandescente e uma chave interruptora. 
            Ao se ligar a chave, a lâmpada acende quase instantaneamente, irradiando calor e luz. Popularmente, associa-se 
            o fenômeno da irradiação de energia a um desgaste da corrente elétrica, ao atravessar o filamento da lâmpada, 
            e à rapidez com que a lâmpada começa a brilhar. Essa explicação está em desacordo com o modelo clássico de corrente.
            De acordo com o modelo mencionado, o fato de a lâmpada acender quase instantaneamente está relacionado à rapidez 
            com que:<br />

            <br /> <br />
            a) o fluido elétrico se desloca no circuito.<br />
            b) as cargas negativas móveis atravessam o circuito.<br />
            c) a bateria libera cargas móveis para o filamento da lâmpada.<br />
            d) o campo elétrico se estabelece em todos os pontos do circuito.<br />
            e) as cargas positivas e negativas se chocam no filamento da lâmpada.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox">
        <label for="collapsible5" class="lbl-toggle" id="gabarito5">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito5">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Ao ligar a chave, a bateria faz surgir no circuito um campo elétrico que puxará ou 
                        empurrará os elétrons livres no filamento da lâmpada, e a interação das cargas com o 
                        campo elétrico ocorrerá quase instantaneamente.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 6) Eletricidade<br /><br />
            (Enem 2016) Três lâmpadas idênticas foram ligadas no circuito esquematizado. A bateria apresenta resistência 
            interna desprezível, e os fios possuem resistência nula. Um técnico fez uma análise do circuito para prever 
            a corrente elétrica nos pontos: A, B, C, D e E; e rotulou essas correntes de IA, IB, IC, ID e IE respectivamente.<br />

            <img src="~/images/Vest/img22.png" /><br />

            O técnico concluiu que as correntes que apresentam o mesmo valor são<br />


            <br /> <br />
            a) IA = IE e IC = ID.<br />
            b) IA = IB = IE e IC = ID.<br />
            c) IA = IB, apenas.<br />
            d) IA = IB = IE, apenas.<br />
            e) IC = IB, apenas.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible6" class="toggle" type="checkbox">
        <label for="collapsible6" class="lbl-toggle" id="gabarito6">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito6">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A.<br />

                        Como as lâmpadas têm a mesma resistência elétrica, a corrente total será dividida em partes iguais,
                        e as lâmpadas serão percorridas pela mesma corrente.<br />
                        IA= IB, que é a corrente total.<br />
                        IC = ID, que é um terço da corrente total (a corrente que passa em cada uma das 3 lâmpadas).<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 7) Trabalho, Energia e Potência<br /><br />
            (Enem 2015) Uma análise criteriosa do desempenho de Usain Bolt na quebra do recorde mundial dos 100 metros 
            rasos mostrou que, apesar de ser o último dos corredores a reagir ao tiro e iniciar a corrida, seus primeiros 
            30 metros foram os mais velozes já feitos em um recorde mundial, cruzando essa marca em 3,78 segundos. <br />
            Até se colocar com o corpo reto, foram 13 passadas, mostrando sua potência durante a aceleração, o momento 
            mais importante da corrida. Ao final desse percurso, Bolt havia atingido a velocidade máxima de 12 m/s.<br />
            Supondo que a massa desse corredor seja igual a 90 kg, o trabalho total realizado nas 13 primeiras passadas 
            é mais próximo de:<br />

            <br /> <br />
            a) 5,4 x 10² J.<br />
            b) 6,5 x 10³ J.<br />
            c) 8,6 x 10³ J.<br />
            d) 1,3 x 10<sup>4</sup> J.<br />
            e) 3,2 x 10<sup>4</sup> J.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible7" class="toggle" type="checkbox">
        <label for="collapsible7" class="lbl-toggle" id="gabarito7">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito7">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Portanto,<br />

                        <img src="~/images/Vest/img23.png" /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 8) Trabalho, Energia e Potência<br /><br />
            (Enem 2018) Um projetista deseja construir um brinquedo que lance um pequeno cubo ao longo 
            de um trilho horizontal, e o dispositivo precisa oferecer a opção de mudar a velocidade de 
            lançamento. Para isso, ele utiliza uma mola e um trilho onde o atrito pode ser desprezado,
            conforme a figura.<br />

            <img src="~/images/Vest/img24.png" /><br />

            Para que a velocidade de lançamento do cubo seja aumentada quatro vezes, o projetista deve:<br />


            <br /> <br />
            a) manter a mesma mola e aumentar duas vezes a sua deformação.<br />
            b) manter a mesma mola e aumentar quatro vezes a sua deformação.<br />
            c) manter a mesma mola e aumentar dezesseis vezes a sua deformação.<br />
            d) trocar a mola por outra de constante elástica duas vezes maior e manter a deformação.<br />
            e) trocar a mola por outra de constante elástica quatro vezes maior e manter a deformação.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible8" class="toggle" type="checkbox">
        <label for="collapsible8" class="lbl-toggle" id="gabarito8">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito8">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        <img src="~/images/Vest/img25.png" width="200px" height="250px"/><br />
                        Aumentando duas vezes a deformação como foi sugerido no item A, a nova velocidade v’ do cubo será:<br />
                        <img src="~/images/Vest/img26.png" width="200px" height="250px" /><br />
                        Como visto, a velocidade irá dobrar, portanto a alternativa é falsa.
                        Agora, aumentando quatro vezes a deformação como foi sugerido no item A, 
                        a nova velocidade v’ do cubo será:<br />
                        <img src="~/images/Vest/img27.png" width="200px" height="250px" /><br />
                        A velocidade ficará 4 vezes maior, portanto a alternativa verdadeira é a letra B.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            Exercício 9) Trabalho, Energia e Potência<br /><br />
            (Enem 2017) Bolas de borracha, ao caírem no chão, quicam várias vezes antes que parte da sua energia mecânica 
            seja dissipada. Ao projetar uma bola de futsal, essa dissipação deve ser observada para que a variação na 
            altura máxima atingida após um número de quiques seja adequada às práticas do jogo. Nessa modalidade é 
            importante que ocorra grande variação para um ou dois quiques. Uma bola de massa igual a 0,40 kg é 
            solta verticalmente de uma altura inicial de 1,0 m e perde, a cada choque com o solo, 80% de sua 
            energia mecânica. Considere desprezível a resistência do ar e adote g = 10 m/s2.<br />
            O valor da energia mecânica final, em joule, após a bola quicar duas vezes no solo, será igual a:


            <br /> <br />
            a) 0,16.<br />
            b) 0,80.<br />
            c) 1,60.<br />
            d) 2,56.<br />
            e) 3,20.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible9" class="toggle" type="checkbox">
        <label for="collapsible9" class="lbl-toggle" id="gabarito9">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito9">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A.<br />

                        Portanto,<br />

                        Epg =  m.g.h<br />
                        Epg = 0,4 x 10 x 1 = 4 J<br />
                        Perder 80% equivale a conservar 20% (0,2) da sua energia.<br />
                        Epg após quicar 1 vez = 4 x 0,2 = 0,8 J<br />
                        Epg após quicar 2 vezes = 0,8 x 0,2 = 0,16 J<br />

                    </i>
                </p>
            </div>
        </div>
    </div>
    <h4>
        <i>
            Exercício 9) Trabalho, Energia e Potência<br /><br />
            (Enem 2017) Bolas de borracha, ao caírem no chão, quicam várias vezes antes que parte da sua energia mecânica 
            seja dissipada. Ao projetar uma bola de futsal, essa dissipação deve ser observada para que a variação na 
            altura máxima atingida após um número de quiques seja adequada às práticas do jogo. Nessa modalidade é 
            importante que ocorra grande variação para um ou dois quiques. Uma bola de massa igual a 0,40 kg é 
            solta verticalmente de uma altura inicial de 1,0 m e perde, a cada choque com o solo, 80% de sua 
            energia mecânica. Considere desprezível a resistência do ar e adote g = 10 m/s2.<br />
            O valor da energia mecânica final, em joule, após a bola quicar duas vezes no solo, será igual a:


            <br /> <br />
            a) 0,16.<br />
            b) 0,80.<br />
            c) 1,60.<br />
            d) 2,56.<br />
            e) 3,20.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible9" class="toggle" type="checkbox">
        <label for="collapsible9" class="lbl-toggle" id="gabarito9">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito9">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A.<br />

                        Portanto,<br />

                        Epg =  m.g.h<br />
                        Epg = 0,4 x 10 x 1 = 4 J<br />
                        Perder 80% equivale a conservar 20% (0,2) da sua energia.<br />
                        Epg após quicar 1 vez = 4 x 0,2 = 0,8 J<br />
                        Epg após quicar 2 vezes = 0,8 x 0,2 = 0,16 J<br />

                    </i>
                </p>
            </div>
        </div>
    </div>
    <h4>
        <i>
            Exercício 10) Trabalho, Energia e Potência<br /><br />
            (Enem 2012) Os carrinhos de brinquedos podem ser de vários tipos. Dentre eles, há os movidos a corda, 
            em que uma mola em seu interior é comprimida quando a criança puxa o carrinho para trás. Ao ser solto, 
            o carrinho entra em movimento enquanto a mola volta à sua forma inicial.<br />
            O processo de conversão de energia que ocorre no carrinho descrito também é verificado em:

            <br /> <br />
            a)   um dínamo.<br />
            b)   um freio de automóvel.<br />
            c)    um motor a combustão.<br />
            d)   uma usina hidroelétrica.<br />
            e)   uma atiradeira (estilingue).<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible10" class="toggle" type="checkbox">
        <label for="collapsible10" class="lbl-toggle" id="gabarito10">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito10">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = E.<br />

                        Em uma atiradeira, temos a conversão de energia potencial elástica em energia cinética.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>


</div><br /><br />

    <div id="container-2" class="container" style="background-color:lightskyblue">
    <h3><a asp-action="ExerciciosEnemFis2" style="text-decoration: none">Próxima Página</a><br /></h3><br />
    </div>

