@{
    ViewData["Title"] = "Exercícios - Fuvest";
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios FUVEST - Física</h1><br />

    <h4>
        <i>
            (FUVEST- 2022 - 1ª fase)  <br /><br />
            O canhão de Newton, esquematizado na figura, é um experimento mental imaginado por Isaac Newton
            para mostrar que sua lei da gravitação era universal. Disparando o canhão horizontalmente do alto
            de uma montanha, a bala cairia na Terra em virtude da força da gravidade. Com uma maior velocidade
            inicial, a bala iria mais longe antes de retornar à Terra. Com a velocidade certa, o projétil daria
            uma volta completa em torno da Terra, sempre “caindo” sob ação da gravidade, mas nunca alcançando a Terra.
            Newton concluiu que esse movimento orbital seria da mesma natureza do movimento da Lua em torno da Terra.<br /><br />

            <img src="/images/Vest/img81.png" /><br /><br />

            Qual deveria ser a velocidade inicial de um projétil lançado horizontalmente do alto do
            Everest (a uma distância aproximada de 6.400 km do centro da Terra) para colocá-lo em órbita em torno da Terra?

            <br /> <br />
            a) 8km/s<br />
            b) 11,2 km/s<br />
            c) 80 km/s<br />
            d) 112 km/s<br />
            e) 8.000 km/s<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle" id="gabarito1">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito1">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A<br />
                        Para que a massa entre em órbita é necessário que a força resultante atue como força centrípeta,
                        a fim de colocar o móvel em MCU.<br />
                        Dessa maneira:<br />

                        <img src="/images/Vest/img82.png" /><br /><br />

                    </i>
                </p>
            </div>
        </div>
    </div> <br /> <br />

    <h4>
        <i>
            (FUVEST - 2022- 1ª fase)  <br /><br />
            Em virtude do movimento das placas tectônicas, a distância entre a América do Sul e a África aumenta,
            nos dias atuais, cerca de 2,0 cm a cada ano. Supondo que essa velocidade tivesse sido constante ao longo
            do tempo, e tomando uma distância atual de cerca de 5.000 km entre os limites dessas duas massas continentais,
            indique a melhor estimativa para quanto tempo teria transcorrido desde quando ambas estavam unidas em um
            único supercontinente.

            <br /> <br />
            a) 250.000 anos<br />
            b) 250.0000 anos<br />
            c) 250.00000 anos<br />
            d) 250.000.000 anos<br />
            e) 250.000.0000 anos<br />



        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle" id="gabarito2">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito2">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Para encontrarmos basta realizarmos a divisão com a respectiva conversão:<br /><br />
                        t=5000Km/2cm<br />
                        t=500000000m/2cm<br />
                        t=250.000.000<br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <br /> <br />

    <h4>
        <i>
            (FUVEST - 2021 - 1ªFASE)<br /><br />
            Um vídeo bastante popular na Internet mostra um curioso experimento em que uma garrafa de água
            pendurada por uma corda é mantida suspensa por um palito de dente apoiado em uma mesa.<br />

            <img src="/images/Vest/img83.png" /><br /><br />

            O "truque" só é possível pelo uso de outros palitos, formando um tipo de treliça.<br />
            A figura à direita da foto mostra uma visão lateral do conjunto, destacando duas das forças que
            atuam sobre o palito 1.<br />
            Nesta figura, F é a força que o palito 2 exerce sobre o palito 1( aplicada a uma distância L do
            ponto A na borda da mesa), P é a componente vertical da força que a corda exerce sobre o palito 1
            (aplicada a uma distância d do ponto A) e θ é o ângulo entre a direção da força F e a vertical. <br />
            Para que o conjunto se mantenha estático, porém na iminência de rotacionar, a relação entre os
            módulos de F e P deve ser:<br /><br />
            Note e adote:<br /><br />
            Despreze o peso dos palitos em relação aos módulos das forças F e P.<br />


            <br /> <br />
            a) F= |P|d/Lcos()<br />
            b) F= |P|d/Lsen()<br />
            c) F=|P|cos⁡()<br />
            d) F= |P|Lcos()/d<br />
            e) F= |P|Lsen()/d<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle" id="gabarito3">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito3">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A.<br />

                        Para o conjunto se manter estático devemos ter um equilíbrio rotacional.<br /><br />
                        Portanto, |F|cos(θ)*L = |P|d<br />
                        Isolando o módulo da força F chegamos na alternativa A.<br />
                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST - 2021 - 1ªFASE) <br /><br />
            Os smartphones modernos vêm equipados com um acelerômetro, dispositivo que mede acelerações a que o
            aparelho está submetido.<br />
            O gráfico foi gerado a partir de dados extraídos por um aplicativo do acelerômetro de um smartphone
            pendurado por um fio e colocado para oscilar sob a ação da gravidade. O gráfico mostra os dados de
            uma das componentes da aceleração (corrigidos por um valor de referência constante) em função do tempo.<br /><br />

            <img src="/images/Vest/img84.png" /><br /><br />

            Com base nos dados do gráfico e considerando que o movimento do smartphone seja o de um
            pêndulo simples a ângulos pequenos, o comprimento do fio é de aproximadamente:


            <br /> <br />
            a) 5 cm<br />
            b) 10 cm<br />
            c) 50 cm<br />
            d) 100 cm<br />
            e) 150 cm<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label for="collapsible4" class="lbl-toggle" id="gabarito4">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito4">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />

                        Observando o gráfico temos 5 oscilações em aproximadamente 7 segundos.<br />
                        Assim o período do movimento é aproximadamente 7/5.<br />
                        O período de um pêndulo simples é dado por: T = 2π√(L/g).<br />
                        Desse modo, L = T²g/(2π)².<br />
                        L = 490/900, que é melhor aproximado das alternativas por L = 0,5 m ou L = 50 cm<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST - 2021 - 1ªFASE) <br /><br />
            Considere as seguintes afirmações:<br /><br />
            I. Uma pessoa em um trampolim é lançada para o alto. No ponto mais alto de sua trajetória, sua aceleração
            será nula, o que dá a sensação de "gravidade zero"<br />
            II. A resultante das forças agindo sobre um carro andando em uma estrada em linha reta a uma velocidade
            constante tem módulo diferente de zero.<br />
            III. As forças peso e normal atuando sobre um livro em repouso em cima de uma mesa horizontal formam um
            par ação-reação.<br /><br />
            De acordo com as Leis de Newton:

            <br /> <br />
            a) Somente as afirmações I e II são corretas.<br />
            b) Somente as afirmações I e III são corretas.<br />
            c) Somente as afirmações II e III são corretas.<br />
            d) Todas as afirmações são corretas.<br />
            e) Nenhuma das afirmações é correta.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox">
        <label for="collapsible5" class="lbl-toggle" id="gabarito5">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito5">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = E.<br /><br />

                        I- Errada no ponto mais alto do salto a velocidade é zero mas a aceleração é sempre constante.<br />
                        II - Errada Se o carro está em velocidade constante e em linha reta necessariamente o somatório
                        das forças atuando nele tem módulo zero.<br />
                        III - Errada Par de ação e reação não atuam no mesmo corpo.<br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST - 2021 - 1ª FASE)<br /><br />
            Dois balões negativamente carregados são utilizados para induzir cargas em latas metálicas, 
            alinhadas e em contato, que, inicialmente, estavam eletricamente neutras.<br />

            <img src="/images/Vest/img85.png" /><br /><br />

            Conforme mostrado na figura, os balões estão próximos, mas jamais chegam a tocar as latas. 
            Nessa configuração, as latas 1, 2  e 3 terão, respectivamente, carga total:<br />
            Note e adote: O contato entre dois objetos metálicos permite a passagem de cargas elétricas 
            entre um e outro.
            Suponha que o ar no entorno seja um isolante perfeito.


            <br /> <br />
            a) 1: zero; 2: negativa; 3: zero.<br />
            b) 1: positiva; 2: zero; 3: positiva.<br />
            c) 1: zero; 2: positiva; 3: zero.<br />
            d) 1: positiva; 2: negativa; 3: positiva.<br />
            e) 1: zero; 2: zero; 3: zero.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible6" class="toggle" type="checkbox">
        <label for="collapsible6" class="lbl-toggle" id="gabarito6">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito6">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Ambas cargas dos balões repelem as cargas negativas das latas 1 e 3 na direção da lata 2, 
                        onde estas permanecerão concentradas. Assim, a lata 1 ficará com carga positiva, a lata 2 
                        ficará com carga negativa e a lata 3 ficará com carga positiva.<br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST 2021 - 1ª fase)<br /><br />
            Uma esfera metálica de massa m e carga elétrica +q descansa sobre um piso horizontal isolante, 
            em uma região em que há um campo elétrico uniforme e também horizontal, de intensidade E, conforme 
            mostrado na figura. Em certo instante, com auxílio de uma barra isolante, a esfera é erguida ao longo 
            de uma linha vertical, com velocidade constante e contra a ação de gravidade, a uma altura total h, 
            sem nunca abandonar a região de campo elétrico uniforme.<br /><br />

            <img src="/images/Vest/img86.png" /><br /><br />

            Ao longo do movimento descrito, os trabalhos realizados pela força gravitacional e 
            pela força elétrica sobre a esfera, são, respectivamente:

            <br /> <br />
            a) Mgh e qEh<br />
            b) –mgh e 0<br />
            c) 0 e –qEh<br />
            d) –mgh e –qEh<br />
            e) Mgh e 0<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible7" class="toggle" type="checkbox">
        <label for="collapsible7" class="lbl-toggle" id="gabarito6">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito7">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        O Trabalho de uma força constante é definido como sendo W = Fdcos(Ө), em que Ө é o ângulo 
                        entre a força e o deslocamento.<br />
                        O Trabalho da força elétrica é nulo pois a força elétrica é perpendicular ao deslocamento, 
                        ângulo de 90º entre os vetores.<br />
                        O trabalho da força gravitacional é W = - mgh, negativo pois a força tem a mesma direção mas 
                        sentido contrário do deslocamento, ângulo de 180º entre os vetores.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST - 2021 - 1ª FASE)<br /><br />
            Em uma luminária de mesa, há duas lâmpadas que podem ser acesas individualmente ou ambas ao mesmo 
            tempo, com cada uma funcionando sob tensão nominal determinada pelo fabricante, de modo que a 
            intensidade luminosa de cada lâmpara seja sempre a mesma. Entre os circuitos apresentados, indique 
            aquele que corresponde a uma arranjo que permite o funcionamento conforme essa descrição.<br /><br />

            <img src="/images/Vest/img87.png" /><br /><br />

            Note e adote: Suponha que as lâmpadas funcionem de maneira ôhmica, ou seja, da mesma forma que um resistor.


            <br /> <br />
            a) Circuito (1)<br />
            b) Circuito (2)<br />
            c) Circuito (3)<br />
            d) Circuito (4)<br />
            e) Circuito (5)<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible8" class="toggle" type="checkbox">
        <label for="collapsible8" class="lbl-toggle" id="gabarito8">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito8">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        O único jeito para que as lâmpadas funcionem de maneiras independentes, ou seja, ser possível 
                        que qualquer uma delas possam ser acessas ou apagadas sem depender da outra é que os interruptores 
                        e as próprias lâmpadas estejam em paralelo, além de garantir que a tensão que chega a elas seja a 
                        determinada pelo fabricante, o que não ocorreria caso estivessem em série.<br />
                        E isso acontece apenas no circuito 2.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST 2020) <br /><br />
            A velocidade de escape de um corpo celeste é a mínima velocidade que um objeto deve ter nas proximidades da 
            superfície desse corpo para escapar de sua atração gravitacional. Com base nessa informação e em seus 
            conhecimentos sobre a interpretação cinética da temperatura, considere as seguintes afirmações a respeito 
            da relação entre a velocidade de escape e a atmosfera de um corpo celeste.<br /><br />

            I. Corpos celestes com mesma velocidade de escape retêm atmosferas igualmente densas, independentemente da 
            temperatura de cada corpo.<br />
            II. Moléculas de gás nitrogênio escapam da atmosfera de um corpo celeste mais facilmente do que moléculas 
            de gás hidrogênio.<br />
            III. Comparando corpos celestes com temperaturas médias iguais, aquele com a maior velocidade de escape 
            tende a reter uma atmosfera mais densa.<br /><br />

            Apenas é correto o que se afirma em:



            <br /> <br />
            a) I<br />
            b) II<br />
            c) III<br />
            d) I e II<br />
            e) I e III<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible9" class="toggle" type="checkbox">
        <label for="collapsible9" class="lbl-toggle" id="gabarito9">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito9">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />

                        A primeira afirmação está incorreta porque, tomando dois gases iguais, no corpo mais 
                        quente as moléculas desse gás terão uma maior velocidade, assim elas estarão mais 
                        propensas a escapar. Logo as atmosferas não seriam igualmente densas.<br /><br />

                        A segunda afirmativa também está incorreta e o motivo é que o gás H2 é menos denso 
                        que o gás N2 assim para uma mesma temperatura o gás Hidrogênio tem as moléculas com 
                        uma velocidade maior, logo ele escaparia mais facilmente que o Nitrogênio.<br /><br />

                        A terceira alternativa está correta: Se a velocidade para escapar do corpo é maior, 
                        então mais gases podem ser retidos por esse corpo, logo esse corpo terá uma atmosfera mais densa.<br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (FUVEST 2020)<br /><br />
            Um fabricante projetou resistores para utilizar em uma lâmpada de resistência L. 
            Cada um deles deveria ter resistência R. Após a fabricação, ele notou que alguns 
            deles foram projetados erroneamente, de forma que cada um deles possui uma resistência 
            RD = R/2. Tendo em vista que a lâmpada queimará se for percorrida por uma corrente 
            elétrica superior a V/(R+L) em qual(is) dos circuitos a lâmpada queimará?<br /><br />

            <img src="/images/Vest/img88.png" />


            <br /> <br />
            a) 1, apenas<br />
            b) 2, apenas<br />
            c) 1 e 3, apenas<br />
            d) 2 e 3, apenas<br />
            e) 1, 2 e 3<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible10" class="toggle" type="checkbox">
        <label for="collapsible10" class="lbl-toggle" id="gabarito10">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito10">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        No primeiro circuito a corrente que passa pela Lâmpada é igual à corrente total 
                        que é dada por i = V/(R+L), logo nesse circuito a Lâmpada não queima.<br /><br />

                        No segundo circuito a corrente que passa pela Lâmpada é igual à corrente 
                        total que passa pelo circuito que é dada por i = V/(R/4 + L). Essa corrente é 
                        maior que a corrente máxima V/(R+L), logo a Lâmpada queima. Lembre-se que uma 
                        fração será maior quando seu denominador diminui.<br /><br />

                        No terceiro circuito a corrente que passa pela Lâmpada é igual à corrente 
                        que passa pelo ramo superior da associação em paralelo. Essa corrente será 
                        i = V/(R/2 + L), que também é maior que a corrente máxima V/(R+L).<br /><br />

                        Assim a Lâmpada queima nas situações 2 e 3.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

</div>
<br />
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h3><a asp-action="ExerciciosVestibularIndex" asp-route-id="7" style="text-decoration: none">Página Anterior</a><br /></h3><br />
</div>

