@{
    ViewData["Title"] = "Exercícios - Fuvest";
}
<br />
<style>
    input[type='checkbox'] { 
        display: none; 
    } 

    .wrap-collabsible { 
        margin: 1.4rem 0;
    } 

    .lbl-toggle { 
        border-radius: 15px 50px 30px;
        display: block; 
        font-weight: bold; 
        font-family: monospace; 
        font-size: 1.2rem; 
        text-transform: uppercase; 
        text-align: center; 
        padding: 1rem; 
        color: #DDD; 
        background: darkblue; 
        cursor: pointer;  
        transition: all 0.25s ease-out;
        

    } 
    .lbl-toggle:hover { 
        color: #FFF; 
    } 

    .lbl-toggle::before { 
        content: ' '; 
        display: inline-block; 
        border-top: 10px solid transparent; 
        border-bottom: 10px solid transparent; 
        border-left: 10px solid currentColor; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
    } 
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content 
    { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content 
    { 
        max-height: 1600px; 
    } 

    .toggle:checked+.lbl-toggle 
    { 
      border-bottom-right-radius: 0; 
      border-bottom-left-radius: 0; 
    } 
    .collapsible-content .content-inner 
    { 
      background: rgba(0, 105, 255, .2); 
      border-bottom: 1px solid rgba(0, 105, 255, .45); 
      border-bottom-left-radius: 7px; 
      border-bottom-right-radius: 7px; 
      padding: .5rem 1rem; 
    } 
    .collapsible-content p 
      { 
          margin-bottom: 0; 
      }

</style>

<div class="container" id="container-1">
    <h1>Exercícios FUVEST - Matemática</h1><br />

    <h4><i>
            (Fuvest 2020 – Primeira Fase) <br /><br />
            Se 3x2 – 9x + 7 = (x – a)3 – (x – b)3 para todo número real x, o valor de a+b é:

            <br /> <br />
            A) 3.<br />
            B) 5.<br />
            C) 6.<br />
            D) 9.<br />
            E) 12.<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle" id="gabarito1">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito1">
            <div class="content-inner">
                <p><i>
                    Alternativa Correta = A. <br /><br />

                        Desenvolvendo os cubos, temos:<br />

                        <img src="~/images/Vest/img45.png" /><br />

                        O que nos leva ao seguinte sistema de equações<br />

                        <img src="~/images/Vest/img46.png" height="300px"/><br />

                        Como a questão solicitou o valor de a+b, não é preciso ir adiante, já temos nossa resposta: a+b=3.<br />
                    </i>
                </p>
            </div>
        </div>
    </div> <br /> <br />

    <h4>
        <i>
            (Fuvest 2020 – Primeira Fase)<br /><br />
            Uma agência de turismo vendeu um total de 78 passagens para os destinos: Lisboa, 
            Paris e Roma. Sabe-se que o número de passagens vendidas para Paris foi o dobro do número 
            de passagens vendidas para os outros dois destinos conjuntamente. Sabe-se também que, para Roma, 
            foram vendidas duas passagens a mais que a metade das vendidas para Lisboa. Qual foi o total de 
            passagens vendidas, conjuntamente, para Paris e Roma?<br />

            <br /> <br />
            A) 26<br />
            B) 38<br />
            C) 42<br />
            D) 62<br />
            E) 68<br />


        </i>
    </h4> 

    <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle" id="gabarito2">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito2">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Da leitura do enunciado, tiramos o seguinte sistema de equações:<br />

                        <img src="~/images/Vest/img47.png" height="300px" /><br />

                        Dando andamento à resolução do sistema, temos:<br />

                        <img src="~/images/Vest/img48.png" height="300px" /><br />

                        Novamente, a questão nos solicitou o valor da soma P+R, portanto, não há necessidade 
                        de seguirmos com a resolução do sistema, uma vez que<br />

                        <img src="~/images/Vest/img49.png" /><br />


                    </i>
                </p>
            </div>
        </div>
    </div>

    <br /> <br />

    <h4>
        <i>
            (Fuvest 2020 – Primeira Fase)  <br /><br />
           Uma cidade é dividida em dois Setores: o Setor Sul, com área de 10 km2, e o Setor Norte,
           com área de 30 km2. Após um final de semana, foram divulgados os seguintes totais pluviométricos:<br />

            <img src="~/images/Vest/img50.png" /><br /><br />

           É correto afirmar que o total pluviométrico desse final de semana na cidade inteira foi de

            <br /> <br />
            A) 15 mm.<br />
            B) 17 mm.<br />
            C) 22 mm.<br />
            D) 25 mm.<br />
            E) 28 mm.<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle" id="gabarito3">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito3">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        O total pluviométrico P é, na verdade, uma razão entre o volume de chuva que cai em uma 
                        determinada área, ou seja, uma razão entre um volume e uma área.<br />
                        Seguindo essa definição, temos:<br />

                        <img src="~/images/Vest/img51.png" /><br /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (Fuvest 2020 – Primeira Fase) <br /><br />

            <img src="~/images/Vest/img52.png" /><br /><br />

            As possíveis soluções, em polegadas (inches, em inglês), para o problema matemático proposto
            no quadrinho, no caso em que os pontos A, B e C estão em uma mesma reta, são:


            <br /> <br />
            a) 10/3 e 10<br />
            b) 10/3 , 5 e 10<br />
            c) 5/3, 10/3 e 10<br />
            d) 5/3 e 10<br />
            e) 10/3 e 5<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label for="collapsible4" class="lbl-toggle" id="gabarito4">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito4">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = A.<br />

                        O texto deixa claro que a distância entre A e C(dAC) é o dobro da distância entre A e B(dAC) ou seja
                        dAC = 2 · dAB<br />
                        Utilizando um sistema ordenado e respeitando a ordem de que A, B e C são colineares, 
                        podemos representar os pontos em uma reta orientada.<br />

                        <img src="~/images/Vest/img53.png" /><br /><br />

                        Dessa forma, seguindo as orientações do enunciado, temos:<br />

                        <img src="~/images/Vest/img54.png" /><br /><br />

                        Até aqui, tudo bem. No entanto, há uma segunda possibilidade para posicionarmos o ponto A, 
                        fora do intervalo BC, veja:<br />

                        <img src="~/images/Vest/img55.png" /><br /><br />

                        Com essa nova representação, mas ainda com a premissa do exercício de que dAC = 2 · dAB , temos:<br />

                        <img src="~/images/Vest/img56.png" /><br /><br />

                        Assim, temos duas possibilidades para a posição do ponto A, nas condições dadas.

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (Fuvest/2019 – Primeira fase) <br /><br />
            Se a função 𝑓: ℝ − {2} é definida por<br />
            𝑓(𝑥) = 2𝑥 + 1/ 𝑥 − 2<br />
            E a função 𝑔: ℝ − {2} é definida por 𝑔(𝑥) = 𝑓(𝑓(𝑥)), então 𝑔(𝑥) é igual a:<br />

            <br /> <br />
            a) x/2<br />
            b) x<sup>2</sup><br />
            c) 2x<br />
            d) 2x + 3<br />
            e) X<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox">
        <label for="collapsible5" class="lbl-toggle" id="gabarito5">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito5">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = E.<br />

                        <img src="~/images/Vest/img57.png" /><br /><br />

                        <img src="~/images/Vest/img58.png" /><br /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (Fuvest 2020 – Primeira Fase)<br /><br />
            Considere a função polinomial 𝑓: ℝ → ℝ definida por 𝑓(𝑥) = 𝑎𝑥 2 + 𝑏𝑥 + 𝑐, em que 𝑎, 𝑏 𝑒 𝑐 ∈ ℝ e 𝑎 ≠ 0. 
            No plano cartesiano 𝑥𝑦, a única intersecção da reta 𝑦 = 2 com o gráfico de 𝑓 é o ponto (2; 2) e a 
            intersecção da reta 𝑥 = 0 com o gráfico de 𝑓 é o ponto (0; −6). O valor de 𝑎 + 𝑏 + 𝑐 é<br />

            <br /> <br />
            a) -2<br />
            b) 0<br />
            c) 2<br />
            d) 4<br />
            e) 6<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible6" class="toggle" type="checkbox">
        <label for="collapsible6" class="lbl-toggle" id="gabarito6">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito6">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = B.<br />

                        Com os dados do enunciado, façamos um esboço do gráfico.<br />

                        <img src="~/images/Vest/img59.png" /><br /><br />

                        Pensemos, inicialmente, na função<br /><br />
                        𝑓(𝑥) = 𝑎𝑥 2<br />
                        Para deslocar essa função 2 unidades para a direita, precisamos substituir 𝑥 por 𝑥 − 2.<br />
                        𝑓(𝑥) = 𝑎(𝑥 − 2) 2<br />
                        Agora, para “subir” essa função duas unidades, basta somar 2 ao final.<br />
                        𝑓(𝑥) = 𝑎(𝑥 − 2) 2 + 2<br /><br />

                        Para facilitar, vamos desenvolver a expressão.<br /><br />
                        𝑓(𝑥) = 𝑎(𝑥 − 2) 2 + 2<br />
                        𝑓(𝑥) = 𝑎(𝑥 2 − 4𝑥 + 4) + 2<br />
                        𝑓(𝑥) = 𝑎𝑥 2 − 4𝑎𝑥 + 4𝑎 + 2<br />
                        Como o termo independente deve valer −6, temos.<br /><br />
                        4𝑎 + 2 = −6 ⇒ 4𝑎 = −8 ⇒ 𝑎 = −2<br />
                        Substituindo 𝑎 = −2 em nossa 𝑓(𝑥), temos.<br /><br />
                        𝑓(𝑥) = 𝑎𝑥 2 − 4𝑎𝑥 + 4𝑎 + 2<br />
                        𝑓(𝑥) = (−2)𝑥 2 − 4. (−2). 𝑥 + 4. (−2) + 2<br />
                        𝑓(𝑥) = −2𝑥 2 + 8𝑥 – 6<br /><br />
                        Assim,<br /><br />
                        𝑎 + 𝑏 + 𝑐 = −2 + 8 − 6 = 0<br />
                  
                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (Fuvest 2020 – Primeira Fase)<br /><br />
            Um dono de restaurante assim descreveu a evolução do faturamento quinzenal de seu negócio, ao 
            longo dos dez primeiros meses após a inauguração: “Até o final dos três primeiros meses, tivemos 
            uma velocidade de crescimento mais ou menos constante, quando então sofremos uma queda abrupta, com 
            o faturamento caindo à metade do que tinha sido atingido. Em seguida, voltamos a crescer, igualando, 
            um mês e meio depois dessa queda, o faturamento obtido ao final do terceiro mês. Agora, ao final do 
            décimo mês, estamos estabilizando o faturamento em um patamar 50% acima do faturamento obtido ao final 
            do terceiro mês”.<br />

            <img src="~/images/Vest/img60.png" /><br /><br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible7" class="toggle" type="checkbox">
        <label for="collapsible7" class="lbl-toggle" id="gabarito7">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito7">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = E.<br />

                        Questão puramente interpretativa e de complexidade baixa, visto que não exige cálculos. <br />
                        No entanto, é preciso estar atento para não incorrer em erro.<br />
                        Quando colocamos no gráfico, item a item, os dados do enunciado, temos.<br />

                        <img src="~/images/Vest/img61.png" /><br /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
            (Fuvest/2015 – Primeira fase) <br /><br />
            A trajetória de um projétil, lançado da beira de um penhasco sobre um terreno plano e horizontal, 
            é parte de uma parábola com eixo de simetria vertical, como ilustrado na figura abaixo. <br />
            O ponto P sobre o terreno, pé da perpendicular traçada a partir do ponto ocupado pelo projétil, 
            percorre 30m desde o instante do lançamento até o instante em que o projétil atinge o solo. <br />
            A altura máxima do projétil, de 200m acima do terreno, é atingida no instante em que a distância percorrida 
            por P, a partir do instante do lançamento, é de 10m. Quantos metros acima do terreno estava o projétil 
            quando foi lançado?<br />

            <img src="~/images/Vest/img62.png" /><br /><br />

            <br /> <br />
            a) 60<br />
            b) 90<br />
            c) 120<br />
            d) 150<br />
            e) 180<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible8" class="toggle" type="checkbox">
        <label for="collapsible8" class="lbl-toggle" id="gabarito8">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito8">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = D.<br />

                        Com os dados do enunciado, vamos esboçar, no plano cartesiano, uma parábola que represente a situação.<br />

                        <img src="~/images/Vest/img63.png" /><br /><br />

                        Já vimos nessa aula que esse tipo de parábola não deve apresentar o termo 𝑏𝑥 em sua equação, 
                        além de apresentar o intercepto-y igual a 200, ou seja, é do tipo:<br /><br />
                        𝑦 = 𝑎𝑥2 + 200<br /><br />
                        Além disso, a trajetória toca o solo (𝑦 = 0 ) no ponto de abscissa 𝑥 = 20. Podemos, então, 
                        substituir esses valores na equação da parábola para descobrir o valor do coeficiente 𝑎.<br /><br />
                        𝑦 = 𝑎𝑥2 + 200<br />
                        0 = 𝑎. 202 + 200<br />
                        0 = 𝑎. 400 + 200<br /><br />
                        Subtraindo 200 de ambos os membros:<br /><br />
                        −200 = 𝑎. 400<br />
                        Dividindo por 400 em ambos os membros:<br /><br />

                        <img src="~/images/Vest/img64.png" /><br /><br />

                        Assim, completamos nossa parábola da trajetória:<br /><br />
                        𝑦 = 𝑎𝑥2 + 200<br />

                        Como queremos saber qual é a altura do terreno em relação ao solo e o lançamento 
                        ocorreu na posição 𝑥 = −10 em nosso sistema de coordenadas, temos:<br /><br />

                        <img src="~/images/Vest/img65.png" /><br /><br />

                        Simbolizando que a altura do terreno, em relação ao solo, é de 150 metros.<br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
           (Fuvest/2010 – Primeira fase) <br /><br />
            A função 𝑓: ℝ → ℝ tem como gráfico uma parábola e satisfaz 𝑓(𝑥 + 1) − 𝑓(𝑥) = 6𝑥 − 2, 
            para todo número real 𝑥. Então, o menor valor de 𝑓(𝑥) ocorre quando 𝑥 é igual a

            <br /> <br />
            a) 11/6<br />
            b) 7/6<br />
            c) 5/6<br />
            d) 0<br />
            e) -5/6<br />


        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible9" class="toggle" type="checkbox">
        <label for="collapsible9" class="lbl-toggle" id="gabarito9">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito9">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />
                        Como 𝑓(𝑥) tem como gráfico uma parábola, temos que<br /><br />
                        𝑓(𝑥) = 𝑎𝑥2 + 𝑏𝑥 + c<br /><br />
                        Vamos, então, seguir as orientações acerca da função 𝑓 e descobrir o que pudermos sobre os 
                        coeficientes 𝑎, 𝑏, 𝑐.<br />


                        <img src="~/images/Vest/img66.png" /><br /><br />

                        O enunciado pede o valor de 𝑥 para o menor valor de 𝑓(𝑥), ou seja, o 𝑥v.<br />

                        <img src="~/images/Vest/img67.png" /><br /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

    <h4>
        <i>
             (Fuvest/2003 – Primeira fase)<br /><br />
            Seja 𝑓 a função que associa, a cada número real 𝑥, o menor dos números 𝑥 + 3 e −𝑥 + 5. Assim, 
            o valor máximo de 𝑓(𝑥) é:

            <br /> <br />
            A) 1<br />
            B) 2<br />
            C) 4<br />
            D) 6<br />
            E) 7<br />

        </i>
    </h4>

    <div class="wrap-collabsible">
        <input id="collapsible10" class="toggle" type="checkbox">
        <label for="collapsible10" class="lbl-toggle" id="gabarito10">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito10">
            <div class="content-inner">
                <p>
                    <i>
                        Alternativa Correta = C.<br />
                        Fazendo o gráfico das duas funções auxiliares e, com ele, associando o menor valor entre elas, temos.<br />

                        <img src="~/images/Vest/img68.png" /><br /><br />

                        <img src="~/images/Vest/img69.png" /><br /><br />

                    </i>
                </p>
            </div>
        </div>
    </div>

</div><br /><br />

    <div id="container-2" class="container" style="background-color:lightskyblue">
    <h3><a asp-action="ExerciciosFuvest" style="text-decoration: none">Página anterior</a><br /></h3><br />
    </div>

