@{
    ViewData["Title"] = "Vestibulares - Índice";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="coluna2">
            <div class="cartao2">
                <img src="/images/noticias-vestibulares-logo.jpg" />

            </div>
            <div>
                <a href="https://g1.globo.com/educacao/enem/2022/noticia/2022/10/16/meteu-essa-professora-escreve-modelo-de-redacao-nota-mil-do-enem-citando-o-youtuber-casimiro.ghtml" title="Casimiro fala sobre redação nota 1000"><img src="https://s.glbimg.com/jo/g1/static/live/imagens/img_facebook.png?g1" width="50%" style="max-width:400px;" alt="Casimiro fala sobre redação nota 1000"></a><br>"Casimiro fala sobre redação nota 1000" <a href="https://g1.globo.com/" target="_blank"></a>
            </div>
        </div>
    </div>
</div>