@{
    ViewData["Title"] = "Vestibulares - Índice";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="coluna2">
            <div class="cartao2">
                <img src="/images/noticias-vestibulares-logo.jpg" />

            </div>

            <div class="linha">
                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_enem.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Redação nota mil</h5>
                            <p class="card-text">Professora escreve modelo de redação nota mil do Enem citando o youtuber Casimiro</p>
                            <a href="https://g1.globo.com/educacao/enem/2022/noticia/2022/10/16/meteu-essa-professora-escreve-modelo-de-redacao-nota-mil-do-enem-citando-o-youtuber-casimiro.ghtml" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_fuvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Troca de forma de seleção</h5>
                            <p class="card-text">USP propõe trocar Sisu por nova forma de seleção via Enem</p>
                            <a href="https://g1.globo.com/sp/sao-paulo/educacao/noticia/2022/10/21/usp-propoe-trocar-sisu-por-nova-forma-de-selecao-via-enem.ghtml" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_comvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Local de Prova</h5>
                            <p class="card-text">Comvest divulga locais de prova da primeira fase</p>
                            <a href="https://www.unicamp.br/unicamp/noticias/2022/10/21/comvest-divulga-locais-de-prova-da-primeira-fase" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_enem.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Orientações para a prova</h5>
                            <p class="card-text">Confira orientações para o dia da aplicação do Enem</p>
                            <a href="https://www.gov.br/inep/pt-br/assuntos/noticias/enem/confira-orientacoes-para-o-dia-da-aplicacao-do-enem" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_fuvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Manual do Candidato</h5>
                            <p class="card-text">Manual do candidato vestibular 2023</p>
                            <a href="https://www.fuvest.br/wp-content/uploads/fuvest2023_manual_candidato_retificado_29092022.pdf " target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_comvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Vestibulares anteriores</h5>
                            <p class="card-text">Confira todos os vestibulares anteriores da Comvest</p>
                            <a href="https://www.comvest.unicamp.br/estatisticas-comvest/vestibulares/vestibulares-anteriores/" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_comvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Edital</h5>
                            <p class="card-text">Edital Comvest 2023</p>
                            <a href="https://static.mundoeducacao.uol.com.br/vestibular/2022/07/edital-vestibular-2023-unicamp.pdf" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_enem.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Gabaritos e Provas</h5>
                            <p class="card-text">Gabaritos e provas de edições anteriores</p>
                            <a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enem/provas-e-gabaritos" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_fuvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Ranking de Cursos</h5>
                            <p class="card-text">Fuvest divulga número de inscritos no vestibular e carreiras mais concorridas</p>
                            <a href="https://jornal.usp.br/universidade/fuvest-divulga-numero-de-inscritos-no-vestibular-e-carreiras-mais-concorridas/" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_enem.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Participantes com COVID-19</h5>
                            <p class="card-text">Enem: participantes com Covid-19 devem remarcar a prova; saiba como fazer</p>
                            <a href="https://www.cnnbrasil.com.br/saude/enem-participantes-com-covid-19-devem-remarcar-a-prova-saiba-como-fazer/" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_enem.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Edital</h5>
                            <p class="card-text">Edital Enem 2023</p>
                            <a href="https://s1.static.brasilescola.uol.com.br/enem/2022/05/edital-enem-2022.rar" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_enem.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Locais de provas</h5>
                            <p class="card-text">Link participante ENEM para consulta de local de provas e outras informações:</p>
                            <a href="https://www.enem.inep.gov.br/participante/#!/inicial" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_fuvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Relações por Vaga</h5>
                            <p class="card-text">Informações de relações por vaga de cada modalidade de curso:</p>
                            <a href="https://acervo.fuvest.br/fuvest/index.html" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_comvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Estatística Vestibular</h5>
                            <p class="card-text"> Estatísticas dos Vestibulares Anteriores - COMVEST</p>
                            <a href="https://www.comvest.unicamp.br/estatisticas-comvest/" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_fuvest.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Jornal USP</h5>
                            <p class="card-text">Informações atualizadas sobre a USP</p>
                            <a href="https://jornal.usp.br/" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao" style="width: 100%;">
                        <img src="/images/img noticias/noticia_enem.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Noticias Enem</h5>
                            <p class="card-text">Noticias atualizadas ENEM</p>
                            <a href="https://g1.globo.com/educacao/enem/2022/" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                </div>
                                                           
                           

            </div>
        </div>
    </div>
</div>