@{
    ViewData["Title"] = "Conjuntos Numéricos - Conjunto R";
}
<br />
<div id="container-1" class="container">

    <h1>Conjunto R dos números Reais</h1><br /><br />

    Para o conjunto que é formado pela reunião dos números racionais com o conjunto dos números irracionais, 
    temos a classificação de conjunto dos números reais, e esse conjunto é representado por ℝ.<br />

    <img src="~/images/Mat/img28.png" /><br /><br />

    Desta forma, temos: ℝ = ℚ ∪ 𝕀, sendo ℚ ∩ 𝕀 = ∅ → Se um número real é racional, então não é irracional 
    e desta forma vice-versa.<br />
    Temos: ℕ ⊂ ℤ ⊂ ℚ ⊂ ℝ e 𝕀 ℝ<br />
    Observamos: 𝕀 = ℝ - ℚ<br />

    Além dos conjuntos que já utilizamos (ℕ, ℤ, ℚ e 𝕀), o conjunto dos números reais apresenta também outros 
    tipos de subconjuntos que são importantes:<br />

    O conjunto dos números reais não nulos: ℝ* = {x ∈ ℝ | x ≠ 0} = ℝ - {0}<br />
    O conjunto dos números reais não negativos: R+ = {x ∈ ℝ | x ≥ 0}<br />
    O conjunto dos números reais positivos: R+* = {x ∈ ℝ | x > 0}<br />
    O conjunto dos números reais não positivos: R- = {x ∈ ℝ | x ≤}<br />
    O conjunto dos números reais negativos: R-* = {x ∈ ℝ | x < 0}<br />

    Podemos observar que cada um dos cinco conjuntos contém números racionais e números irracionais.<br />

    <h3>Representação geométrica do conjunto dos números reais</h3><br />
    Utilizando novamente a reta numerada, mas com alguns números racionais (inteiros ou não) já marcados. 
    Vamos agora marcar nessa reta alguns números irracionais, conforme representado abaixo:<br />

    <img src="~/images/Mat/img29.png" /><br /><br />

    Para os conceitos de números opostos, temos que os números inversos e o módulo de um número foram 
    apresentados nos conjuntos pertinentes. Todos se aplicam (da mesma forma) aos números reais, de um modo geral. 
    Como exemplo:<br />

    O oposto de 5 é-5, visto que 5+-5=0<br />
    |-π| = |π| = π<br />
    O inverso de 2 é 12 = 22, visto que 2 * 22 = 1<br />

    <h3>Intervalos reais</h3><br />

    Em conjunto dos números reais, temos que os subconjuntos também são denominados intervalos, 
    onde os elementos são determinados por meio de desigualdades. <br />
    Sendo os números reais a e b, com a < b. Conforme a representações abaixo:<br />

    Intervalo aberto de extremos a e b é o conjunto ]a, b[ = {x ∈ ℝ | a < x < b}<br />

    <img src="~/images/Mat/img30.png" /><br /><br />

    Intervalo fechado de extremos a e b é o conjunto [a, b] = {x ∈ ℝ | a ≤ x ≤ b}<br />

    <img src="~/images/Mat/img31.png" /><br /><br />

    Intervalo aberto à direita e fechado à esquerda de extremos a e b é o conjunto [a, b[ = {x ∈ ℝ | a ≤ x < b}<br />

    <img src="~/images/Mat/img32.png" /><br /><br />

    Também existem os seguintes intervalos:<br />
    ] - ∞, a] = {x ∈ ℝ | x ≤ a}<br />

    <img src="~/images/Mat/img33.png" /><br /><br />

    ] - ∞, a[ = {x ∈ ℝ | x < a}<br />

    <img src="~/images/Mat/img34.png" /><br /><br />

    [a, + ∞[ = {x ∈ ℝ | x ≥ a}<br />

    <img src="~/images/Mat/img35.png" /><br /><br />

    ]a, + ∞[ = {x ∈ ℝ | x > a}<br />

    <img src="~/images/Mat/img36.png" /><br /><br />

    Para a resolução de inequações e de outros problemas que são necessárias as operações como união, 
    interseção etc, entre os intervalos, podemos utilizar uma representação gráfica.<br />

    Conteúdo retirado do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 28 a 31 – Disponível em: <a href="https://api.plurall.net/media_viewer/documents/2414500">https://api.plurall.net/media_viewer/documents/2414500</a>
    <br /><br />

    Vídeo aula do canal: Gis com Giz Matemática – Professora Gis Bezerra:<br />
    <div class="container" id="container-alternativas">
    <iframe width="600" height="420" src="https://www.youtube.com/embed/rDEJDS5zJ3U" title="CONJUNTOS NUMÉRICOS \Prof. Gis/ #01" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1>
    <br />

    <h3>
        <a asp-action="ConjuntosNumericos" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="ConjuntosNumericos1" style="text-decoration: none">1.	Conjunto ℕ</a><br />

        <a asp-action="ConjuntosNumericos2" style="text-decoration: none">2.	Conjunto Z</a><br />

        <a asp-action="ConjuntosNumericos3" style="text-decoration: none">3.    Conjunto Q</a><br />

        <a asp-action="ConjuntosNumericos4" style="text-decoration: none">3.    Conjunto I</a><br />

        <a asp-action="ConjuntosNumericos5" style="text-decoration: none">3.    Conjunto R</a><br />

        <a asp-action="ConjuntosNumericos6" style="text-decoration: none">3.    Razão, Proporção e Porcentagem</a><br />

    </h3>




</div>
