@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Conjunto";
}
<h1>Conjuntos e funções </h1>
<br />

Letras maiúsculas como por exemplo A, B,. . . X, Y, Z, indicarão conjuntos A letra grega Ω ( ômega) ) representará o conjunto universal
com uma situação determinada. Letras minúsculas. a, b, . . . , x,y,z, indicarão elementos desses conjuntos.
<br />
<br />

A relação de pertencer será indicada pela letra grega E escrevemos por exemplo, a € A. O conjunto vazio será representado pela letra 4.
Um conjunto com um número reduzido de elementos será indicado simplesmente listando seus elementos. Por exemplo o conjunto que consiste nos
números 1, 2, 3 será representado por:
<br />
<br />

A={1,2,3};
<br />
<br />

(1) representa o conjunto que tem como unico elemento o número 1. Um conjunto pode tambem ser descrito por uma propriedade r, comum a
todos os seus elementos, e escreveremos
<br />
<br />

A = {x lx tem a propriedade n).
<br />
<br />

Por exemplo,
<br />
<br />

A={x|x = 2k, k=1,2,...}
<br />
<br />

descreve o conjunto dos inteiros pares positivos. Usaremos o símbolo #A para representar o número de elementos do conjunto A, isto é, a
cardinalidade de A.
<br />
<br />



Origem: <a href="https://portaldaobmep.impa.br/uploads/msg/5fpwf84eez8c0.pdf">link</a>
<br />
<br />


<br /><iframe width="650" height="450" src="https://www.youtube.com/embed/0aUEDxYjZg8" title="Conjuntos: Introdução (Aula 1 de 4)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
