@{
    ViewData["Title"] = "Conjuntos Numéricos - Razão, Proporção e Porcentagem";
}
<br />
<div id="container-1" class="container">

    <h1>Razão, Proporção e Porcentagem</h1><br /><br />

    <h3>Razão:</h3><br />

    Para dois números reais como a e b, com b ≠ 0, ele é chamado de razão de a para b o quociente ab que 
    também indicado por a : b
    O número a é chamado antecedente, e o número b é chamada consequente. Demonstrando alguns exemplos na prática temos:<br />
    Exemplo:<br />
    Em um grupo de 60 turistas que visitaram o Pão de Açúcar, no Rio de Janeiro, havia 36 brasileiros e 24 estrangeiros.<br />
    A razão entre o número de brasileiros e o número de estrangeiros no grupo é 3624 = 32, o que significa 
    que → para cada 3 brasileiros, tem 2 estrangeiros<br />
    A razão entre o número de brasileiros e o total de turistas do grupo é de 3660 = 35, 
    isso significa que → de cada 5 turistas no grupo, 3 são brasileiros.<br /><br />

    <h3>Proporção:</h3><br />

    Para duas razões como  abe cd, é chamado como proporção a igualdade entre essas razões:<br />
    ab= cd (a está para b assim como c está para d)<br />
    Dentro de uma proporção, os números a e d são chamados de extremos, e os números b e c são chamados de meios
    Na proporção  ab= cd  tem como validade a propriedade:<br />
    a * b = b * c<br />
    Para conseguir demonstrar essa propriedade, temos que multiplicar os dois membros da igualdade por b * d ≠ 0:<br />
    b * d * ab = b * d * cd → a * d = b * c<br />
    Temos que o produto dos extremos (a e d) são iguais ao produto dos meios (b e c)<br />
    Como exemplo, na proporção 23= 69 temos 2 * 9 = 6 * 3 = 18; e também na proporção 14= 416 temos 1 * 16 = 4 * 4.<br /><br />

    <h3>Porcentagem:</h3><br />

    Para as razões de denominador 100 são chamadas razões centesimais ou taxas percentuais, 
    ou também de uma forma mais informal, porcentagens.<br />
    Podemos expressar as porcentagens de duas formas: forma de fração com denominador 100 
    ou na forma decimal (que divide o numerador pelo denominador). Como exemplo:<br />

    30% = 30100 = 0,30<br />
    4% = 4100 = 0,04<br />
    135% = 135100 = 1,35<br />
    27,9% = 27,9100 = 0,279<br />
    0,5% = 0,5100 = 0,005<br />
    18% = 18100 = 0,18<br /><br />

    Conteúdo retirado do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 34 a 35 – Disponível em: <a href="https://api.plurall.net/media_viewer/documents/2414500">https://api.plurall.net/media_viewer/documents/2414500</a> <br /><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1>
    <br />

    <h3>
        <a asp-action="ConjuntosNumericos" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="ConjuntosNumericos1" style="text-decoration: none">1.	Conjunto ℕ</a><br />

        <a asp-action="ConjuntosNumericos2" style="text-decoration: none">2.	Conjunto Z</a><br />

        <a asp-action="ConjuntosNumericos3" style="text-decoration: none">3.    Conjunto Q</a><br />

        <a asp-action="ConjuntosNumericos4" style="text-decoration: none">3.    Conjunto I</a><br />

        <a asp-action="ConjuntosNumericos5" style="text-decoration: none">3.    Conjunto R</a><br />

        <a asp-action="ConjuntosNumericos6" style="text-decoration: none">3.    Razão, Proporção e Porcentagem</a><br />

    </h3>




</div>
