@{
    ViewData["Title"] = "Conjuntos Numéricos - Conjunto I";
}
<br />
<div id="container-1" class="container">

    <h1>Conjunto I</h1><br /><br />

    Existem números decimais que podem ser escritos como frações com numerador e denominador inteiros,
    como também existe os que não permitem esse tipo de representação. Isso se refere a os números que possuem
    representação decimal infinita não periódica. Como exemplo:<br />

    O número 0,212112111... não é dízima periódica, já que estão após a virgula não se repetem periodicamente.<br />
    O número 1,203040... também não comporta a representação fracionária, pois não é dizima periódica.<br />
    Os números 2 = 1,4142135..., 3 = 1,7320508... e π = 3,141592...., como não apresentam a representação infinita periódica,
    também não são números racionais. O número π representa o quociente entre a medida do comprimento de uma circunferência
    e a medida do seu diâmetro.<br /><br />

    Para um número que a representação decimal infinita não é periódica é chamado de número irracional, e o
    conjunto desses números é representado por 𝕀.<br />
    A representação decimal do número 2, que foi apresentada anteriormente, não garante que 2 seja irracional.
    Conseguimos demonstrar esse fato com:<br />

    Demonstração: A demonstração utilizada será a redução ao absurdo, essa demonstração tem como base formular uma
    hipótese, supostamente verdadeira, e também com o meio de encadeamento lógico, atingir a uma proposição contrária
    a essa hipótese. Dessa contradição, se deduz que a hipótese formulada é falsa.<br />
    Suponhamos, por absurdo, que 2 ∈ ℚ, com estas condições, teríamos 2 = pq (1), com p ∈ ℤ e q ∈ ℤ*.<br />
    Supondo ainda que, pq seja fração irredutível, isto é, mdc (p,q) = 1.<br />
    Elevando ao quadrado os dois membros de (1), obtemos: 2 = p2q2 → p2 = 2q2 (2).<br />
    Como q ∈ ℤ* e 2q2 é par, conclui que se p2 é par, logo p é par e p = 2k, k ∈ ℤ.<br />
    Substituindo em (2):<br />
    (2k)2=2q2 →4k2 = 2q2→ q2 = 2k2 → q2 é par, então q é par.<br />
    Então se p e q são pares, a fração pq não é irredutível, isso contraria a hipótese.
    A contradição veio do fato de termos admitindo que 2 é um número racional.
    Desta forma 2 não pode ser racional, logo 2 é irracional.<br /><br />


    Conteúdo retirado do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 27 – Disponível em: <a href="https://api.plurall.net/media_viewer/documents/2414500">https://api.plurall.net/media_viewer/documents/2414500</a><br /><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1>
    <br />

    <h3>
        <a asp-action="ConjuntosNumericos" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="ConjuntosNumericos1" style="text-decoration: none">1.	Conjunto ℕ</a><br />

        <a asp-action="ConjuntosNumericos2" style="text-decoration: none">2.	Conjunto Z</a><br />

        <a asp-action="ConjuntosNumericos3" style="text-decoration: none">3.    Conjunto Q</a><br />

        <a asp-action="ConjuntosNumericos4" style="text-decoration: none">3.    Conjunto I</a><br />

        <a asp-action="ConjuntosNumericos5" style="text-decoration: none">3.    Conjunto R</a><br />

        <a asp-action="ConjuntosNumericos6" style="text-decoration: none">3.    Razão, Proporção e Porcentagem</a><br />

    </h3>




</div>
