@{
    ViewData["Title"] = "Conjuntos Numéricos - Conjunto ℚ";
}
<br />
<div id="container-1" class="container">

    <h1>Conjunto ℚ</h1><br /><br />


    Temos que o conjunto ℤ é fechado em relação às operações de adição, multiplicação e subtração, 
    mas isso não acontece para a operação de divisão. <br />
    Podemos notar que, embora (-12) : (+4) = -3 ∈ ℤ, não existe número inteiro x para o qual se 
    tenha x = (+4) : (-12). <br />
    Por conta disso, foi realizado uma ampliação do conjunto ℤ, da qual surgiu o conjunto dos números racionais.<br />
    O conjunto dos números racionais, identificado por ℚ é inicialmente descrito como o conjunto dos quocientes 
    entre dois números inteiros, onde os divisores são diferentes de zero. Como exemplo, são números racionais:<br />

    0, ± 1, ± 1/2, ±1/3, ±2, ±2/3, ±2/5 etc<br />

    Também podemos escrever, de modo mais simplificado, como:<br />
    ℚ = {p/q | p ∈ ℤ e q ∈ ℤ *}<br /><br />

    Deste modo, podemos definir o conjunto ℚ como o conjunto das frações pq; assim, um número 
    é racional quando pode ser escrito como uma fração pq, com p e q inteiros e q ≠ 0.<br />
    Se q = 1, temos que pq = p1 = p ∈ ℤ, isso mostra que ℤ é subconjunto de ℚ. <br />
    Com isso podemos construir o diagrama a seguir:<br />

    <img src="~/images/Mat/img24.png" /><br /><br />

    No conjunto ℚ, temos o destaque nos seguintes subconjuntos:<br />
    ℚ*: conjunto dos números racionais não nulos;<br />
    Q +: conjunto dos números racionais não negativos;<br />
    Q -* : conjunto dos números racionais positivos;<br />
    Q - : conjunto dos números racionais não positivos;<br />
    Q -* ; conjunto dos números racionais negativos<br /><br />

    Para o conjunto ℚ, temos que ele é fechado para as operações de adição, multiplicação e subtração. 
    A “divisão por zero” não é definida, por isso, o conjunto ℚ não é fechado em relação à divisão. 
    Mas para o conjunto ℚ* temos que é fechado em relação a divisão.<br /><br />

    <h3>Decimais das frações</h3><br />

    Para um número racional como pq, onde p não seja múltiplo de q. Para podermos escrever na forma decimal, 
    precisamos apenas efetuar a divisão do numerador pelo denominador. Com essa divisão podemos acabar ocorrendo 
    dois casos, que são:<br />

    1º O quociente obtido tem, após a virgula, uma quantidade finita de algarismos e o resto da divisão é zero. Como exemplo:<br />

    2/5  → 2/5 = 0,4 → Resto = 0<br />
    35/4 → 35/4 = 8,75 → Resto = 0<br />
    1/8 → 1/8 = 0,125 → Resto = 0<br /><br />

    Quando obtemos essas respostas, os decimais que obtemos são chamados de decimais exatos.<br />
    Podemos observar que se acrescentarmos uma quantidade finita ou infinita de algarismos que sejam iguais a zero, 
    à direita do último algarismo diferentes de zero, não temos alteração no quociente que foi obtido. 
    Como exemplo, temos algumas representações possíveis para o número racional 25;<br />

    2/5 = 0,4 = 0,40 = 0,400 = 0,400000...<br />

    De forma inversa, temos que, a partir do decimal exato 0,4, conseguimos identificá-lo como 
    fração 410, que, simplificada, se reduz a 25. Como exemplo também, 8,75 = 875100= 354 ; 1,2 = 1210= 65
    2º O quociente obtido tem, após a virgula, uma infinidade de algarismos, nem todos iguais a zero, 

    e não é possível obter resto igual a zero na divisão. Como exemplo:<br />
    
    2/3 → 2/3 = 0,6666.... → 23 = 0,6666...= 0,6 → Resto = 2<br />
    167/66 → 167/66 = 2,53030... → 16766 = 2,53030...= 2,530 → Resto = 20<br />
    11/9 → 11/9 = 1,222... → 119 = 1,222...  = 1,2 → Resto = 2<br /><br />

    Conseguimos observar que, nesses casos, ocorrem uma repetição de alguns algarismos. Para os números 
    decimais obtidos, eles são classificados como decimais periódicos ou dízimas periódicas, em cada um 
    deles os algarismos que se repetem formam a parte periódica, ou período da dízima. Para não escrever 
    repetidamente os algarismos de uma dízima, podemos colocar um traço horizontal sobre o seu primeiro período.
    Se temos uma fração que é equivalente a duma dízima periódica, ela é classificada como geratriz dessa dízima. 
    Olhando os exemplos anteriores, temos 23 é fração geratriz da dízima 0,6; 119 é fração geratriz da dízima 1,2 etc.
    Para uma fração (irredutível) gerar uma dízima, é necessário que, na decomposição em fatores primos do 
    denominador da fração equivalente irredutível, exista um fator diferente de 2 e de 5, como exemplo:<br />

    As frações 4125; 316; 31100; -78 etc. não geram dízimas periódicas;<br />
    41/25 → 5<sup>2</sup> ; 316 → 2<sup>4</sup> ; 31100 → 2<sup>2</sup>*5<sup>2</sup> ; - 78 → 2<sup>3</sup>

    As frações 16, 142, -533, 245 etc. geram dízimas periódicas;
    1/6 →2 * 3, 1/42 →2 * 3 * 7, -5/33 →3 * 11, 2/45 → 3<sup>2</sup> * 5<br /><br />

    <h3>Representação fracionária das dízimas periódicas</h3><br />
    Abaixo vamos representar alguns exemplos de transformação de dízimas periódicas em frações:<br /><br />

    Exemplo 1)<br />
    Seja a dízima x = 0,8 = 0,8888... (1):<br />
    Fazemos 10x = 10 * 0,8888... = 8,888... = 8,8 (2)<br />
    Realizando a subtração de membro a membro (1) e (2), temos:<br />
    10x – x = 8,8 – 0,8 → 9x = 8 → x = 89<br />

    Exemplo 2)<br />
    Com dízima z = 0,96, fazemos 100z = 96, 96 e subtraímos a primeira da segunda equação:<br />
    100z – z = 96, 96 – 0, 96 → 99z = 96 → z = 9699 = 3233<br />

    Exemplo 3)<br />
    Seja a dízima periódica t = 2,0454545... (1)<br />
    Com isso temos:<br />
    {10*t=20,4545…2 1000*t=2045,4545…(3)<br />
    Realizando a subtração de (2) e (3), temos:<br />
    990t = 2025 → t = 2025990 = 4522<br /><br />

    <h3>Representação geométrica do conjunto dos números racionais</h3><br />

    Para exemplos de números racionais, vamos localizar cada um deles na reta numerada, 
    essa reta já contém alguns números inteiros assinalados:<br />

    <img src="~/images/Mat/img25.png" /><br /><br />

    Conseguimos notar que entre dois números inteiros consecutivos existem infinitos números 
    racionais e, também, que entre dois números racionais quaisquer há infinitos números racionais. 
    Como exemplo, entre os racionais 12 = 0,5 e 23 = 0,6, podemos encontrar os racionais 
    59 = 0,5, 35 = 0,6 e 61100 = 0,61, entre outros.<br /><br />

    <img src="~/images/Mat/img26.png" /><br /><br />

    Para procedimentos comuns temos que achar um número racional compreendido entre os outros dois     
    números racionais e calcular a média aritmética entre eles, como exemplo:<br />

    <img src="~/images/Mat/img27.png" width="275px" height="275px"/><br />

    <h3>Oposto, módulo e inverso de um número racional</h3><br />

    Temos que os conceitos de oposto e módulo são estudados para os números inteiros anteriormente, 
    também temos como realizar esses conceitos paras os números racionais qualquer. Como exemplo:<br />
    O oposto de -34 é 34<br />
    O oposto de 1711  é- 1711<br />
    -78= 78= 78<br />
    -13=13=13<br />

    Dois números racionais são considerados inversos um do outro se o produto deles é igual a 1.<br />
    Como exemplo, 56 e 65 são inversos um do outros, 2 é o inverso de 12; e -53 é o inverso de -35.<br />
    Observamos que dois números inversos entre si têm necessariamente o mesmo sinal.<br /><br />

    Conteúdo retirado do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 23 a 26 – Disponível em: <a href="https://api.plurall.net/media_viewer/documents/2414500">https://api.plurall.net/media_viewer/documents/2414500</a><br /><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1>
    <br />

    <h3>
        <a asp-action="ConjuntosNumericos" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="ConjuntosNumericos1" style="text-decoration: none">1.	Conjunto ℕ</a><br />

        <a asp-action="ConjuntosNumericos2" style="text-decoration: none">2.	Conjunto Z</a><br />

        <a asp-action="ConjuntosNumericos3" style="text-decoration: none">3.    Conjunto Q</a><br />

        <a asp-action="ConjuntosNumericos4" style="text-decoration: none">3.    Conjunto I</a><br />

        <a asp-action="ConjuntosNumericos5" style="text-decoration: none">3.    Conjunto R</a><br />

        <a asp-action="ConjuntosNumericos6" style="text-decoration: none">3.    Razão, Proporção e Porcentagem</a><br />

    </h3>




</div>
