@{
    ViewData["Title"] = "Conjuntos Numéricos - Conjunto Z";
}
<br />
<div id="container-1" class="container">

    <h1>Conjunto Z</h1><br /><br />

    Os conjuntos dos números inteiros são:<br />
    ℤ = {..., -4, -3, -2, -1, 0, 1, 2, 3, 4, ...}<br />
    Podemos observar que todo número natural é também um número inteiro, dessa forma, ℕ é subconjunto de ℤ (ou ℕ ⊂ ℤ ou ℤ ⊃ ℕ).<br />


    <img src="~/images/Mat/img19.png" /><br /><br />

    Para a representação geométrica do conjunto dos números inteiros, temos a realização a partir de 
    representação de ℕ na reta numerada, é somente acrescentar os pontos correspondentes aos números negativos, 
    conforme representado abaixo<br />

    <img src="~/images/Mat/img20.png" /><br /><br />

    Temos para os conjuntos de números inteiros alguns subconjuntos notáveis, que são:<br />

    O conjunto dos números inteiros não nulos:<br />
    ℤ * = {..., -4, -3, -2, -1, 1, 2, 3, 4, ...} = ℤ – {0}<br />
    O conjunto dos números inteiros não negativos:<br />
    Z+ = {0, 1, 2, 3, 4, ...}<br />
    O conjunto dos números inteiros (estritamente) positivos:<br />
    Z+* = {1, 2, 3, 4, ...}<br />
    O conjunto dos números inteiros não positivos:<br />
    Z- = {..., -5, -4, -3, -2, -1, 0}<br />
    O conjunto dos números inteiros (estritamente) negativos:<br />
    Z-* = {..., -5, -4, -3, -2, -1,}<br />
    O conjunto dos números inteiros múltiplos de 4:<br />
    M(4) = {..., -8, -4, 0, 4, 8, 12, ...}<br /><br />


    <h3>Número inteiros opostos</h3><br />

    Quando temos dois números inteiros eles são considerados opostos um do outro quando sua soma 
    é igual a zero. Desta forma, geometricamente, são representados na reta por pontos que distam 
    igualmente da origem:<br />
    Para um exemplo, temos o número 2, o oposto do número 2 é -2, e o oposto de -2 é 2, pois 2 + (-2) = (-2) + 2 = 0<br />

    <img src="~/images/Mat/img21.png" /><br /><br />

    No geral, dizemos que o oposto, ou simétrico, de a é -a, e vice-versa<br /><br />


    <h3>Módulo de um número inteiro</h3><br />

    Se x ∈ ℤ, o módulo ou valor absoluto de x (indica-se: |x|) é definido pelas seguintes relações:<br />
    Se x ≥ 0, o módulo de x é igual ao próprio valor de x, isto é, |x| = x.<br />
    Se x < 0, o módulo de x é igual ao oposto de x, isto é, |x| = -x.<br /><br />

    Temos alguns exemplos, como:<br />
    |7| = 7 → |7| = positivo<br />
    |-3| = -(-3) = 3 → |-3| = negativo<br />
    |-12| = -(-12) = 12 → |-12| = negativo<br />
    |0| = 0<br />
    |63| = 63 → |63| = positivo<br /><br />


    <h3>Interpretação geométrica</h3><br />

    Para a reta numerada dos números inteiros, temos que o módulo de x é igual distância entre x e a origem.  Como exemplo:<br />

    |7| = 7<br />
    <img src="~/images/Mat/img22.png" /><br /><br /><br />

    |-12| = 12<br />
    <img src="~/images/Mat/img22.png" /><br /><br /><br />

    Conseguimos notar com certa facilidade que dois números inteiros opostos têm mesmo módulo.<br />

    Conteúdo retirado do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 19 a 20 – Disponível neste link: <a href="https://api.plurall.net/media_viewer/documents/2414500"> https://api.plurall.net/media_viewer/documents/2414500 </a><br /><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1>
    <br />

    <h3>
        <a asp-action="ConjuntosNumericos" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="ConjuntosNumericos1" style="text-decoration: none">1.	Conjunto ℕ</a><br />

        <a asp-action="ConjuntosNumericos2" style="text-decoration: none">2.	Conjunto Z</a><br />

        <a asp-action="ConjuntosNumericos3" style="text-decoration: none">3.    Conjunto Q</a><br />

        <a asp-action="ConjuntosNumericos4" style="text-decoration: none">3.    Conjunto I</a><br />

        <a asp-action="ConjuntosNumericos5" style="text-decoration: none">3.    Conjunto R</a><br />

        <a asp-action="ConjuntosNumericos6" style="text-decoration: none">3.    Razão, Proporção e Porcentagem</a><br />

    </h3>




</div>
