@{
    ViewData["Title"] = "Conjuntos Numéricos - Conjunto N";
}
<br />
<div id="container-1" class="container">

    <h1>Conjunto ℕ</h1><br /><br />

    Temos que os conjuntos dos números naturais são: ℕ = {0, 1, 2, 3, 4, ..., n, ...}, onde n presenta 
    o elemento genérico do conjunto.<br />
    O conjunto ℕ tem infinitos elementos e sua representação pode ser feia em uma reta numerada, como:<br />
    
    <img src="~/images/Mat/img17.png" /><br /><br />

    Nos conjuntos dos números naturais temos alguns subconjuntos que são de grande importância, esses conjuntos são:
    O conjunto dos números naturais não nulos:<br />
    ℕ * = {1, 2, 3, 4, ..., n; ...}; ℕ * = ℕ – {0}<br />
    Observando o símbolo * (asterisco) à direita do nome do conjunto, isso indica que foi retirado dele o elemento zero<br />

    O conjunto dos números naturais pares:<br />
    NP = {0, 2, 4, 6, ..., 2n, ...}, com n ∈ ℕ<br />
    Observando que, para todo o n ∈ ℕ, 2n tem a representação de um número par qualquer<br />

    O conjunto dos números naturais ímpares:<br />
    NI = {1, 3, 5, 7, ..., 2n + 1, ...}, com n ∈ ℕ<br />
    Observando que, para todo n ∈ ℕ, 2n + 1 representa um número ímpar qualquer<br />

    O conjunto dos números naturais primos:<br />
    ℙ = {2, 3, 5, 7, 11, 13, ...}<br />
    No conjunto dos números naturais estão definidas duas operações, onde os resultados são sempre 
    números naturais: adição e multiplicação. Notamos que, quando se adiciona dois elementos quaisquer    
    de ℕ, a soma pertence a ℕ.<br />
    Podemos observar também que, multiplicando-se dois elementos quais de ℕ, o produto pertence a ℕ. <br />
    Para símbolos, temos:<br /><br />

    <img src="~/images/Mat/img18.png" /><br /><br />

    Essa característica pode ser assim sintetizada:<br />
    ℕ é fechado em relação à adição e à multiplicação<br />
    Mas, o mesmo raciocínio não tem validade para a subtração.<br />
    Por exemplo, mesmo que 5 – 2 = 3 ∈ ℕ, não existe um número natural x tal que x = 2 – 5.<br />
    Por conta disso, é necessária uma ampliação do conjunto ℕ, surgindo diante disso o conjunto dos números inteiros.<br /><br />

    Conteúdo retirado do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 18 – Disponível neste link: <a href="https://api.plurall.net/media_viewer/documents/2414500">https://api.plurall.net/media_viewer/documents/2414500</a><br /><br />


</div>
<br />


<div id="container-2" class="container" style="background-color:lightskyblue">
<h1>Capítulos:</h1>
<br />

<h3>
        <a asp-action="ConjuntosNumericos" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="ConjuntosNumericos1" style="text-decoration: none">1.	Conjunto ℕ</a><br />

        <a asp-action="ConjuntosNumericos2" style="text-decoration: none">2.	Conjunto Z</a><br />

        <a asp-action="ConjuntosNumericos3" style="text-decoration: none">3.    Conjunto Q</a><br />

        <a asp-action="ConjuntosNumericos4" style="text-decoration: none">3.    Conjunto I</a><br />

        <a asp-action="ConjuntosNumericos5" style="text-decoration: none">3.    Conjunto R</a><br />

        <a asp-action="ConjuntosNumericos6" style="text-decoration: none">3.    Razão, Proporção e Porcentagem</a><br />

</h3>




</div>
