@{
    ViewData["Title"] = "Conjuntos Numéricos";
}
<br />
<div id="container-1" class="container" style="margin-top:2px">

    <h1> Introdução aos Conjuntos Numéricos </h1> <br />
    
    Chamamos de conjuntos numéricos os conjuntos que tenham números como seus elementos. 
    Para conjuntos numéricos temos os conjuntos de números naturais, dois inteiros, dos racionais, e dos racionais.<br />
    Como surgiu os conjuntos numéricos naturais? Bom, os conjuntos numéricos naturais foram criados 
    diante das necessidades dos seres humanos para realizações de contagens. Os outros conjuntos surgiram 
    como ampliações daqueles que são conhecidos, pela necessidade de serem efetuadas novas operações.<br /><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1><br />

    <h3>

        <a asp-action="ConjuntosNumericos1" style="text-decoration: none">1.	Conjunto ℕ</a><br />

        <a asp-action="ConjuntosNumericos2" style="text-decoration: none">2.	Conjunto Z</a><br />

        <a asp-action="ConjuntosNumericos3" style="text-decoration: none">3.    Conjunto Q</a><br />

        <a asp-action="ConjuntosNumericos4" style="text-decoration: none">3.    Conjunto I</a><br />

        <a asp-action="ConjuntosNumericos5" style="text-decoration: none">3.    Conjunto R</a><br />

        <a asp-action="ConjuntosNumericos6" style="text-decoration: none">3.    Razão, Proporção e Porcentagem</a><br />

    </h3>

</div>
<br />
