@{
    ViewData["Title"] = "Estatística";
}
<br />
<div id="container-1" class="container" style="margin-top:2px">

    <h1> Introdução a Estatística </h1> <br />
    <h1>Definição de Estatística </h1>
    É muito comum nos meios de comunicação, como jornais, revistas, televisão e internet, nos depararmos com informações estatísticas. Por exemplo:<br />
    <p>
        •  Os institutos de pesquisas divulgam com frequência resultados obtidos<br />
        em pesquisas que têm por objetivo avaliar o governo do presidente em exercício.<br />
        •  As taxas de cesárias, no Brasil, no sistema privado e no SUS.<br />
        •  O percentual de aumento, ou redução, no preço da cesta básica.<br />
        •  Incidência estimada de câncer de mama nos estados do Brasil.<br /><br />
        Para que estas informações sejam obtidas, precisamos coletar dados para transformá-los em informações. Portanto, podemos definir a Estatística da seguinte maneira:
        Estatística é um conjunto de técnicas utilizadas para a coleta, organização, resumo, análise e interpretação de dados.<br />

        A Estatística tem um papel fundamental em diversas áreas do conhecimento, pois o uso de técnicas estatísticas apropriadas fornece informações
        que auxiliam no processo de tomada de decisões. Por exemplo, a eficácia de um novo medicamento para reduzir o LDL colesterol é feito por
        meio de um teste clínico com pacientes. A análise dos dados obtidos informará se a redução é estatisticamente significante.
        Métodos estatísticos são essenciais no estudo de situações em que as variáveis de interesse estão sujeitas, inerentemente,
        a flutuações aleatórias. Isto acontece muito na área da saúde. Por exemplo, mesmo que o estudo seja feito com pacientes homogêneos,
        observamos uma grande variabilidade, por exemplo, na resposta a algum tipo de tratamento. Então, para estudar problemas clínicos,
        precisamos de uma metodologia capaz de tratar a variabilidade de forma adequada.<br /><br />
        O avanço da informática e a popularização dos computadores contribuíram para o uso de métodos estatísticos. Antigamente, era muito
        demorado fazer análises de muitas informações, e agora, com o auxílio do computador, as análises são feitas rapidamente.
        Além disto, com o avanço da informática, novas técnicas de análise de dados foram introduzidas, principalmente métodos gráficos.
        Muitos pacotes estatísticos foram desenvolvidos e são usados tanto no meio acadêmico como em indústrias, como, por exemplo, Minitab,
        SPSS e SAS. Utilizamos também o Microsoft Office Excel, que possui opções para certas técnicas estatísticas. Apesar do grande auxílio
        fornecido pelos pacotes estatísticos e pelo Excel, precisamos ter um conhecimento teórico sólido para saber qual técnica estatística
        utilizar para resolver um problema, além de saber analisar e interpretar os resultados obtidos.<br /><br />
        A Estatística pode ser dividida em duas grandes áreas: a estatística descritiva e a inferência estatística.<br />
        Na estatística descritiva, utilizamos técnicas destinadas a organizar, descrever e resumir os dados. Os dados são tabulados e
        apresentados por meio de gráficos e resumidos através de medidas numéricas. Desta maneira, as informações estatísticas são apresentadas
        de maneira clara e de fácil entendimento.<br /><br />
        Na inferência estatística (ou inferência indutiva), utilizamos dados amostrais para fazer estimativas, testar hipóteses e fazer previsões
        sobre características de uma população. Veremos, a seguir, alguns conceitos que facilitarão o entendimento da importância da
        inferência estatística.<br /><br />

        <div class="container" id="container-alternativas">
        <iframe width="650" height="450" src="https://www.youtube.com/embed/8U1Z-XtYG4Q" title="Estatística - Introdução à Estatística - Conceitos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        </div><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1><br />

    <h3>

        <a asp-action="Estatistica1" style="text-decoration: none">1.	Média aritmética</a><br />  

        <a asp-action="Estatistica2" style="text-decoration: none">2.	Moda</a><br />

        <a asp-action="Estatistica3" style="text-decoration: none">3.   Mediana</a><br /><br />

    </h3>

</div>
<br />
