@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Estatistica";
}
<h1>Estatística</h1>

<h1>Definição de Estatística </h1>
  É muito comum nos meios de comunicação, como jornais, revistas, televisão e internet, nos depararmos com informações estatísticas. Por exemplo:
<br />
<p>
    •  Os institutos de pesquisas divulgam com frequência resultados obtidos
    em pesquisas que têm por objetivo avaliar o governo do presidente em exercício.<br />
    •  As taxas de cesárias, no Brasil, no sistema privado e no SUS.<br />
    •  O percentual de aumento, ou redução, no preço da cesta básica.<br />
    •  Incidência estimada de câncer de mama nos estados do Brasil.<br /><br />
    Para que estas informações sejam obtidas, precisamos coletar dados para transformá-los em informações. Portanto, podemos definir a Estatística da seguinte maneira:
    Estatística é um conjunto de técnicas utilizadas para a coleta, organização, resumo, análise e interpretação de dados.<br />

    A Estatística tem um papel fundamental em diversas áreas do conhecimento, pois o uso de técnicas estatísticas apropriadas fornece informações
    que auxiliam no processo de tomada de decisões. Por exemplo, a eficácia de um novo medicamento para reduzir o LDL colesterol é feito por
    meio de um teste clínico com pacientes. A análise dos dados obtidos informará se a redução é estatisticamente significante.
    Métodos estatísticos são essenciais no estudo de situações em que as variáveis de interesse estão sujeitas, inerentemente,
    a flutuações aleatórias. Isto acontece muito na área da saúde. Por exemplo, mesmo que o estudo seja feito com pacientes homogêneos,
    observamos uma grande variabilidade, por exemplo, na resposta a algum tipo de tratamento. Então, para estudar problemas clínicos,
    precisamos de uma metodologia capaz de tratar a variabilidade de forma adequada.<br /><br />
    O avanço da informática e a popularização dos computadores contribuíram para o uso de métodos estatísticos. Antigamente, era muito
    demorado fazer análises de muitas informações, e agora, com o auxílio do computador, as análises são feitas rapidamente.
    Além disto, com o avanço da informática, novas técnicas de análise de dados foram introduzidas, principalmente métodos gráficos.
    Muitos pacotes estatísticos foram desenvolvidos e são usados tanto no meio acadêmico como em indústrias, como, por exemplo, Minitab,
    SPSS e SAS. Utilizamos também o Microsoft Office Excel, que possui opções para certas técnicas estatísticas. Apesar do grande auxílio
    fornecido pelos pacotes estatísticos e pelo Excel, precisamos ter um conhecimento teórico sólido para saber qual técnica estatística
    utilizar para resolver um problema, além de saber analisar e interpretar os resultados obtidos.<br /><br />
    A Estatística pode ser dividida em duas grandes áreas: a estatística descritiva e a inferência estatística.<br />
    Na estatística descritiva, utilizamos técnicas destinadas a organizar, descrever e resumir os dados. Os dados são tabulados e
    apresentados por meio de gráficos e resumidos através de medidas numéricas. Desta maneira, as informações estatísticas são apresentadas
    de maneira clara e de fácil entendimento.<br /><br />
    Na inferência estatística (ou inferência indutiva), utilizamos dados amostrais para fazer estimativas, testar hipóteses e fazer previsões
    sobre características de uma população. Veremos, a seguir, alguns conceitos que facilitarão o entendimento da importância da
    inferência estatística.<br /><br />

    Livro utilizado: <a href="https://profhubert.yolasite.com/resources/LIVRO%20PROPRIETARIO%20-%20Estatistica%20Basica.pdf">link</a><br />
    Video sobre estatística:<br /><iframe width="650" height="450" src="https://www.youtube.com/embed/8U1Z-XtYG4Q" title="Estatística - Introdução à Estatística - Conceitos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br /><br />

    <h1>Média Aritmética</h1><br /><br />
    A média aritmética, ou simplesmente média, é a medida de tendência central mais conhecida.
    Em muitas situações nos deparamos com informações referentes à média: o tempo médio de espera em um consultório médico é de 20 minutos,
    a média aritmética final de um estudante na disciplina de Matemática é 7,2, a taxa média de juros das operações de crédito para
    financiamento imobiliário está em 9,23%, etc. Como fazemos para encontrar estas estatísticas que resumem todo o conjunto de dados
    em um único valor? Para calcularmos a média precisamos somar os valores que aparecem no conjunto de dados e dividir pelo total de
    valores contidos neste conjunto. Vamos formalizar esta definição apresentando uma fórmula matemática: <br /><br />

    <img src="~/images/eq1.png" width="200" height="100"><br /><br />



    - em que: <img src="~/images/eq2.png" width="25" height="25"> média (lemos como x "barra"). <br />
    <img src="~/images/eq3.png" width="175" height="100"> somatório de n observações (X1 , X2 , X3 , ..., Xn); X1 representa o primeiro valor observado, X2 representa o segundo valor observado e assim por diante, Xn representa o n-ésimo valor observado. <br /><br />

    n= número de observações no conjunto de dados. <br /><br />

    <b>- Propriedades da média:</b> <br /><br />

    A soma dos desvios é zero, ou seja: <br /><br />
    <img src="~/images/eq4.png" width="200" height="125">
    <br /><br />

    Em outras palavras: os desvios são encontrados fazendo a diferença entre cada valor do conjunto de dados e a média aritmética do conjunto.
    A soma dos desvios encontrados é zero, para qualquer conjunto de dados. 2.
    Quando somamos (ou subtraímos) uma constante de todos os valores de um conjunto de dados, a média fica somada (ou subtraída) por esta
    constante. 3. Quando multiplicamos (ou dividimos) uma constante de todos os valores de um conjunto de dados, a média fica multiplicada
    (ou dividida) por esta constante. <br /><br />

    <h1>Moda</h1> <br /><br />
    A moda de um conjunto de dados é a resposta (ou respostas) que aparece(m) com maior frequência. A moda, diferentemente das outras medidas de posição,
    também pode ser encontrada quando a variável em estudo for qualitativa.<br /><br />

    Portanto, a resposta para a moda pode ser o valor ou a categoria que aparece com a maior frequência.
    Existem conjuntos de dados em que nenhuma resposta aparece mais vezes que outras.
    Neste caso, dizemos que o conjunto de dados não apresenta moda. Em outros casos, podem aparecer duas ou mais respostas de maior
    frequência no conjunto de dados. Nestes casos, dizemos que o conjunto de dados é bimodal e multimodal, respectivamente.
    No conjunto de dados apresentados no Exemplo 2.1, temos que as respostas que aparecem com maior frequência (frequência 2)
    são: 26, 30 e 35. Portanto: <br /><br />

    Mo = 26, 30 e 35 anos <br /><br />

    Neste caso, a distribuição é multimodal. <br /><br />

    <h1>Mediana</h1><br />
    A mediana é uma medida que divide o conjunto de dados ordenados ao meio,
    deixando a mesma quantidade de valores abaixo dela e acima. Por isto,
    ela também é uma medida separatriz, pois separa o conjunto de dados em dois grupos:
    pelo menos 50% dos valores ordenados são maiores ou iguais ao valor da mediana e pelo menos
    50% dos valores ordenados são menores ou iguais ao valor da mediana. O cálculo para se encontrar
    a mediana difere no caso do número de elementos (n) do conjunto de dados ser par ou ímpar.
    Se o número de elementos do conjunto de dados for ímpar, então a mediana será exatamente o valor “do meio”, ou seja: <br /><br />

    <img src="~/images/eq5.png" width="135" height="85">
    em que <img src="~/images/eq6.png" width="135" height="85">indicam as observações que ocupam as posições “do meio” do conjunto de dados <br /><br />

    <h1>Exercícios de Média</h1><br /><br />
    Um questionário foi aplicado aos dez candidatos a uma vaga no setor financeiro de uma clínica de cirurgia plástica e uma das variáveis
    em estudo era a idade dos candidatos. Os dados obtidos foram: <br /><br />

    30, 35, 26, 22, 28, 30, 26, 33, 35, 23 <br /><br />

    Vamos encontrar a idade média dos candidatos à vaga <br /><br />

    Resolução Sabemos que para encontrar a média, somamos todos os valores e dividimos pela quantidade de valores no conjunto de dados.
    Para nos familiarizarmos, vamos utilizar a fórmula: <br /><br />
    <img src="~/images/eq7.png" width="655" height="150"><br /><br />
    <b>Portanto, a idade média dos candidatos é 28,8 anos</b> <br /><br />

    Mediana: <br /><br />

    Os dados abaixo se referem aos batimentos cardíacos para 15 pacientes que chegaram ao hospital em estado de parada respiratória
    e inconscientes. Vamos encontrar a mediana. <br /><br />

    167, 150, 125, 120, 150, 150, 140, 136, 120, 150, 125, 140, 148, 120, 125 <br /><br />

    Resolução : <br /><br />

    Para encontrarmos a mediana, os dados precisam estar ordenados: <br /><br />

    120, 120, 120, 125, 125, 125, 136, 140, 140, 148, 150, 150, 150, 150, 167 <br /><br />

    Temos n = 15 observações, então: <br /><br />
    <img src="~/images/eq8.png" width="500" height="150"><br /><br />
    ou seja, a mediana é o valor que ocupa a oitava posição do conjunto de dados ordenados, <br /><br />

    Mediana =140 <br /><br />

    Livro utilizado para media, moda , mediana: <a href="https://profhubert.yolasite.com/resources/LIVRO%20PROPRIETARIO%20-%20Estatistica%20Basica.pdf">link</a>
    <br /><br />



    Videos de apoio do conteúdo: <br /> <iframe width="650" height="450" src="https://www.youtube.com/embed/mSk2vjGXA90" title="ESTATÍSTICA  | Média | Moda | Mediana I Desvio Padrão" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br /><br /><br />
