@{
    ViewData["Title"] = "Estatística - Moda";
}
<br />
<div id="container-1" class="container">

    <h1>Moda</h1><br />

    A moda de um conjunto de dados é a resposta (ou respostas) que aparece(m) com maior frequência. A moda, 
    diferentemente das outras medidas de posição, também pode ser encontrada quando a variável em estudo for qualitativa.
    Portanto, a resposta para a moda pode ser o valor ou a categoria que aparece com a maior frequência. 
    Existem conjuntos de dados em que nenhuma resposta aparece mais vezes que outras. Neste caso, dizemos que 
    o conjunto de dados não apresenta moda. Em outros casos, podem aparecer duas ou mais respostas de maior 
    frequência no conjunto de dados. Nestes casos, dizemos que o conjunto de dados é bimodal e multimodal, respectivamente
    <br /> <br />

    Canal: Equaciona com Paulo Pereira<br />
    Professor: Paulo Pereira<br />

    <div class="container" id="container-alternativas">
    <iframe width="600" height="420" src="https://www.youtube.com/embed/2r2NG_sXMWU" title="NOÇÕES DE ESTATÍSTICA : MODA, MÉDIA E MEDIANA (17/21)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />


</div>
<br />


<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1>
    <br />

    <h3>
        <a asp-action="Estatistica" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="Estatistica1" style="text-decoration: none">1.	Média aritmética</a><br />

        <a asp-action="Estatistica2" style="text-decoration: none">2.	Moda</a><br />

        <a asp-action="Estatistica3" style="text-decoration: none">3.   Mediana</a><br /><br />

    </h3>




</div>
