@{
    ViewData["Title"] = "Estatística - Média";
}
<br />
<div id="container-1" class="container">

    <h1>Média Aritmética</h1><br /><br />

    A média aritmética, ou simplesmente média, é a medida de tendência central mais conhecida. 
    Em muitas situações nos deparamos com informações referentes à média: o tempo médio de espera em um 
    consultório médico é de 20 minutos, a média aritmética final de um estudante na disciplina de Matemática é 7,2, 
    a taxa média de juros das operações de crédito para financiamento imobiliário está em 9,23%, etc. Como fazemos 
    para encontrar estas estatísticas que resumem todo o conjunto de dados em um único valor? Para calcularmos a 
    média precisamos somar os valores que aparecem no conjunto de dados e dividir pelo total de valores contidos 
    neste conjunto. Vamos formalizar esta definição apresentando uma fórmula matemática:<br />

    <img src="~/images/Mat/img15.png" width="150px" height="125px" /><br />

    <h1>Propriedades da média</h1>
    A soma dos desvios é zero, ou seja:<br />
    
    <img src="~/images/Mat/img16.png" width="150px" height="125px" /><br /><br />

    Em palavras: os desvios são encontrados fazendo a diferença entre cada valor do conjunto de dados e a 
    média aritmética do conjunto. A soma dos desvios encontrados é zero, para qualquer conjunto de dados. 2. 
    Quando somamos (ou subtraímos) uma constante de todos os valores de um conjunto de dados, a média fica somada 
    (ou subtraída) por esta constante. 3. Quando multiplicamos (ou dividimos) uma constante de todos os valores de um 
    conjunto de dados, a média fica multiplicada (ou dividida) por esta constante.<br /><br />

    Canal: Ferretto Matemática<br />
    Professor: Daniel Ferretto<br />

    <div class="container" id="container-alternativas">
    <iframe width="600" height="420" src="https://www.youtube.com/embed/2sRWaVJh7_o" title="Matemática Básica - Aula 31 - Média Aritmética" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div><br /><br />


</div>
<br />


<div id="container-2" class="container" style="background-color:lightskyblue">
<h1>Capítulos:</h1>
<br />

<h3>
        <a asp-action="Estatistica" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="Estatistica1" style="text-decoration: none">1.	Média aritmética</a><br />

        <a asp-action="Estatistica2" style="text-decoration: none">2.	Moda</a><br />

        <a asp-action="Estatistica3" style="text-decoration: none">3.   Mediana</a><br /><br />

</h3>




</div>
