@{
    ViewData["Title"] = "Estatística - Mediana";
}
<br />
<div id="container-1" class="container">

    <h1>Mediana</h1><br />

    A mediana é uma medida que divide o conjunto de dados ordenados ao meio, deixando a mesma quantidade de valores 
    abaixo dela e acima. Por isto, ela também é uma medida separatriz, pois separa o conjunto de dados em dois grupos: 
    pelo menos 50% dos valores ordenados são maiores ou iguais ao valor da mediana e pelo menos 50% dos valores ordenados 
    são menores ou iguais ao valor da mediana. O cálculo para se encontrar a mediana difere no caso do número de elementos 
    (n) do conjunto de dados ser par ou ímpar. Se o número de elementos do conjunto de dados for ímpar, então a mediana 
    será exatamente o valor “do meio”.<br /><br />

    Canal: Brasil Escola<br />
    Professor: Pedro Itallo<br />

    <div class="container" id="container-alternativas">
    <iframe width="600" height="420" src="https://www.youtube.com/embed/AwsZEdUNu4o" title="Mediana - Brasil Escola" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />

</div>
<br />


<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1>
    <br />

    <h3>
        <a asp-action="Estatistica" style="text-decoration: none">Inicio</a><br /><br />

        <a asp-action="Estatistica1" style="text-decoration: none">1.	Média aritmética</a><br />

        <a asp-action="Estatistica2" style="text-decoration: none">2.	Moda</a><br />

        <a asp-action="Estatistica3" style="text-decoration: none">3.   Mediana</a><br /><br />

    </h3>




</div>
