@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Geometria";
}
<h1>Geometria Plana</h1>
    <h1>Definições e Estudo dos ângulos</h1><br />

    <b>Ponto:</b> Um elemento do espaço que define uma posição.  <br /><br />

    <b>Reta:</b> Conjunto infinito de pontos. Dois pontos são suficientes para determinar uma reta, ou ainda um ponto e a inclinação da mesma.  <br /><br />

    <b>Plano:</b> Conjunto infinito de retas. Três pontos são suficientes para determinar um plano. <br /><br />
    <img src="~/images/img1.png" width="400" height="200"><br /><br />
    
    Semi-reta: Sai de um ponto determinado e se prolonga indefinidamente. Segmento de reta: Trecho de reta que se inicia em um 
    ponto determinado e tem fim em outro ponto determinado. Não se prolonga indefinidamente. Ângulo: Formado pela união de semi-retas, 
    ou mesmo por segmento de retas. <br /><br />

Medida de ângulos: Existem três unidades de medidas de ângulos: graus (º), radianos (rad) e grados (gr). A correspondência entre 
essas medidas é a seguinte: <br /><br />

180º = &#960; rad = 200 gr <br /><br />

A medida de graus ainda é subdividida em minutos (‘) e segundos (“), na base hexadecimal. <br /><br />

1º = 60 ‘ = 3600 “ <br /><br />

Exemplos: 	30º = &#960; / 6 rad, 	&nbsp;	60º = &#960; / 3 rad, 	&nbsp;	35,26º = 35º 15’ 36” <br /><br />
				45º = &#960; /4 rad, 	&nbsp;	90º = &#960; /2 rad,	&nbsp;	49,60º = 49º 36’ 00” <br /><br />

Dizemos que um ângulo é,  <br /><br />

· Raso, se, e somente se, é igual a 180º;  <br /><br />

· Nulo, se, e somente se, é igual a 0º;  <br /><br />

· Reto, se, e somente se, é igual a 90º;  <br /><br />

· Agudo, se, e somente se, é maior que 0º e menor que 90º;  <br /><br />

· Obtuso, se, e somente se, é maior que 90º e menor que 180º. <br /><br />

Se a soma de dois ângulos resulta:  <br /><br />

· 90º , dizemos que os ângulos são complementares;  <br /><br />

· 180º, dizemos que os ângulos são suplementares. <br /><br />

Retas paralelas interceptadas por uma transversal – A “Regra do Zorro” <br /><br />

<img src="~/images/img2.png" width="650" height="300">
<br />
<br />

Estando nesta configuração, cada par de ângulos recebe um nome, a saber;  <br /><br />

· Correspondentes*: (α , α’), (β, β’), (γ, γ’), (δ, δ’);  <br /><br />

· Alternos internos*: (γ, α’), (δ, β’);  <br /><br />

· Alternos externos*: (α, γ’), (β, δ’);  <br /><br />

· Colaterais internos**: (δ, α’), (γ, β’);  <br /><br />

· Colaterais externos**: (α, δ’), (β, γ’);  <br /><br />

· Opostos pelo vértice (o.p.v.)*: (α, γ); (β, δ); (α’, γ’); (β’, δ’).  <br /><br />

* ângulos congruentes (de mesma medida)  <br /><br />

** ângulos suplementares <br /><br />

<h1>Triângulos</h1><br />

Definição: Figura geométrica plana formada por três pontos, chamados vértices e a união das semi-retas que unem esse três pontos. Em resumo, é uma 
figura de três lados e que possui três ângulos. <br /><br />

Classificação dos triângulos quanto aos lados: <br /><br />

· <b>Eqüilátero:</b> possui os três lados (e consequentemente os três ângulos) iguais (congruentes);  <br /><br />

· <b>Isósceles:</b> possui dois lados iguais. O terceiro lado é chamado base. Os ângulos formados pela base com os lados são iguais.  <br /><br />

· <b>Escaleno:</b> não possui nenhum lado (consequentemente nenhum ângulo) igual. 1.3.2 Classificação dos triângulos quanto aos ângulos  <br /><br />

· <b>Acutângulo:</b> Possui três ângulos internos agudos;  <br /><br />

· <b>Obtusângulo:</b> Possui um ângulo interno obtuso;  <br /><br />

· <b>Retângulo:</b> Formado por um ângulo interno reto. O lado oposto ao ângulo reto é chamado hipotenusa e os outros dois lados são chamados catetos.  <br /><br />

<h3><b>Propriedades:</b></h3> <br />

· A soma dos ângulos internos de todo e qualquer triângulo é 180º;  <br /><br />

· A soma dos ângulos externos de qualquer triângulo é 360º;  <br /><br />

· Todo ângulo externo de um triângulo é igual a soma dos seus dois ângulos internos não adjacentes;  <br /><br />

· O maior lado do triângulo se opõe (“vê”, “está de frente”) ao maior ângulo e o menor lado se opõe ao menor ângulo;  <br /><br />

· Desigualdade triangular: a, b, c formam um triângulo se, e somente se, |a – b| < c < a + b.  <br /><br />

Semelhança de triângulos: Um dos conceitos mais importantes da Geometria Plana.  <br /><br />

Definição: Dados dois triângulos (ΔABC e ΔDEF), dizemos que estes são semelhantes se, e somente se, estes são formados pelos mesmos ângulos internos.  <br /><br />
Observado isso, podemos afirmar ainda que: <br /><br />

<img src="~/images/img3.png" width="250" height="100">
<br />
<br />

<h1>Circunferência</h1><br />

<b>Definição</b>:  O conjunto de todos os pontos que estão a exatamente uma determinada distância de um ponto dado do mesmo plano chama-se circunferência. <br /><br />

<b>Elementos</b>:  

· Corda: Qualquer segmento interno a circunferência com extremidades em dois pontos pertencentes à mesma. Na figura ao lado, AB e CD são cordas da circunferência.<br /><br />  

· Diâmetro: Qualquer corda da circunferência que contenha o centro da mesma. É a maior corda da circunferência. CD representa um diâmetro da circunferência na figura. <br /><br />

<img src="~/images/img4.png" width="400" height="300"><br />
Raio: Qualquer segmento que liga o centro a um ponto qualquer da circunferência. 
PC é raio da circunferência ao lado. Note que o raio é metade do diâmetro! (D = 2.R)  <br /><br />
<img src="~/images/img5.png" width="400" height="300">  <br /><br />

· Arco: É uma parte da circunferência, definida por um ângulo central ma(AB) e um comprimento m(AB) (determinado por dois pontos da circunferência).  <br /><br />

<img src="~/images/img6.png" width="350" height="250">
<br />
<br />

<b>Teorema do ângulo central</b>  

Definição: Chamamos de ângulo central, todo e qualquer ângulo cujo vértice seja o centro da circunferência. <br /><br />

Teorema: “A medida de um ângulo inscrito num arco é igual a metade da medida angular do arco interceptado da mesma circunferência”.
Em outras palavras, um ângulo cujo vértice pertence a circunferência equivale a metade do ângulo central que “enxerga” o mesmo arco que este. <br /><br />

<img src="~/images/img7.png" width="350" height="300">
<br />
<br />

Relações métricas na circunferência <br /><br />

Teorema das cordas: “Dada a interseção de duas cordas da circunferência, o produto das partes de uma corda é igual o produto das partes da outra corda”. <br /><br />
AP.PC = P.PD 
<img src="~/images/img8.png" width="350" height="300">
<br />
<br />

Teorema das secantes: “Dados dois segmentos secantes (“que cortam”) a circunferência partindo de um mesmo ponto, o produto das partes internas a 
circunferência pelas externas a circunferência é igual em ambos segmentos.” <br /><br />
PQ.QR = TS.SR 

<img src="~/images/img9.png" width="400" height="300">
<br />
<br />

Teorema da secante-tangente: “Dado um segmento secante a circunferência e outro tangente a mesma, o quadrado da medida do segmento 
tangente é igual ao produto da parte interna do segmento que é secante pela sua parte externa”. <br /><br />
(PA)2 = PB.BC 

<img src="~/images/img10.png" width="400" height="300">
<br />
<br />

<h3>Comprimentos:</h3>

Circunferência (C) Dada uma circunferência de raio r, o perímetro (comprimento) da mesma é: <br /><br />
C = 2. &#960; .r

<img src="~/images/img11.png" width="400" height="300">  <br /><br />

Arco de circunferência (L) Dado um arco de circunferência (AB) representado pelo ângulo α, fazendo uma regra de três temos: L = &#960; .r. α / 180º<br /><br />

<img src="~/images/img12.png" width="300" height="200">
<br />
<br />

Para acesso completo ao conteúdo apresentado, siga o link para o periódico utilizado nessa amostra. Esse periódico contém todo o conteúdo apresentado
 de maneira mais detalhada e completa, além de outros tópicos mais avançados: <br /><br />

<a href="https://www.ime.usp.br/~thiagoap/emancipa104/apostila_resumao_geometria.pdf">link</a> <br /><br />

Além disso, recomendamos que assistam as aulas contidas na playlist a seguir, que contém vídeos que apresentam detalhadamente o conteúdo completo sobre 
geometria plana. <br /><br />

<a href="https://youtube.com/playlist?list=PLTPg64KdGgYhy8stGM4z2_Hzb3zTfA77Z">https://youtube.com/playlist?list=PLTPg64KdGgYhy8stGM4z2_Hzb3zTfA77Z </a><br /><br />

<h1>Exercícios ... </h1>
