@{
    ViewData["Title"] = "Matemática";
}
    <div class="row">
        <div class="col-md-2" >
                <!--<div >
                    <ul >
                        <h4 style="text-align:center">Matematica</h4>
                        <li class="rounded"><a asp-controller="Mat" asp-action="NocoesConjuntos" class=" text-decoration-none">Noções de Conjuntos</a></li>
                        <h4 style="text-align:center">Fisica</h4>
                        <li class="rounded "><a asp-controller="Fis" asp-action="EnergiaIndex" class="text-decoration-none ">Energia </a></li>
                        <li class="rounded"><a asp-controller="Fis" asp-action="TrabalhoIndex" class="text-decoration-none ">Trabalho</a></li>
                        <li class="rounded"><a asp-controller="Fis" asp-action="LeiNewtonIndex" class="text-decoration-none ">Leis de Newton</a></li>
                    </ul>
                 </div>-->
        </div>
        <div class="col-md-8" >
            <div class="coluna2">
                <div class="cartao2">
                   <img src="/images/index/indexMatLogo.jpg" />
                </div>
                </div>
            <div class="linha">
               
                <div class="coluna">
                    <div class="cartao">
                    <a asp-controller="Mat" asp-action="NocoesConjuntosIndex" asp-route-id="26"><img src="/images/index/indexNocoesConjuntos.jpg" /></a>
                </div>
                </div>
               
                <div class="coluna">
                    <div class="cartao">
                    <a asp-controller="Mat" asp-action="ConjuntosNumericosIndex" asp-route-id="15"><img src="/images/index/indexConjuntosNumericos.jpg" /></a>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao">
                    <a asp-controller="Mat" asp-action="EstatisticaIndex" asp-route-id="22"><img src="/images/index/indexEstatisticaBasica.jpg" /></a>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao">
                    <a asp-controller="Mat" asp-action="FuncoesIndex" asp-route-id="32"><img src="/images/index/indexFuncoes.jpg" /></a>
                    </div>
                </div>
                
               
            </div>
        </div>
        <div class="col-md-2">
        <!--
            <h4 style="text-align:center">Dashboard</h4>
        -->
        </div>
    </div>