@{
    ViewData["Title"] = "Home Page";
}
<div id="container-1" class="container" style="margin-top:2px">

    <h1> Introdução a Noções de Conjuntos </h1> <br />
    <p>
        O uso contínuo em matemática, a noção básica de conjunto não é definida, isto é, aceita intuitivamente e, portanto, é chamada de Noção Primitiva. Esta noção foi utilizada em primeiro por Georg Cantor (1845-1918), um matemático nascido em São Petersburgo, Rússia, mas ele passou a maior parte da vida na Alemanha. Segundo Cantor, a noção de conjuntos é designada a uma coleção de objetos em definidos e legíveis, chamados elementos do conjunto.
        Abaixo temos alguns conceitos que também são considerados primitivos: <br />
    <p><b>•	Conjunto: </b>designado, em geral, por uma letra latina maiúscula (A, B, C, ..., X, Y, Z);<br /></p>
    <p><b>•	Elemento: </b>designado, em geral, por uma letra latina minúscula (a, b, c, ..., x, y, z);<br /></p>
    <p><b>•	Pertinência: </b>a relação entre o elemento e o conjunto, denotada pelo símbolo ∈ , que é lido como “pertence a”.<br />></p>
    Como exemplo, se A é o conjunto das cores da bandeira do Brasil, designadas por v (verde), a (amarelo), z (azul) e (branco),
    podemos dizer que v, a, z, b são elementos de A, onde pode se representado colocando-se os elementos entre chaves, como exemplo:<br />
    A = {v, a, z, b}<br />
    Com isso podemos dizer que:<br />
    <b>v ∈ A, a ∈  A, z ∈  A e ∈  A</b>
    </p><br /><br />
    <h1>Observações:</h1><br />
    Para os símbolos ∉ e ≠ são utilizados para expressar as negações de ∈  e =, nesta ordem.<br />
    No exemplo citado acima, temos que v ≠ a, a ≠ z, v ≠ b, a ≠ z, a ≠ b, b ≠ z, e se designarmos a cor preta por p, temos que:<br />
    <p><b> p ≠ A </p></b>
    Também pode ser descrito enumerando-se um a um seus elementos, como mostrado no exemplo acima, um conjunto pode ser designado por uma propriedade
    característica de seus elementos. Desta forma, podemos representa-los como:<br />
    <p><b>A = {x | x é a cor da andeira do Brasil}<br /></p></b>
    <p><b>( | → é lido como: tal que)<br /></p></b><br />
    <i>
        Livro utilizado para o conteúdo: Matematica – Ciência e aplicação Editora<br />
        Saraiva : <a href="https://api.plurall.net/media_viewer/documents/2414500">Link</a>
    </i>

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1><br />

    <h3>

        <a asp-action="NocoesConjuntos1" style="text-decoration: none">1.	Igualdade de conjuntos</a><br /><br />

        <a asp-action="NocoesConjuntos2" style="text-decoration: none">2.	Subconjuntos – Relação de inclusão</a><br />

        <a asp-action="NocoesConjuntos21" style="text-decoration: none">2.1 Propriedades da Relação de inclusão</a><br /><br />

        <a asp-action="NocoesConjuntos3" style="text-decoration: none">3.	Interseção e reunião</a><br /><br />

        <a asp-action="NocoesConjuntos4" style="text-decoration: none">4.	Diferença</a><br /><br />

    </h3>




</div>
<br />
