@model IEnumerable<PageModel>
@{
    ViewData["Title"] = "Noções de Conjuntos";
}
<br />
@foreach (var item in Model)
{
    @Html.Raw(item.Conteudo)
}
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1><br />

    <h3>
        <a asp-action="NocoesConjuntosIndex" style="text-decoration: none" asp-route-id="26">1.	Introdução</a><br />

        <a asp-action="NocoesConjuntosIndex" style="text-decoration: none" asp-route-id="27">2.	Igualdade de conjuntos</a><br />

        <a asp-action="NocoesConjuntosIndex" style="text-decoration: none" asp-route-id="28">3.1.	Subconjuntos – Relação de inclusão</a><br />

        <a asp-action="NocoesConjuntosIndex" style="text-decoration: none" asp-route-id="29">3.2 Propriedades da Relação de inclusão</a><br />

        <a asp-action="NocoesConjuntosIndex" style="text-decoration: none" asp-route-id="30">4.	Interseção e reunião</a><br />

        <a asp-action="NocoesConjuntosIndex" style="text-decoration: none" asp-route-id="31">5.	Diferença</a><br /><br />

    </h3>




</div>
<br />
