@{
    ViewData["Title"] = "Home Page";
}
<div id="container-1" class="container">
    <p></p><h1>Igualdade de Conjuntos</h1><br /><br />
    Dois conjuntos A e B são iguais se todo elemento de A pertence a B, da mesma forma que, todo elemento de B pertence a A.
    Como exemplo:<br /><br />
    •	Se <b>A = {a, b, c}</b> e <b>B = {b, c, a}</b>, temos que <b>A = B</b>;<br />
    •	Se <b>A = {x | - 2 = 5}</b> e <b>B = {7}</b>, temos que <b>A = B</b>;<br />
    •	Se <b>A</b> é o conjunto das letras da palavra “garra” e B é conjunto das letras da palavra “agarrar”, temos que <b>A = B</b>. Observamos que dentro de um
    mesmo conjunto, não precisamos repetir elementos. Mesmo que a palavra “garra” ter cinco letras e a palavra “agarrar” ter sete letras, assim temos: <br />
    •  	{g, a, r, r, a} = {a, g, a, r, r, a, r} = {a, g, r}<br /><br />

    <h3>Observações:</h3><br />
    •	Existem conjuntos que possuem apenas um único elemento, eles são chamados de conjuntos unitários, e
    também existem conjuntos que não possui elementos, esses são chamados de conjunto vazio, é indicado por a utilização de { } ou Ø. Exemplos:<br /><br />

    A)	São conjuntos unitários:<br /><br />
    <b>A = {5}</b>
    <b>B = {x | x é capital da França} = {Paris}</b><br /><br />

    B)	São conjuntos vazios:<br /><br />
    C = Conjunto das cidades de Goiás banhadas pelo oceano Atlântico = Ø
    <b>D = {x | x ≠ x} = Ø</b><br />

    •	Também existem conjuntos de que os elementos são conjuntos, como exemplo:<br /><br />
    <b>F = { Ø, {a}, {c}, {a, b}, {a, c}, {a, b, c}}</b><br /><br />

    Desta forma, temos:<br /><br />
    <b>Ø ∈ F; {a} ∈  F; {c} ∈  F; {a, b} ∈  F; {a, c} ∈ F e {a, b, c} ∈ F</b>.<br /><br />

    Observamos que a ∉ F e c ∉ F, pois a e c não são elementos do conjunto F.<br /><br />
    <b>Desta forma: a ≠ {a} e c ≠ {c}</b><br /><br />

    Consulte o vídeo para complementar o conteúdo: <br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="420" src="https://www.youtube.com/embed/r3Hp_J-GnSs" title="Pertence, não pertence, contido, não contido, contém e não contém" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />

    </b><br />

    <i>
        Livro utilizado para o conteúdo: Matematica – Ciência e aplicação Editora<br />
        Saraiva : <a href="https://api.plurall.net/media_viewer/documents/2414500">Link</a>
    </i><br /><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
<h1>Capítulos:</h1>
<br />

<h3>
        <a asp-action="NocoesConjuntos" style="text-decoration: none">Inicio</a><br /><br />

    <a asp-action="NocoesConjuntos1" style="text-decoration: none">1.	Igualdade de conjuntos</a><br /><br />

    <a asp-action="NocoesConjuntos2" style="text-decoration: none">2.	Subconjuntos – Relação de inclusão</a><br />

    <a asp-action="NocoesConjuntos21" style="text-decoration: none">2.1 Propriedades da Relação de inclusão</a><br /><br />

    <a asp-action="NocoesConjuntos3" style="text-decoration: none">3.	Interseção e reunião</a><br /><br />

    <a asp-action="NocoesConjuntos4" style="text-decoration: none">4.	Diferença</a><br /><br />

</h3>




</div>
