@{
    ViewData["Title"] = "Home Page";
}
<br />
<div id="container-1" class="container">
    <h1>Subconjuntos – Propriedades da Relação de inclusão</h1><br />
    <p>
        Quaisquer que seja os conjuntos A, B, C, temos que:<br /><br />

        •	<b>Ø ⊂ A</b>br />
        •	Reflexiva: <b>A ⊂ A</b><br />
        •	Transitiva: Se <b>A ⊂ B</b> e <b>B ⊂ C</b>, então <b>A ⊂ C</b><br />
        •	Antissimétrica: Se <b>A ⊂ B</b> e B ⊂ A</b>, então <b>A = B</b><br />

        Como exemplo:<br /><br />

        Dados os conjuntos <b>A = {0, 1, 2, 3}</b>, <b>B = {0, 1, 2, 3, 4, 5}</b> e <b>C = {0, 2, 5}</b> temos:<br /><br />

        A)	- <b>A ⊂ B</b>, todo elemento de A pertence a B;<br />
        - <b>C ⊄ A</b>, pois <b>5 ∈ C</b> e <b>5 ∉ A</b>;<br />
        - <b>B  ⊃ C</b>, pois todo elemento de <b>C</b> pertence a <b>B</b>; <br />
        - <b>B ⊄ A</b>, pois <b>4 ∈ B</b> e <b>4 ∉ A</b>, e também <b>5 ∈ B</b> e <b>5 ∉ A</b><br /><br />

        B)	Os conjuntos A, B e C podem ser representados pelo <b>diagrama de Venn abaixo:</b><br /><br />

        <img src="../images/Mat/img2.png" width="400" height="300"><br /><br />
        <br />
        <div class="container" id="container-alternativas2">
            Consulte o vídeo para complementar o conteúdo: <br /><br />
            <iframe width="600" height="400" src="https://www.youtube.com/embed/NXehxs6p-kA" title="RELAÇÃO DE INCLUSÃO | EP 04 - Teoria de Conjuntos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </b><br />

        <i>
            Livro utilizado para o conteúdo: Matematica – Ciência e aplicação Editora<br />
            Saraiva : <a href="https://api.plurall.net/media_viewer/documents/2414500">Link</a>
        </i>

</div>
<br />
<div id="container-2" class="container" style="background-color:lightskyblue">
<h1>Capítulos:</h1>
<br />

<h3>
        <a asp-action="NocoesConjuntos" style="text-decoration: none">Inicio</a><br /><br />

    <a asp-action="NocoesConjuntos1" style="text-decoration: none">1.	Igualdade de conjuntos</a><br /><br />

    <a asp-action="NocoesConjuntos2" style="text-decoration: none">2.	Subconjuntos – Relação de inclusão</a><br />

    <a asp-action="NocoesConjuntos21" style="text-decoration: none">2.1 Propriedades da Relação de inclusão</a><br /><br />

    <a asp-action="NocoesConjuntos3" style="text-decoration: none">3.	Interseção e reunião</a><br /><br />

    <a asp-action="NocoesConjuntos4" style="text-decoration: none">4.	Diferença</a><br /><br />

</h3>




</div>
