@{
    ViewData["Title"] = "Home Page";
}
<br />
<div id="container-1" class="container">
    <h1>Subconjuntos – Relação de inclusão</h1><br />
    <p>
        Vamos considerar os conjuntos de <b>A = { x | x é letra da palavra “ralar”}</b> e <b>B =  { x | x é a letra da palavra “algazarra”}</b>; ou seja:<br />
        <b>A = {r, a, l} e B = {a, l, g, z, r}</b><br />
        Temos que todo elemento de A é também elemento de B. Com isso dizemos que A é um subconjunto ou uma parte de B, o que é indicado por:<br />
        <b>A ⊂ B (A</b> está contido em B, ou A é um subconjunto de B, ou A é uma parte de B),<br />
        ou, ainda:<br />
        <b>B ⊃ A </b>( B contém A)<br />
        De modo geral:<br />
        <b>A ⊂ B</b> se todo elemento de A  também é elemento de B<br /><br />

        <h3>Observações:</h3>	<br />
        •	O símbolo ⊂ é chamado de sinal de inclusão, esse sinal estabelece uma relação ente dois conjuntos. <br />
        •	A relação de inclusão ente dois conjuntos, como A e B, pode ser representada por diagramas de Venn, observado na figura abaixo:<br /><br />
        <img src="../images/Mat/img1.png" width="420" height="300"><br /><br />
        •	Os símbolos <b>⊄ e ⊅</b> são negações de <b>⊂ e ⊃</b>.<br />
        Com isso temos:<br />
        <b>A ⊄ B</b> se pelo menos um elemento de A não pertencer a B<br /><br />

        </b><br />

        <i>
            Livro utilizado para o conteúdo: Matematica – Ciência e aplicação Editora<br />
            Saraiva : <a href="https://api.plurall.net/media_viewer/documents/2414500" target="_blank" rel="noopener noreferrer">Link</a>
        </i>

</div>
<br />
<div id="container-2" class="container" style="background-color:lightskyblue">
<h1>Capítulos:</h1>
<br />

<h3>
        <a asp-action="NocoesConjuntos" style="text-decoration: none">Inicio</a><br /><br />

    <a asp-action="NocoesConjuntos1" style="text-decoration: none">1.	Igualdade de conjuntos</a><br /><br />

    <a asp-action="NocoesConjuntos2" style="text-decoration: none">2.	Subconjuntos – Relação de inclusão</a><br />

    <a asp-action="NocoesConjuntos21" style="text-decoration: none">2.1 Propriedades da Relação de inclusão</a><br /><br />

    <a asp-action="NocoesConjuntos3" style="text-decoration: none">3.	Interseção e reunião</a><br /><br />

    <a asp-action="NocoesConjuntos4" style="text-decoration: none">4.	Diferença</a><br /><br />

</h3>




</div>
