@{
    ViewData["Title"] = "Home Page";
}
<div id="container-1" class="container">
    <h1>Diferença</h1><br />
    <p>
        Dados os conjuntos <b>A e B</b>, podemos determinar um tipo de conjunto que os elementos pertencem ao conjunto A e não pertencem ao conjunto B.
        Esse tipo de conjunto é chamado diferença entre A e B e indicado por <b>A - B</b>, lê se “A menos B”. Desta forma, é definido:<br /><br />
        <b>A – B = {x | x ∈ A e x ∉ B}</b><br /><br />
        <img src="../images/Mat/img10.png" width="400" height="300"><br />
        Existem três tipos de casos particulares:<br />
        •	<b>A ⊂ B </b><br />
        <img src="../images/Mat/img11.png" width="400" height="300"><br />
        •	<b>A e B </b>disjuntos<br />
        <img src="../images/Mat/img12.png" width="400" height="300"><br />
        •	<b>B ⊂ A</b><br />
        <img src="../images/Mat/img13.png" width="400" height="300"><br /><br />
        <h3>Observações:</h3>
        •	Para o terceiro caso em que <b>B ⊂ A</b>, conjunto <b>A – B</b> é chamado de complementar de B em relação a A.<br />
        indica-se: <var>C<sup> B</sup><sub>A</sub></var> + <var>b<sup>2</sup></var> = <var>c<sup>2</sup></var><br /><br />
        Sendo A um subconjunto de um conjunto universo ∪, então temos: <b><var>C<sup>A</sup><sub>U</sub> = U - A </var></b> pode ser representada pelo símbolo ¯A, que lê se “ A barra”. Assim,<br />
        <b>¯A = <var>C<sub>U</sub><sup>A</sup> = U - A</var></b>.
        Podemos notar que para todo elemento x do conjunto universo ∪, se <b>x ∈ ¯A</b>, então <b>x ∈ A</b> e, por contraposição, se <b>x ∈ A</b>, então temos<br /> <b>x ∉ ¯A</b>.<br />
        <img src="../images/Mat/img14.png" width="400" height="300"><br /><br />
        <h3>Exemplos:</h3><br /><br />
        Dados os conjuntos <b>A = {1, 2, 3, 4, 5}, B = { 3, 4, 5, 6}, C = {2, 3} e D = {0, 7, 8}</b>, temos:<br />
        <b>A – B = {1, 2}</b><br />
        <b>A – C = {1, 4, 5} ( neste caso, A – C =, pois C ⊂ A)</b><br />
        <b>B – A = {6}</b><br />
        <b>C – D ={2, 3}, pois, como C ∩ D = Ø, C – D = C.</b><br />
        <b>C – A = Ø, pois C ⊂ A.</b><br />
        <b>D – D = Ø</b><br />
        <b><var>C<sup>C</sup><sub>B</sub></var></b>, não se define, pois <b>C ⊄ B</b><br /><br />
        <div class="container" id="container-alternativas">
            Consulte o vídeo para complementar o conteúdo: <br /><br />
            <iframe width="600" height="400" src="https://www.youtube.com/embed/Empy_kGq6yU" title="Diferença de Conjuntos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br />
        <br />
        <br />
        <i> Livro utilizado para o conteúdo: Matematica – Ciência e aplicação Editora<br />
            Saraiva : <a href="https://api.plurall.net/media_viewer/documents/2414500" target="_blank" rel="noopener noreferrer">Link</a>
        </i>
    </p>
</div>
<br />
<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1>Capítulos:</h1>
    <br />
    <h3>
            <a asp-action="NocoesConjuntos" style="text-decoration: none">Inicio</a><br /><br />
            <a asp-action="NocoesConjuntos1" style="text-decoration: none">1.	Igualdade de conjuntos</a><br /><br />
            <a asp-action="NocoesConjuntos2" style="text-decoration: none">2.	Subconjuntos – Relação de inclusão</a><br />
            <a asp-action="NocoesConjuntos21" style="text-decoration: none">2.1 Propriedades da Relação de inclusão</a><br /><br />
            <a asp-action="NocoesConjuntos3" style="text-decoration: none">3.	Interseção e reunião</a><br /><br />
            <a asp-action="NocoesConjuntos4" style="text-decoration: none">4.	Diferença</a><br /><br />
    </h3>
</div>