@model IEnumerable<PostUserModel>
@{
    Layout = "_Layout";
}


<div class="col-md-2">

</div>
<div class="container col-md-8">
   <a type="button" class="btn btn-primary" asp-action="CriarPost">Criar</a>
 <div class="row" >
        @foreach (var item in Model)
        {
    <div class="card1">
      <div class="card-header">
                @Html.DisplayFor(modelItem => item.Titulo)
      </div>
      <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Materia)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                <a asp-action="PostConteudo" asp-route-id="@item.Id" class="btn btn-primary">Acessar</a>
      </div>
    </div>
        }
</div>

</div>
<div class="col-md-2">

</div>