@model IEnumerable<PostUserModel>

@{
    ViewData["Title"] = "Post";
}


@foreach (var item in Model)
{
    <div class="row" id="post">
        <div class="col-md-3" style="">
        </div>
        <div class="col-md-6 text-center">

            <div class="container" id="containerTitulo">
            <h1 id="tituloPost">@Html.DisplayFor(modelItem => item.Titulo)</h1>
            </div> <br />

            <div class="container" id="containerMateria">
            <h3 id="tituloMateria">@Html.DisplayFor(modelItem => item.Materia)</h3>
            </div><br />

            <div class="container" id="containerConteudo">
                <div contenteditable="true" id="postConteudo">
                
                @Html.Raw(item.Conteudo)
               
                </div>

            </div>

        </div>
        <div class="col-md-3" style="">
        </div>
    </div>
}

