@model IEnumerable<PostUserModel>

@{
    ViewData["Title"] = "Post";
}


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-3" style="">
        </div>
        <div class=" col-md-6 text-center" >
            <h1>@Html.DisplayFor(modelItem => item.Titulo)</h1>
            <h3>@Html.DisplayFor(modelItem => item.Materia)</h3>
        <div class="justify-content-center">
                @Html.Raw(item.Conteudo)
        </div>
        </div>
        <div class="col-md-3" style="">
        </div>
    </div>
}

