@{
    ViewData["Title"] = "Exercícios - Conjuntos Numéricos";
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Conjuntos Numéricos - N e Z</h1><br /><br />

    <h4><i>Exercício 1) Determine A ∩ B e A ∪ B, sendo:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. A = {x ∈ ℕ | x ≥ 5} e B = {x ∈ ℕ | x < 7}<br />
            B. A = {x ∈ ℤ | x > 1} e B = {x ∈ ℤ | x ≥ 3} <br />
            C. A = {x ∈ ℤ | x < 10} e B = {x ∈ ℕ* | x < 6} <br />
            D. A = {x ∈ ℕ | 2 < x ≤ 5} e B = {x ∈ ℤ| 1 ≤ x < 4}<br />
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle" id="gabarito1">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito1">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        A. A = {5, 6, 7, 8, ...} e B = {0, 1, 2, 3, 4, 5, 6} A ∩ B = {5, 6}; A ∪ B = {0, 1, 2, ...} = ℕ<br />
                        B. A = {2, 3, 4, 5, ...} e B = {3, 4, 5, ...} A ∩ B = B; A ∪ B = A <br />
                        C. A = {..., 8, 9} e B = {1, 2, 3, 4, 5} A ∩ B = B; A ∪ B = A<br />
                        D. A = {3, 4, 5} e B = {1, 2, 3} A ∩ B = {3}; A ∪ B = {1, 2, 3, 4, 5}<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br />

    <i><h4>Exercício 2) Descreva cada conjunto por meio de uma característica comum a todos os seus elemento. <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. A = 5 {0, 1, 2, 3, 4} <br />
            B. B = 5 {0, 1, 2, 8, 9, 10} <br />
            C. C = 5 {-1, 0, 1, 2, 3, 4} <br />
            D. D = 5 {-3, 3}<br />
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle" id="gabarito2">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito2">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        A. A = {x ∈ ℕ | x < 5}, entre outros. <br />
                        B. B = {x ∈ ℕ | x ≤ 2 ou 7 < x < 11}, entre outros. <br />
                        C. C = {x ∈ ℤ | -2 < x < 5}, entre outros. <br />
                        D. D = {x ∈ ℤ | | x | = 3}, entre outros.<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <h4><i>Exercicio 3) Calcule: <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. -5 -3 · (-2) <br />
            B. |-11| <br />
            C. |7 - 4| + |4 - 7| <br />
            D. 2 + 5 · (-3) - (-4) <br />
            E. -11 -2 · (-3) + 3 <br />
            F. -8 + 3 · [2 - (-1)] <br />
            G. |2 + 3 · (-2)| - |3 + 2 · (-3)| <br />
            H. |5 - 10| - |10 - (-5)| - | -5 - (-5)|<br />

        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle" id="gabarito3">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito3">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        A. -5 + 6 = 1 <br />
                        B. 11 <br />
                        C. | 3 | + |-3| = 3 + 3 = 6 <br />
                        D. 2 - 15 + 4 = -9 <br />
                        E. -11 + 6 + 3 = -2 <br />
                        F. -8 + 3 · 3 = 1<br />
                        G. |2 - 6| - |3 - 6| = |-4| - |-3| = 4 - 3 = 1 <br />
                        H. | -5 | - | 15 | - | 0 | = 5 - 15 - 0 = -10<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <h4><i>Exercício 4) Responda:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. O valor absoluto de um número x inteiro é igual a 18. Quais são os possíveis valores de x? <br />
            B. Quais são os números inteiros cujos módulos são menores que 3?<br />

        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label for="collapsible4" class="lbl-toggle" id="gabarito4">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito4">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        A. | x | = 18 -> x = -18 ou x = 18 <br />
                        B. | x | < 3 -> x ∈ {-2, -1, 0, 1, 2}<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <h4><i>Exercício 5) <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            Exercício 5)  Um conjunto de números naturais tem x elementos, todos distintos entre si.
            Entre estes, sete são pares, três são múltiplos de 3 e apenas um é múltiplo de 6. Qual é o valor de x?<br />

        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox">
        <label for="collapsible5" class="lbl-toggle" id="gabarito5">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito5">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        Observe que: <br />
                        • Todo múltiplo de 6 é também múltiplo de 3. Assim, o único elemento desse conjunto que é múltiplo de 6 é também múltiplo de 3. <br />
                        • Todo múltiplo de 6 é também múltiplo de 2 (isto é, é par). Assim, dos 7 números pares que o conjunto possui, apenas um é múltiplo de 6. <br />
                        Então, esse conjunto possui: <br />
                        • Três múltiplos de 3, sendo que um deles é múltiplo de 6 (é par) e os outros dois não. <br />
                        • Seis números pares que não são múltiplos de 3. O outro número par já foi contado. O total pedido é 3 + 6 = 9.<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <h4><i>Exercício 6) Sejam a = | -8|, b = -6 e c = |5|. Calcule:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. a + b <br />
            B. b · c <br />
            C. c - a <br />
            D. a · b + c <br />
            E. b - a · c <br />
            F. b2 <br />
            G. |b - c| <br />
            H. |a - b|
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible6" class="toggle" type="checkbox">
        <label for="collapsible6" class="lbl-toggle" id="gabarito6">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito6">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        a = | -8 | = 8; b = -6 e c  = | 5 | = 5<br />

                        A. 8 + (-6) = 2 <br />
                        B. -6 · 5 = -30<br />
                        C. 5 - 8 = -3<br />
                        D. 8 · (-6) + 5 = -43<br />
                        E. -6 - 8 · 5 = -46<br />
                        F. 36<br />
                        G. |-6 - 5| = |-11| = 11<br />
                        H. |8 - (-6)| = |14| = 14<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <h4><i>Exercício 7) Classifique as afirmações seguintes em verdadeiras (V) ou falsas (F):<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. Todo número primo é ímpar. <br />
            B. Se dois números inteiros têm o mesmo módulo, então eles são iguais. <br />
            C. O quadrado de um número natural não nulo é sempre maior do que o próprio número. <br />
            D. O cubo de um número inteiro não nulo é sempre maior que o quadrado desse número. <br />
            E. Se a ∈ ℤ e b ∈ ℤ e a > b, então a2 > b2.<br />

        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible7" class="toggle" type="checkbox">
        <label for="collapsible7" class="lbl-toggle" id="gabarito7">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito7">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        A. Falsa, pois 2 é primo e par. <br />
                        B. Falsa, pois 4 e -4 têm mesmo módulo, mas -4 ≠ 4. <br />
                        C. Falsa, pois 12 = 1. <br />
                        D. Falsa, pois (-2)3 = -8; (-2)2 = 4 e -8 < 4. <br />
                        E. Falsa, pois tome a = 2 e b = -5; a2 = 4 e b2 = (-5)2 = 25. Temos 25 > 4.<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <i>
        Exercícios retirados do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 17 – Disponível
        <a href="https://api.plurall.net/media_viewer/documents/2414500" target="_blank" rel="noopener noreferrer">Neste Link</a>
    </i><br /><br />

</div>
<br />
