@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Conjuntos Numéricos - N e Z</h1><br /><br />

    <h4><i>Exercício 1) Determine A ∩ B e A ∪ B, sendo:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. A = {x ∈ ℕ | x ≥ 5} e B = {x ∈ ℕ | x < 7}<br />
            B. A = {x ∈ ℤ | x > 1} e B = {x ∈ ℤ | x ≥ 3} <br />
            C. A = {x ∈ ℤ | x < 10} e B = {x ∈ ℕ* | x < 6} <br />
            D. A = {x ∈ ℕ | 2 < x ≤ 5} e B = {x ∈ ℤ| 1 ≤ x < 4}<br />



        </div>
    </div><br />

    <h4><i>Exercício 2) Descreva cada conjunto por meio de uma característica comum a todos os seus elemento. <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. A = 5 {0, 1, 2, 3, 4} <br />
            B. B = 5 {0, 1, 2, 8, 9, 10} <br />
            C. C = 5 {-1, 0, 1, 2, 3, 4} <br />
            D. D = 5 {-3, 3}<br />
        </div>
    </div><br /><br />

    <h4><i>Exercicio 3) Calcule: <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            a) -5 -3 · (-2) <br />
            b) |-11| <br />
            c) |7 - 4| + |4 - 7| <br />
            d) 2 + 5 · (-3) - (-4) <br />
            e) -11 -2 · (-3) + 3 <br />
            f) -8 + 3 · [2 - (-1)] <br />
            g) |2 + 3 · (-2)| - |3 + 2 · (-3)| <br />
            h) |5 - 10| - |10 - (-5)| - | -5 - (-5)|<br />

        </div>
    </div><br /><br />

    <h4><i>Exercício 4) Responda:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. O valor absoluto de um número x inteiro é igual a 18. Quais são os possíveis valores de x? <br />
            B. Quais são os números inteiros cujos módulos são menores que 3?<br />

        </div>
    </div><br /><br />

    <h4><i>Exercício 5) <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            Exercício 5)  Um conjunto de números naturais tem x elementos, todos distintos entre si.
            Entre estes, sete são pares, três são múltiplos de 3 e apenas um é múltiplo de 6. Qual é o valor de x?<br />

        </div>
    </div><br /><br />

    <h4><i>Exercício 6) Sejam a = | -8|, b = -6 e c = |5|. Calcule:<br /><br /></h4></i>


    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. a + b <br />
            B. b · c <br />
            C. c - a <br />
            D. a · b + c <br />
            E. b - a · c <br />
            F. b2 <br />
            G. |b - c| <br />
            H. |a - b|<br />

        </div><br /><br />
    </div><br /><br />

    <h4><i>Exercício 7) Classifique as afirmações seguintes em verdadeiras (V) ou falsas (F):<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            A. Todo número primo é ímpar. <br />
            B. Se dois números inteiros têm o mesmo módulo, então eles são iguais. <br />
            C. O quadrado de um número natural não nulo é sempre maior do que o próprio número. <br />
            D. O cubo de um número inteiro não nulo é sempre maior que o quadrado desse número. <br />
            E. Se a ∈ ℤ e b ∈ ℤ e a > b, então a2 > b2.<br />

        </div>
    </div><br /><br />

    <i>
        Exercícios retirados do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 17 – Disponível
        <a href="https://api.plurall.net/media_viewer/documents/2414500" target="_blank" rel="noopener noreferrer">Neste Link</a>
    </i><br /><br />

</div>
<br />

<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1> </h1><br />

    <h3><a asp-action="EConjuntoNumericoGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />

</div>
<br />
<br />
