@{
    ViewData["Title"] = "Gabarito - Conjuntos Numéricos";
}
<br />
    <div class="container" id="container-1">
        <h1>Gabarito dos Exercícios de Conjuntos Numéricos - N e Z </h1><br /><br />

        <h4><i>Exercício 1)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            a) A = {5, 6, 7, 8, ...} e B = {0, 1, 2, 3, 4, 5, 6} A ∩ B = {5, 6}; A ∪ B = {0, 1, 2, ...} = ℕ<br />
            b) A = {2, 3, 4, 5, ...} e B = {3, 4, 5, ...} A ∩ B = B; A ∪ B = A <br />
            c) A = {..., 8, 9} e B = {1, 2, 3, 4, 5} A ∩ B = B; A ∪ B = A<br />
            d) A = {3, 4, 5} e B = {1, 2, 3} A ∩ B = {3}; A ∪ B = {1, 2, 3, 4, 5}<br />
            
        </div>
    </div><br />

        <h4><i>Exercício 2)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            a) A = {x ∈ ℕ | x < 5}, entre outros. <br />
            b) B = {x ∈ ℕ | x ≤ 2 ou 7 < x < 11}, entre outros. <br />
            c) C = {x ∈ ℤ | -2 < x < 5}, entre outros. <br />
            d) D = {x ∈ ℤ | | x | = 3}, entre outros.<br />
            </div>
            
    </div><br /><br />

        <h4><i>Exercício 3)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            a) -5 + 6 = 1 <br />
            b) 11 <br />
            c) | 3 | + |-3| = 3 + 3 = 6 <br />
            d) 2 - 15 + 4 = -9 <br />
            e) -11 + 6 + 3 = -2 <br />
            f) -8 + 3 · 3 = 1<br />
            g) |2 - 6| - |3 - 6| = |-4| - |-3| = 4 - 3 = 1 <br />
            h) | -5 | - | 15 | - | 0 | = 5 - 15 - 0 = -10<br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 4)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">    
            a) | x | = 18 -> x = -18 ou x = 18 <br />
            b) | x | < 3 -> x ∈ {-2, -1, 0, 1, 2}<br />
            

        </div>
    </div><br /><br />

        <h4><i>Exercício 5)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            Observe que: <br />
            • Todo múltiplo de 6 é também múltiplo de 3. Assim, o único elemento desse conjunto que é múltiplo de 6 é também múltiplo de 3. <br />
            • Todo múltiplo de 6 é também múltiplo de 2 (isto é, é par). Assim, dos 7 números pares que o conjunto possui, apenas um é múltiplo de 6. <br />
            Então, esse conjunto possui: <br />
            • Três múltiplos de 3, sendo que um deles é múltiplo de 6 (é par) e os outros dois não. <br />
            • Seis números pares que não são múltiplos de 3. O outro número par já foi contado. O total pedido é 3 + 6 = 9.<br />
            
    
        </div>
    </div><br /><br />

        <h4><i>Exercício 6)<br /><br /></h4></i>


        <div class="container" id="container-alternativas">
        <div id="alternativas">
            a = | -8 | = 8; b = -6 e c  = | 5 | = 5<br />
            a) 8 + (-6) = 2 <br />
            b) -6 · 5 = -30<br />
            c) 5 - 8 = -3<br />
            d) 8 · (-6) + 5 = -43<br />
            e) -6 - 8 · 5 = -46<br />
            f) 36<br />
            g) |-6 - 5| = |-11| = 11<br />
            h) |8 - (-6)| = |14| = 14<br />
            
            
        </div>
    </div><br /><br />

    <h4><i>Exercício 7)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        a) Falsa, pois 2 é primo e par. <br />
        b) Falsa, pois 4 e -4 têm mesmo módulo, mas -4 ≠ 4. <br />
        c) Falsa, pois 12 = 1. <br />
        d) Falsa, pois (-2)3 = -8; (-2)2 = 4 e -8 < 4. <br />
        e) Falsa, pois tome a = 2 e b = -5; a2 = 4 e b2 = (-5)2 = 25. Temos 25 > 4.<br />
    </div>
    </div><br /><br />

        </div><br />
