@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Diferença</h1><br /><br />

    <h4>
        <i>
            Exercício 1) Dado os conjuntos A = {a, b, c}, B = {a, c, d, e}, C = {c, d} e D = {a, d, e},
            classifique cada uma das sentenças seguintes em verdadeira (V) ou falsa (F).<br /><br />
    </h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A – B = {b}<br />
            ⦁	B – C = {a, e}<br />
            ⦁	D – B = {c}<br />
            ⦁	 = Ø<br />
            ⦁	 = {a, c, d, e}<br />
            ⦁	 = {c}<br />
            ⦁	(A ∩ B) – D = {a, d, e}<br />
            ⦁	B – (A ∪ C) = {e}<br />
            ⦁	() ∪ () = {a, c, e}<br />


        </div>
    </div><br />

    <h4><i>Exercício 2) Dados os conjuntos A = {2, 4, 8, 12, 14}, B = {5, 10, 15, 20, 25} e C = {1, 2, 3, 18, 20}, determine:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A – C <br />
            ⦁	B – C<br />
            ⦁	(C – A) ∩ (B – C)<br />
            ⦁	(A – B) ∩ (C – B)<br />


        </div>
    </div><br /><br />

    <h4><i>Exercício 3)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            Dados os conjuntos A = {1, 2, 3, 4}, B = {4, 5} e C = {3, 4, 5, 6, 7},
            determine o número de subconjuntos de (A – B) ∩ C.<br />
        </div>
    </div><br /><br />

    <h4><i>Exercício 4)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            Desenhe um diagrama de Venn para três conjuntos X, Y e Z, não vazios,
            satisfazendo as condições: Z ⊂ Y, X ⊄ Y, X ∩ Y ≠ Ø e Z – X = Z.<br />
        </div>
    </div><br /><br />

    <h4>
        <i>
            Exercício 5) Considerando o conjunto universo U = {-2, -1, 0, 1, 2, 3, 4, 5} e
            dados A = {x ∈ U | x ≤ 3}, B = {x ∈ U | x é ímpar} e C = {x ∈ U | -2 ≤ x < 1}, determine: <br /><br />
    </h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A ∩ B<br />
            ⦁	A ∪ C<br />
            ⦁	A – C<br />
            ⦁	C – B<br />
            ⦁	(A ∩ C) – B<br />
            ⦁	C ∪ (A – B)<br />
            ⦁	(A – B) ∪ (B – A)<br />
            ⦁	 ∩ <br />
            ⦁	 ∩ (C – B) <br />
        </div>
    </div><br /><br />

    <h4><i>Exercício 6)<br /><br /></h4></i>


    <div class="container" id="container-alternativas">
        <div id="alternativas">
            Dados os conjuntos A = {1, 2, 3, 4, 5}, B = {1, 2, 4, 6, 8} e C = {2, 4, 5, 7}, obtenha o conjunto X tal que
            X ⊂ A e A – X = B ∩ C.<br />

        </div>
    </div><br /><br />

    <h4>
        <i>
            Exercício 7) Sejam A e B subconjuntos de um conjunto universo U. Se U tem 35 elementos, A tem 20 elementos,
            A ∩ B tem 6 elementos e A ∪ B tem 28 elementos, determine o número de elementos dos conjuntos.<br /><br />
    </h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	B<br />
            ⦁	A – B<br />
            ⦁	B – A<br />
            ⦁	 ∩ <br />
        </div>
    </div><br /><br />

    <i>
        Exercícios retirados do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 17 – Disponível
        <a href="https://api.plurall.net/media_viewer/documents/2414500" target="_blank" rel="noopener noreferrer">Neste Link</a>
    </i><br /><br />

</div>
<br />

<div id="container-2" class="container">
    <h1> </h1><br />

    <h3><a asp-action="EDiferencaGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />


</div>
<br />
<br />