@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Igualdade de Conjuntos</h1><br /><br />

    <h4><i>Exercício 1) Indique se cada um dos elementos -4; 3 e 0,25 pertence ou não a cada um destes conjuntos:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A = {x | x é um número inteiro}<br />
            ⦁	B = {x | z < 1}<br />
            ⦁	C = {x | 15x – 5 = 0}<br />
            ⦁	D = {x | -2 ≤ x ≤ ;
        </div>
    </div><br />

    <h4>
        <i>
            Exercício 2) Considerando que F = {x | x é estado do sudeste brasileiro} e G = {x | x é capital de um país sul-americano},
            quais das sentenças seguintes são verdadeiras?<br /><br />
    </h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	Rio de Janeiro ∈ F<br />
            ⦁	México ∈ G<br />
            ⦁	Lima ∉ G<br />
            ⦁	Montevidéu ∈ G<br />
            ⦁	Espírito Santo ∉ F<br />
            ⦁	São Paulo ∈ F
        </div>
    </div><br /><br />

    <h4><i>Exercício 3) Em cada caso, reescreva o conjunto dado enumerando seus elementos:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A = {x | x é letra da palavra “beterraba”}<br />
            ⦁	B = {x | é nome de um estado brasileiro cuja letra inicial é p}<br />
            ⦁	C = {x | x =  , em que a e b são números inteiros, a ≠ b, 1 < a < 4 e 1 < b < 4}
        </div>
    </div><br /><br />

    <h4><i>Exercício 4) Dado H = {-1, 0, 2, 4, 9}, reescreva cada um dos conjuntos seguintes enumerando seus elementos.<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A = {x | x ∈ H e x < 1}<br />
            ⦁	B = {x | x ∈ H e  = 1}<br />
            ⦁	C = {x | x ∈ H e x é um quadrado perfeito} <br />
            ⦁	D = {x | x ∈ H e x < 0}<br />
            ⦁	E = {x | x ∈ H e 3x + 1 = 10}
        </div>
    </div><br /><br />

    <h4><i>Exercício 5) Classifique em verdadeira (V) ou falsa(F) cada uma das sentenças seguintes:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	0 ∈ Ø<br />
            ⦁	{a, b} ∈ {a, b, c, d}<br />
            ⦁	{x | 2x +9 = 13} = {2}<br />
            ⦁	a ∈ {a, {a}}<br />
            ⦁	{x | x < 0 e x ≥ 0} = Ø<br />
            ⦁	Ø ∈ {Ø, {a}}
        </div>
    </div><br /><br />

    <h4><i>Exercício 6) Em cada caso, identifique os conjuntos unitários e os vazios.<br /><br /></h4></i>


    <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A = {x | x = 1 e x = 3}<br />
            ⦁	B = {x | x é um número primo positivo e par}<br />
            ⦁	C = {x | 0 < x < 5 e  = 4}<br />
            ⦁	D = {x | x é capital da Bahia}<br />
            ⦁	E = {x | x é um mês cuja letra inicial do nome é p}<br />
            ⦁	F = {x |  = 0}
        </div>
    </div><br /><br /><br /><br />
    <i>
        Exercícios retirados do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 8 – Disponível
        <a href="https://api.plurall.net/media_viewer/documents/2414500" target="_blank" rel="noopener noreferrer">Neste Link</a>
    </i><br /><br />

</div>
<br />

<div id="container-2" class="container">
    <h1> </h1><br />

    <h3><a asp-action="EIgualdadeConjuntoGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />




</div>
<br />
<br />