@{
    ViewData["Title"] = "Exercícios - Interseção e Reunião";
}
<br />
    <div class="container" id="container-1">
        <h1>Exercícios de Interseção e Reunião</h1><br /><br />

        <h4><i>Exercício 1) Dados os conjuntos A = {p, q, r}, B = {r, s} e C = {p, s, t}, determine os conjuntos:<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A ∪ B<br />
            ⦁	A ∪ C<br />
            ⦁	B ∪ C<br />
            ⦁	A ∩ B<br />
            ⦁	A ∩ C<br />
            ⦁	B ∩ C<br />
            
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible20" class="toggle" type="checkbox">
        <label for="collapsible20" class="lbl-toggle" id="gabarito20">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito20">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        ⦁	{p, q, r, s}<br />
                        ⦁	{p, q, r, s, t}<br />
                        ⦁	{p, r, s, t}<br />
                        ⦁	{r}<br />
                        ⦁	{P}<br />
                        ⦁	{s}<br />


                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

        <h4><i>Exercício 2) A, B e C os conjuntos dados no exercício anterior, determine:<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	(A ∩ B) ∪ C<br />
            ⦁	A ∩ B ∩ C<br />
            ⦁	(A ∩ C) ∪ (B ∩ C)<br />
            ⦁	(A ∪ C) ∩ (B ∪ C)<br />
            
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible21" class="toggle" type="checkbox">
        <label for="collapsible21" class="lbl-toggle" id="gabarito21">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito21">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        ⦁	{r, p, s, t}<br />
                        ⦁	Ø<br />
                        ⦁	{p, s}<br />
                        ⦁	{p, r, s, t}<br />


                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

        <h4><i>Exercício 3) Dado U = {-4, -3, -2, -1, 0, 1, 2, 3, 4}, sejam A = {x ∈ ∪ | x < 0}, B = {x ∈ ∪ | -3 < x < 2} e C = {x ∈ ∪ | x ≥ -1), determine:<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            ⦁	A ∩ B ∩ C<br />
            ⦁	A ∪ B ∪ C<br />
            ⦁	C ∪ (B ∩ A)<br />
            ⦁	(B ∪ A) ∩ C<br />
            
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible22" class="toggle" type="checkbox">
        <label for="collapsible22" class="lbl-toggle" id="gabarito22">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito22">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        ⦁	{-1}<br />
                        ⦁	∪<br />
                        ⦁	{-2, -1, 0, 1, 2, 3, 4}<br />
                        ⦁	{-1, 0, 1}<br />



                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

        <h4><i>Exercício 4)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">    
            Dos 36 alunos do primeiro ano do Ensino Médio de certa escola, sabe-se que 16 jogam futebol, 12 jogam voleibol e 5 
            jogam futebol e voleibol. Quantos alunos dessa classe não jogam futebol ou voleibol?<br />
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible23" class="toggle" type="checkbox">
        <label for="collapsible23" class="lbl-toggle" id="gabarito23">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito23">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        13 Alunos.<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

        <h4><i>Exercício 5)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            Sobre os 48 funcionários de certo escritório, sabe-se que: 30 têm automóvel,  são do sexo feminino e  
            do número de homens têm automóvel. Com base nessas informações, responda:<br />

            ⦁	Quantos funcionários são do sexo feminino e têm automóvel?<br />
            ⦁	Quantos funcionários são homens ou têm automóvel?    <br />        
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible24" class="toggle" type="checkbox">
        <label for="collapsible24" class="lbl-toggle" id="gabarito24">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito24">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        ⦁	6<br />
                        ⦁	38<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

        <h4><i>Exercício 6) Se A, B e C são conjuntos quaisquer, classifique cada uma das sentenças seguintes em verdadeira (V) ou falsa (F):<br /><br /></h4></i>


        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A ∪ Ø = A <br />     
            ⦁	B ∩ Ø = Ø <br />     
            ⦁	(A ∩ B) ⊂ B <br />     
            ⦁	B ⊃ (A ∪ B) <br />     
            ⦁	(B ∪ C) ⊂ B <br />     
            ⦁	(A ∩ B) ⊂ (A ∪ B) <br />     
            ⦁	Ø ⊄ (A ∩ B) <br />     
            ⦁	(A ∪ B) ⊂ (A ∪ B ∪ C) <br />     
            
        </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible25" class="toggle" type="checkbox">
        <label for="collapsible25" class="lbl-toggle" id="gabarito25">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito25">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        ⦁	V<br />
                        ⦁	V<br />
                        ⦁	V<br />
                        ⦁	F<br />
                        ⦁	F<br />
                        ⦁	V<br />
                        ⦁	F<br />
                        ⦁	V<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <h4><i>Exercício 7)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        Dados os conjuntos A = {1, 2, 3}, B = {3, 4} e C = {1, 2, 4}, determine o conjunto X sabendo que 
        A ∪ X = {1, 2, 3}, B ∪ X = {3, 4} e C ∪ X = A ∪ B.<br />  
          
    </div>
    </div><br />

    <div class="wrap-collabsible">
        <input id="collapsible26" class="toggle" type="checkbox">
        <label for="collapsible26" class="lbl-toggle" id="gabarito26">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito26">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        X = {3}<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <h4><i>Exercício 8)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        Determine o número de conjuntos X que satisfazem a relação {1, 2} ⊂ X ⊂ {1, 2, 3, 4}<br /> 
       
    </div>
</div><br />

<div class="wrap-collabsible">
        <input id="collapsible27" class="toggle" type="checkbox">
        <label for="collapsible27" class="lbl-toggle" id="gabarito27">Conferir Gabarito</label>
        <div class="collapsible-content" id="gabarito27">
            <div class="content-inner">
                <p>
                    <i>
                        <br />

                        Quatro.<br />

                    </i>
                </p>
            </div>
        </div>
    </div><br /><br />

    <i>Exercícios retirados do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 15 – Disponível
        <a href="https://api.plurall.net/media_viewer/documents/2414500" target="_blank" rel="noopener noreferrer">Neste Link</a>
    </i><br /><br />
        </div>

    