@{
    ViewData["Title"] = "Exercícios - Interseção e Reunião";
}
<br />
    <div class="container" id="container-1">
        <h1>Exercícios de Interseção e Reunião</h1><br /><br />

        <h4><i>Exercício 1) Dados os conjuntos A = {p, q, r}, B = {r, s} e C = {p, s, t}, determine os conjuntos:<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A ∪ B<br />
            ⦁	A ∪ C<br />
            ⦁	B ∪ C<br />
            ⦁	A ∩ B<br />
            ⦁	A ∩ C<br />
            ⦁	B ∩ C<br />
            
        </div>
    </div><br />

        <h4><i>Exercício 2) A, B e C os conjuntos dados no exercício anterior, determine:<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	(A ∩ B) ∪ C<br />
            ⦁	A ∩ B ∩ C<br />
            ⦁	(A ∩ C) ∪ (B ∩ C)<br />
            ⦁	(A ∪ C) ∩ (B ∪ C)<br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 3) Dado U = {-4, -3, -2, -1, 0, 1, 2, 3, 4}, sejam A = {x ∈ ∪ | x < 0}, B = {x ∈ ∪ | -3 < x < 2} e C = {x ∈ ∪ | x ≥ -1), determine:<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            ⦁	A ∩ B ∩ C<br />
            ⦁	A ∪ B ∪ C<br />
            ⦁	C ∪ (B ∩ A)<br />
            ⦁	(B ∪ A) ∩ C<br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 4)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">    
            Dos 36 alunos do primeiro ano do Ensino Médio de certa escola, sabe-se que 16 jogam futebol, 12 jogam voleibol e 5 
            jogam futebol e voleibol. Quantos alunos dessa classe não jogam futebol ou voleibol?<br />
        </div>
    </div><br /><br />

        <h4><i>Exercício 5)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            Sobre os 48 funcionários de certo escritório, sabe-se que: 30 têm automóvel,  são do sexo feminino e  
            do número de homens têm automóvel. Com base nessas informações, responda:<br />

            ⦁	Quantos funcionários são do sexo feminino e têm automóvel?<br />
            ⦁	Quantos funcionários são homens ou têm automóvel?    <br />        
        </div>
    </div><br /><br />

        <h4><i>Exercício 6) Se A, B e C são conjuntos quaisquer, classifique cada uma das sentenças seguintes em verdadeira (V) ou falsa (F):<br /><br /></h4></i>


        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	A ∪ Ø = A <br />     
            ⦁	B ∩ Ø = Ø <br />     
            ⦁	(A ∩ B) ⊂ B <br />     
            ⦁	B ⊃ (A ∪ B) <br />     
            ⦁	(B ∪ C) ⊂ B <br />     
            ⦁	(A ∩ B) ⊂ (A ∪ B) <br />     
            ⦁	Ø ⊄ (A ∩ B) <br />     
            ⦁	(A ∪ B) ⊂ (A ∪ B ∪ C) <br />     
            
        </div>
    </div><br /><br />

    <h4><i>Exercício 7)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        Dados os conjuntos A = {1, 2, 3}, B = {3, 4} e C = {1, 2, 4}, determine o conjunto X sabendo que 
        A ∪ X = {1, 2, 3}, B ∪ X = {3, 4} e C ∪ X = A ∪ B.<br />  
          
    </div>
    </div><br /><br />

    <h4><i>Exercício 8)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        Determine o número de conjuntos X que satisfazem a relação {1, 2} ⊂ X ⊂ {1, 2, 3, 4}<br /> 

               
    </div>
</div><br /><br /><br />

    <i>Exercícios retirados do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Página 15 – Disponível
        <a href="https://api.plurall.net/media_viewer/documents/2414500" target="_blank" rel="noopener noreferrer">Neste Link</a>
    </i><br /><br />

        </div><br />

    <div id="container-2" class="container">
        <h1> </h1><br />
    
        <h3><a asp-action="EIntersecaoReuniaoGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />


    </div><br /><br />