@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
    <div class="container" id="container-1">
        <h1>Gabarito dos Exercícios Interseção e Reunião </h1><br /><br />

        <h4><i>Exercício 1)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	{p, q, r, s}<br />
            ⦁	{p, q, r, s, t}<br />
            ⦁	{p, r, s, t}<br />
            ⦁	{r}<br />
            ⦁	{P}<br />
            ⦁	{s}<br />
                     
          
        </div>
    </div><br />

        <h4><i>Exercício 2)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	{r, p, s, t}<br />
            ⦁	Ø<br />
            ⦁	{p, s}<br />
            ⦁	{p, r, s, t}<br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 3)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            ⦁	{-1}<br />
            ⦁	∪<br />
            ⦁	{-2, -1, 0, 1, 2, 3, 4}<br />
            ⦁	{-1, 0, 1}<br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 4)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">    
            13 Alunos.<br />
            

        </div>
    </div><br /><br />

        <h4><i>Exercício 5)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            ⦁	6<br />
            ⦁	38<br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 6)<br /><br /></h4></i>


        <div class="container" id="container-alternativas">
        <div id="alternativas">

            ⦁	V<br />
            ⦁	V<br />
            ⦁	V<br />
            ⦁	F<br />
            ⦁	F<br />
            ⦁	V<br />
            ⦁	F<br />
            ⦁	V<br />
            


        </div><br /><br />
    </div><br /><br />

    <h4><i>Exercício 7)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        X = {3}<br />
                   
    </div>
    </div><br /><br />

    <h4><i>Exercício 8) <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">

        Quatro.<br />
               
    </div>
</div><br /><br />
        </div><br />

