@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
    <div class="container" id="container-1">
        <h1>Gabarito dos Exercícios Relação de Inclusão </h1><br /><br />

        <h4><i>Exercício 1)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	V<br />
            ⦁	F<br />
            ⦁	F<br />
            ⦁	V<br />
            ⦁	V<br />
            ⦁	F<br />
            ⦁	F<br />
            ⦁	F<br />            
          
        </div>
    </div><br />

        <h4><i>Exercício 2)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	<img src="../images/ExMat/img1.png" width="35%">
            ⦁	<img src="../images/ExMat/img2.png" width="35%"><br />
        </div>
    </div><br /><br />

        <h4><i>Exercício 3)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            ⦁	<img src="../images/ExMat/img3.png" width="40%">
            ⦁	<img src="../images/ExMat/img4.png" width="40%"><br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 4)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">    
            ⦁	V<br />
            ⦁	F<br />
            ⦁	V<br />
            ⦁	V<br />
            ⦁	V<br />
            ⦁	F<br />
            

        </div>
    </div><br /><br />

        <h4><i>Exercício 5)<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            {2, 4}<br />
        </div>
    </div><br /><br />

        <h4><i>Exercício 6)<br /><br /></h4></i>


        <div class="container" id="container-alternativas">
        <div id="alternativas">

            São verdadeiras: c, e, f.<br />


        </div>
    </div><br /><br />

    <h4><i>Exercício 7)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        ⦁	{1, 2, 3}, {1, 2, 4}, {1, 3, 4} e {2, 3, 4}.<br />
        ⦁	Entre outros, temos: {0, 2, 4, 6}, {0, 4, 6, 8} e {2, 4, 6, 8}<br />
        ⦁	P(Z) = {Ø, {0}, {1}, {2}, {0, 1}, {0, 2}, {1, 2}, {0, 1, 2}}<br />
                   
    </div>
    </div><br /><br />

    <h4><i>Exercício 8) <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">

        Todas são verdadeiras<br />
               
    </div>
</div><br /><br />

    <h4><i>Exercício 9)<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        ⦁	F<br />
        ⦁	V<br />
        ⦁	V<br />
        ⦁	F<br />
                       
    </div>
</div><br /><br />  
        </div><br />
