@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
    <div class="container" id="container-1">
        <h1>Exercícios de Subconjuntos - Relação de Inclusão</h1><br /><br />

        <h4><i>Exercício 1) Sendo M = {0, 3, 5}, classifique as sentenças seguintes em verdadeiras (V) ou falsas (F).<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	5 ∈ M    ⦁	Ø ⊂ M<br />
            ⦁	3 ⊂ M    ⦁	0 = Ø<br />
            ⦁	Ø ∈ M    ⦁	0 ∈ Ø<br />
            ⦁	0 ∈ M    ⦁	0 ⊂ M<br />
        </div>
    </div><br />

        <h4><i>Exercício 2) <br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            A) Use um diagrama de Venn para representar os conjuntos A e B, tais que A é o conjunto dos países da América do Sul 
            e B é o conjunto dos países do continente americano.<br /><br />
            B) Reproduza o diagrama obtido no item anterior e nele destaque o conjunto dos países do continente americano que não se 
            localizam na América do sul.<br />
        </div>
    </div><br /><br />

        <h4><i>Exercício 3) Se A, B, C e D são conjuntos não vazios, para cada uma das situações seguintes 
               faça um diagrama de Venn que as represente.<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   

            ⦁	D ⊂ A ⊂ C ⊂ B<br />
            ⦁	D ⊂ A ⊂ B, C ⊂ B e C ⊄ A<br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 4) Sendo A = {1, 2}, B = {2, 3}, C = {1, 3, 4} e D = {1, 2, 3, 4}. Classifique em verdadeiras (V) ou 
            falsas (F) as sentenças abaixo:
            <br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">    
            ⦁	B ⊂ D<br />
            ⦁	A ⊂ B<br />
            ⦁	A ⊄ C<br />
            ⦁	D ⊃ A<br />
            ⦁	C ⊅ B<br />
            ⦁	C = D<br />
            
        </div>
    </div><br /><br />

        <h4><i>Exercício 5) São dados os conjuntos: A = {x | x é número impar positivo} e B = {y | y é um número inteiro e 0 < y ≤ 4}<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">   
            Determine o conjunto dos elementos z, tais que z ∈ B e z ∉ A<br />
        </div>
    </div><br /><br />

        <h4><i>Exercício 6) Dado o conjunto A = {a, b, c}, em quais dos itens seguintes as sentenças são verdadeiras?<br /><br /></h4></i>

        <div class="container" id="container-alternativas">
        <div id="alternativas">
            ⦁	c ∉ A<br />
            ⦁	{c} ∈ A<br />
            ⦁	{a, c} ⊂ A<br />
            ⦁	{a, b} ∈ A<br />
            ⦁	{b} ⊂ A<br />
            ⦁	{a, b, c} ⊂ A<br />
            
        </div><br /><br />
    </div><br /><br />

    <h4><i>Exercício 7) Dados os conjuntos X = {1, 2, 3, 4}, Y = {0, 2, 4, 6, 8} e Z = {0, 1, 2}: <br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        ⦁	Determine todos os subconjuntos de X, cada qual com exatamente três elementos;<br />
        ⦁	Dê três exemplos de subconjuntos de Y, cada qual com apenas quatro elementos;<br />
        ⦁	Determine o conjunto P(Z)<br />            
    </div>
    </div><br /><br />

    <h4><i>Exercício 8) Considerando as sentenças seguintes:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        ⦁	Ø = {x | x ≠ x}<br />  
        ⦁	Ø ⊂ {Ø}<br />  
        ⦁	Ø ∈ {Ø} <br />  
        ⦁	Ø ⊂ Ø<br />  <br />  
        Quais dessas sentenças são verdadeiras? 
               
    </div>
</div><br /><br />

    <h4><i>Exercício 9) Dado o conjunto U = {0, 1, 2, 3}, classifique em verdadeira (V) ou falsa (F) cada uma das 
        seguintes afirmações sobre U:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
    <div id="alternativas">
        ⦁	Ø ∈ U<br />  
        ⦁	3 ∈ U e U ⊃ {3}<br />  
        ⦁	Existem 4 subconjuntos de U que são unitários.<br />  
        ⦁	O conjunto P(U) tem elementos.<br />  
        
               
    </div>
</div><br /><br />  
 

    
<i>Exercícios retirados do livro: Matemática: Ciência e aplicações – Volume 1 - 9º Edição – Páginas: 10, 11 –  Disponível
    <a href="https://api.plurall.net/media_viewer/documents/2414500">Neste Link</a></i><br /><br />

        </div><br />

    <div id="container-2" class="container">
        <h1> </h1><br />
    
        <h3><a asp-action="ERelacaoInclusaoGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />




    </div><br /><br />