@model Usuario
@{
    Layout = "_LayoutLogOut";
    ViewData["Title"] = "Inicio";

}


<div class="container-login" style="background-color: white">
    <div class="row-login">
        <div class="coluna-login-66">
            <h1 class="xlarge-font" style="color:darkslateblue"><b>All Access</b></h1>
            <h1 class="large-font" style="color:cornflowerblue"><b>O que é?</b></h1>
            <p>
                <span style="font-size:36px">Estude e compartilhe.</span><br />
                Uma plataforma criada por cinco estudantes com o objetivo de aprimorar a forma como as pessoas estudam e se conectam entre si, buscando proporcionar mais satisfação no processo de aprendizagem e promover relacionamentos mais gratificantes com aqueles que estão enfrentando situações semelhantes. Junte-se a nós para estudar e compartilhar suas experiências com a comunidade. Não deixe de acessar e conferir!
            </p>
            
            <a type="button" asp-action="Login" class="btn btn-primary btn-lg"><b>Acessar</b></a>
            
        </div>
        <div class="coluna-login-33">
            <img src="/images/logo_all_access.png" class="responsive" />
        </div>
    </div>
</div>

<div class="container-login " style="background-color:#e3f2fd">
    <div class="row-login">
        <div class="coluna-login-33 " style="float:left">
            <img src="/images/logo_faq.png" class="responsive" />
        </div>
        <div class="coluna-login-66" style="float:right">
            <h1 class="xlarge-font" style="color:darkslateblue"><b>Perguntas frequentes</b></h1>
            <h1 class="large-font" style="color:cornflowerblue"><b>FAQ</b></h1>
            <p>
                <span style="font-size:36px">Para mais informações.</span><br />
                Saiba mais sobre o projeto e tire suas dúvidas.
            </p>
            <!-- Trigger/Open The Modal -->
            <button id="myBtn1" class="btn btn-primary btn-lg " href="#myModal1"><b>Confira</b></button>

            <!-- The Modal -->
            <div id="myModal1" class="modal1">

                <!-- Modal content -->
                <div class="modal1-content">
                    <div class="modal1-header">
                        <span class="close">×</span>
                        <h2>Perguntas Frequentes</h2>
                    </div>
                    <div class="modal1-body">

                        <h3 style="font-weight:bold">Para acessar os conteúdos preciso criar uma conta? </h3>
                        Sim, para acessar os conteúdos da plataforma é necessário criar uma conta. Assim você pode desfrutar da plataforma de forma completa. Bons estudos!<br />

                        <h3 style="font-weight:bold">Posso publicar minhas listas de exercícios e conteúdos de estudo pessoal?</h3>
                        Claro. Publicar seus conteúdos gera uma maior gama de informações sendo compartilhadas na plataforma, isso quer dizer que você, e os demais usuários, encontrarão mais conteúdos para tornar seu aprendizado mais completo.<br />

                        <h3 style="font-weight:bold">Como sei que os conteúdos são confiáveis?</h3>

                        Não precisa se preocupar! Os conteúdos passam por uma curadoria para que todas as informações presentes nas plataformas sejam 100% verídicas e certificadas.<br />

                        <h3 style="font-weight:bold">Como posso sinalizar um erro no exercício ou uma discordância da resposta?</h3>
                        Você pode acessar o nosso servidor do Discord e lá você pode sinalizar para a plataforma a existência de um erro. Este será analisado e, caso constatado o erro, faremos a alteração do mesmo.<br />

                        <h3 style="font-weight:bold">Estou com dúvida sobre uma resposta, como posso receber ajuda?</h3>
                        Acessando nosso servidor do Discord você terá contato com outros usuários da plataforma e, com isso, poderá compartilhar conhecimentos e dúvidas para um melhor aproveitamento.<br />

                        <h3 style="font-weight:bold">Qual faixa etária ou de escolaridade é abrangida por site?</h3>
                        Qualquer pessoa que busque adquirir mais conhecimento, ou obter conteúdos para estudos de vestibular, apoio ao ensino e aprendizado e melhor compreensão de matérias, encontrará o que precisa em nossa plataforma. Ah, educadores também encontrarão conteúdos de apoio ao ensino na plataforma.<br /><br />

                        

                        
                    </div>
                    <div class="modal1-footer">
                        <h3>ALL ACCESS</h3>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<div class="container-login" style="background-color: lightsteelblue">
    <div class="row-login">
        <div class="coluna-login-66">
            <h1 class="xlarge-font" style="color:darkslateblue"><b>Discord</b></h1>
            <h1 class="large-font" style="color:cornflowerblue"><b>Servidor da galera</b></h1>
            <p>
                <span style="font-size:36px">All Access no Discord.</span><br />
                Acesse nosso Servidor no Discord e fique por dentro!
            </p>
            <a href="https://discord.gg/HzfanyhCTH" target="_blank">
                <button class="btn btn-primary btn-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
                        <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"></path>
                    </svg>
                    Acesse
                </button>
            </a>
        </div>
        <div class="coluna-login-33">
            <img src="/images/logo_discord.png" class="responsive" />
        </div>
    </div>
</div>

<!-- VLIBRAS LOGIN -->
<!-- PLUGIN VLIBRAS-->
<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>
<script type="text/javascript" src="~/js/main.bundle.js"></script>
<script>
    var labels = {
        resetTitle: 'Voltar aos padrões',
        closeTitle: 'Fechar',
        menuTitle: 'Menu de Accessibilidade do All Access',
        increaseText: 'Aumentar o tamanho do texto',
        decreaseText: 'Diminuir o tamanho do texto',
        increaseTextSpacing: 'Aumentar o espaçamento do texto',
        decreaseTextSpacing: 'Diminuir o espaçamento do texto',
        increaseLineHeight: 'Aumentar a altura entre linhas',
        decreaseLineHeight: 'Diminuir a altura entre linhas',
        invertColors: 'Inverter cores',
        grayHues: 'Escalas de cinza',
        underlineLinks: 'Sublinhar links',
        bigCursor: 'Cursor grande',
        readingGuide: 'Guia de leitura (TDAH)',
        textToSpeech: 'Texto para fala',
        speechToText: 'Fala para texto',
        disableAnimations: 'Desativar animações'
    };

    var options = {
        labels: labels,
        icon: {
            circular: true,
            img: 'accessible',
            position: {
                top: { size: 50, units: 'vh' },
                left: { size: 2, units: '%' },
                type: 'fixed'
            }

        },
        hotkeys: {
            enabled: true
        }
    };

    options.textToSpeechLang = 'pt-BR';
    options.speechToTextLang = 'pt-BR';



    new Accessibility(options);
</script>

