@{
    @model LoginModel
    Layout = "_LayoutLogOut";
    ViewData["Title"] = "Login";

}

@if (TempData["MensagemErro"] != null)

{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>

}

<div class="container-login">
    <form asp-controller="Login" asp-action="Entrar" method="post">
        <div class="mb-3">
            <label for="login" class="form-label">Email:</label>
            <input type="email" asp-for="Login" class="form-control" id="login" aria-describedby="emailAjuda">
            @Html.ValidationMessageFor(x => x.Login)
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" asp-for="Senha" class="form-control" id="senha">
            @Html.ValidationMessageFor(x => x.Senha)
        </div>
        <button type="submit" class="btn btn-primary btn-success">Login</button>
        <button type="button" class="btn btn-primary btn-danger"><a asp-controller="Usuarios" asp-action="Index" style="text-decoration-none">Criar Conta</a></button>
    </form>
</div>
<div class="container-login" style="background-color:lightskyblue">
    <div class="row-login">
        <div class="coluna-login-66">
            <h1 class="xlarge-font" style="color:aqua"><b>All Access</b></h1>
            <h1 class="large-font" style="color:cornflowerblue"><b>O que é?</b></h1>
            <p>
                <span style="font-size:36px">Estude e compartilhe.</span><br />
                Estude conosco e compartilhe experiencias com a comunidade.
            </p>
            <button class="button-login modal-button" style="background-color:lightblue;" href="">Acesse</button>
        </div>
        <div class="coluna-login-33">
            <img src="/images/logo_all_access.png" class="responsive" />
        </div>
    </div>
</div>

<div class="container-login " style="background-color:antiquewhite">
    <div class="row-login">
        <div class="coluna-login-33 " style="float:left">
            <img src="/images/logo_faq.png" class="responsive" />
        </div>
        <div class="coluna-login-66" style="float:right">
            <h1 class="xlarge-font" style="color:lightblue"><b>Perguntas frequentes</b></h1>
            <h1 class="large-font" style="color:aqua"><b>FAQ</b></h1>
            <p>
                <span style="font-size:36px">Para mais informações.</span><br />
                Conheça mais a aplicação e tire suas duvidas.
            </p>
            <!-- Trigger/Open The Modal -->
            <button id="myBtn" class="button-login " style="background-color:lightblue;" href="#myModal2">Acesse</button>

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">×</span>
                        <h2>Perguntas Frequentes</h2>
                    </div>
                    <div class="modal-body">
                        <h3 style="font-weight:bold">Para acessar os conteúdos preciso criar uma conta? </h3>
                        Sim, para acessar os conteúdos da plataforma é necessário criar uma conta. Assim você pode desfrutar da plataforma de forma completa. Bons estudos!<br />

                        <h3 style="font-weight:bold">Posso publicar minhas listas de exercícios e conteúdos de estudo pessoal?</h3>
                        Claro. Publicar seus conteúdos gera uma maior gama de informações sendo compartilhadas na plataforma, isso quer dizer que você, e os demais usuários, encontrarão mais conteúdos para tornar seu aprendizado mais completo.<br />

                        <h3 style="font-weight:bold">Como sei que os conteúdos são confiáveis?</h3>

                        Não precisa se preocupar! Os conteúdos passam por uma curadoria para que todas as informações presentes nas plataformas sejam 100% verídicas e certificadas.<br />

                        <h3 style="font-weight:bold">Como posso sinalizar um erro no exercício ou uma discordância da resposta?</h3>
                        Você pode acessar o nosso canal do Discord e lá você pode sinalizar para a plataforma a existência de um erro. Este será analisado e, caso constatado o erro, faremos a alteração do mesmo.<br />

                        <h3 style="font-weight:bold">Estou com dúvida sobre uma resposta, como posso receber ajuda?</h3>
                        Acessando nosso canal do Discord você terá contato com outros usuários da plataforma e, com isso, poderá compartilhar conhecimentos e dúvidas para um melhor aproveitamento.<br />

                        <h3 style="font-weight:bold">Qual faixa etária ou de escolaridade é abrangida por site?</h3>
                        Qualquer pessoa que busque adquirir mais conhecimento, ou obter conteúdos para estudos de vestibular, apoio ao ensino e aprendizado e melhor compreensão de matérias, encontrará o que precisa em nossa plataforma. Ah, educadores também encontrarão conteúdos de apoio ao ensino na plataforma.<br />

                        <h3 style="font-weight:bold">Quem somos?</h3>
                        Os desenvolvedores da plataforma são alunos do 8ª semestre de Engenharia de Computação do Instituto Federal de São Paulo, no campus de Piracicaba. A plataforma está sendo desenvolvida como projeto final para a disciplina “Projeto Integrado em Engenharia de Computação 1”, com orientação do docente Thiago Siqueira.<br /><br />

                        .
                    </div>
                    <div class="modal-footer">
                        <h3>ALL ACCESS</h3>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<div class="container-login" style="background-color:aliceblue">
    <div class="row-login">
        <div class="coluna-login-66">
            <h1 class="xlarge-font" style="color:lightblue"><b>Discord</b></h1>
            <h1 class="large-font" style="color:aqua"><b>Canal da galera</b></h1>
            <p>
                <span style="font-size:36px">All Access no Discord.</span><br />
                Acesse nosso canal no discord e fique por dentro!
            </p>
            <a href="https://discord.gg/HzfanyhCTH" target="_blank"><button class="button-login" style="background-color:lightblue;">Acesse</button></a>
        </div>
        <div class="coluna-login-33">
            <img src="/images/logo_discord.png" class="responsive" />
        </div>
    </div>
</div>