@model Usuario
@{
    Layout = "";
    ViewData["Title"] = "Perfil";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoAllAccess</title>
    <link rel="icon" href="/images/AC-icon-logo.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoAllAccess.styles.css" asp-append-version="true" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">




</head>
<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <img class="mb-4" src="/images/logo_all_access.png" alt="" width="200" height="200">
        <h2>Editar dados do perfil</h2>
       
        <div class="row">
            <div class="col-md">
                <form asp-action="Alterar">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sobrenome" class="control-label"></label>
                        <input asp-for="Sobrenome" class="form-control" />
                        <span asp-validation-for="Sobrenome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group w-100 w3-padding-top-24">
                        <button type="submit" class="btn btn-primary btn-lg" >Salvar</button>
                        <a asp-controller="Conta"asp-action="DetalheConta" asp-route-id="@Model.Id"class="btn btn-primary btn-lg">Voltar</a>
                    </div>
                </form>
            </div>
        </div>

            <p class="mt-5 mb-3 text-muted">© 2022 - Plataforma All Access</p>

    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }


</body>

</html>