<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoAllAccess</title>
    <link rel="icon" href="/images/logo_navegador.svg" type ="image/svg+xml" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoAllAccess.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    
  
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

        <symbol id="instagram" viewBox="0 0 16 16">
            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path>
        </symbol>

        <symbol id="discord" viewBox="0 0 16 16">
            <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z" />
        </symbol>
    </svg>

    <header>
        <nav class="navbar navbar-expand-md fixed-top" style="background: rgb(227,242,253);background: linear-gradient(90deg, rgba(227,242,253,0.90) 10%, rgba(135,206,250,1) 100%);">
            <div class="container-fluid">
                @await Component.InvokeAsync("Menu")
            </div>
        </nav>
    </header>
    <!--HEADER-->
    <!--MAIN BODY-->
            <main role="main" class="bd-main order-1" style="padding-top:100px;">
                @RenderBody()
            </main>


    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <!-- CHATBOT -->
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/?size=128&id=gTN9eaZkKLFI&format=png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Inteligência Artificial</h4>
                        <p class="chatbox__description--header">Olá! Sou o Gui do All Access. Como posso te ajudar?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Digite aqui :)">
                    <button class="chatbox__send--footer send__button">Enviar</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="/images/chatbox-icon.svg" /></button>
            </div>
        </div>
    </div>

    

    
   
  
    <!--MAIN BODY-->
    <!--FOOTER-->
    <div class="container-fluid ">
        <footer class="d-flex flex-wrap align-items-center py-3 my-4 border-top">
            <div class="col-md-3 d-flex align-items-center">
                <object type="image/svg+xml" data="/images/AC-icon-logo.svg" width="30" height="24" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" viewBox="0 0 16 16"></object>
                <span class="mb-3 mb-md-0 text-muted">© 2023 Plataforma - All Access</span>
            </div>


            <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
                <li class="ms-3 text-muted" role="button" data-bs-toggle="modal" data-bs-target="#Modal1"> Termos de Uso</li>
                <!-- Modal -->
                <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header " style="background-color:lightskyblue">
                                <h1 id="ModalLabel1" style="color:white">Termos de Uso</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                O acesso e a utilização dos conteúdos do site e outros domínios apontados depende da plena concordância com as
                                cláusulas referentes ao termo de cessão de uso e fornecimento de conteúdos expostos a seguir.<br /><br />

                                A manifestação quanto a adesão às cláusulas deverá ocorrer na página de cadastro através da confirmação ou não no campo específico. 
                                A não concordância tem o efeito de impedir a validação deste e/ou descontinuar o acesso no site.<br /> <br />

                                <b>Termo de cessão de uso e fornecimento de conteúdos</b><br /><br />

                                VOCÊ, que após confirmar na página de cadastro a concordância com as cláusulas desse termo, será denominado USUÁRIO ADERENTE; reciprocamente estabelecemos as seguintes condições:<br /> <br />
                                O presente documento é regido pela Lei Brasileira conforme previsto no artigo 9º do Decreto-lei 4.657/1942, aplicando-se quanto às suas omissões a Lei 10.406/2002 e a Lei 8.078/1990. <br /><br />

                                <b>OBJETO </b><br /><br />

                                1. O objeto desse termo é a cessão de uso e o fornecimento de conteúdo de modo gratuito através da internet pelo site de domínio e propriedade da plataforma ALL ACCESS ao USUÁRIO ADERENTE a fim de viabilizar pesquisas e estudos para a realização de trabalhos escolares do nível fundamental, médio e universitário; trabalho de conclusão de curso, dissertações e teses, bem como outros equivalentes.<br/><br />
                                2. Desde já fica expressamente proibida qualquer cópia ou reprodução que desrespeite a Lei 9.610/1998.<br/><br />
                                
                                <b>DIREITOS E DEVERES DO ALL ACCESS</b><br /><br />
                                1. O ALL ACCESS tem por objetivo a divulgação trabalhos fornecidos por autores de obras de interesse acadêmico em geral, bem como de material acadêmico próprio, sem fins comerciais.<br/><br />
                                2. A divulgação de textos, imagens, áudio, logotipos, slogans, marcas, expressões de propagandas, domínios, nomes comerciais, obras intelectuais, softwares, tecnologia e etc., exceto o material recebido dos autores para publicação, é de exclusiva propriedade do ALL ACCESS o qual detém todos os direitos autorais.<br/><br />
                                3. A prática de ato que viole os direitos autorais, através da utilização imprópria e/ou ilícita visando fins comerciais, dos conteúdos fornecidos através deste instrumento, implica na responsabilidade direta do USUÁRIO ADERENTE o qual responderá civil, criminal e administrativamente na forma da lei pelos atos ilícitos que praticar.<br/><br />
                                4. O ALL ACCESS poderá unilateralmente praticar todos os atos autorizados por lei a fim de proteger os direitos autorais próprios e de terceiros, inclusive adotando mecanismos restritivos do acesso.<br/><br />
                                5. O ALL ACCESS se responsabiliza pelo acesso constante, ininterrupto e isento de erros do site ao USUÁRIO ADERENTE, ficando ressalvados os casos em que as interrupções e erros no funcionamento estejam ligados a problemas no sistema de telecomunicações, decorrentes da complexidade tecnológica e de fatos alheios à sua responsabilidade, como defeitos em softwares, hardwares, sistemas de processamento, bem como inabilidade do USUÁRIO ADERENTE para operar no sistema, ou qualquer outro problema tecnológico vinculados aos seus servidores.<br/><br/>
                                6. Não se caracteriza a responsabilidade do ALL ACCESS nos casos decorrentes da utilização indevida do nome (login) ou da senha do USUÁRIO ADERENTE por terceiros. Assim como não responderá por prejuízos causados por terceiros em virtude da utilização dos dados cadastrais do USUÁRIO ADERENTE, que forem veiculados de acordo com os termos deste contrato.<br/><br />
                                7. O ALL ACCESS não se responsabiliza por cadastros feitos por terceiros.<br/><br />
                                8. O ALL ACCESS não se responsabiliza civil, criminal ou administrativamente pelo conteúdo fornecido através da cessão de uso por autores que divulguem seus trabalhos acadêmicos direta ou indiretamente através do site.<br/><br />
                                9. O domínio do site do ALL ACCESS é exclusivo, não se responsabilizando aquele por acessos do USUÁRIO ADERENTE a outros domínios, mesmo que tais se apresentem com as mesmas características do ALL ACCESS.<br /><br />

                                <b>DOS DIREITOS E DEVERES DO USUÁRIO ADERENTE</b><br /><br />
                                1. O acesso ao ALL ACCESS fica inteira e totalmente vinculado a concordância e aceitação das condições previstas neste documento através do registro no campo próprio quanto a tal condição.<br /><br />
                                2. Após o registro da concordância pelo USUÁRIO ADERENTE na página de cadastro, este obrigatoriamente deverá validar o cadastro, a fim de que, posteriormente seja iniciado o envio de trabalhos e artigos acadêmicos e a utilização do SITE. <br /><br />
                                2.1. A validação do cadastro mencionado acima consiste em: <br /><br />
                                <p>2.1.1. Informar nome completo;<br />
                                2.1.2. Informar endereço completo;<br />
                                2.1.3. Informar nº do documento de identificação e CPF;<br />
                                </p>

                                3. O não preenchimento do cadastro pelo USUÁRIO ADERENTE não afasta o conhecimento quanto aos termos e condições deste instrumento, os quais estão disponíveis sob a forma de links no rodapé.<br /><br />
                                4. O USUÁRIO ADERENTE se responsabiliza inteiramente pelo sigilo e manutenção de sua senha e login, através dos quais realiza a navegação e a inserção de conteúdos no site.<br /><br />
                                5. É responsabilidade do USUÁRIO ADERENTE manter seus dados cadastrais atualizados, bem como a informar imediatamente através de email ao ALL ACCESS qualquer suspeita de uso indevido ou não autorizado de sua senha, login ou dados cadastrais.<br /><br />
                                6. É de inteira responsabilidade do USUÁRIO ADERENTE as informações dispostas em seu cadastro, sendo considerada falsidade ideológica o fornecimento de informações inverídicas, tornado sem efeito e extinto, sem aviso prévio, qualquer vínculo jurídico entre as partes e ficando autorizado o ALL ACCESS a bloquear o acesso do USUÁRIO ADERENTE.<br /><br />
                                7. Na hipótese da constatação pelo ALL ACCESS de cadastro inválido, este será sumariamente e sem aviso prévio cancelado. Neste caso ficará sem efeito os termos do plano de premiação.<br /><br />
                                8. O USUÁRIO ADERENTE não poderá manter mais de 1 (um) cadastro ativo no site. Constatando o ALL ACCESS fica autorizado a adotar os procedimentos necessários para assegurar o cumprimento desta cláusula.<br /><br />
                                9. O fornecimento do material acadêmico é de absoluta responsabilidade do USUÁRIO ADERENTE, tanto em relação ao seu conteúdo quanto à sua propriedade e autenticidade. Nestes termos o USUÁRIO ADERENTE responderá perante terceiros por eventuais reclamações judiciais ou extrajudiciais quanto a direitos de autoria.<br /><br />
                                10. No caso de ocorrer a responsabilização do ALL ACCESS por qualquer ato praticado pelo USUÁRIO ADERENTE, aquele fica autorizado a efetuar a denunciação da lide e a promover a ação regressiva para o fim de ressarcir-se de quaisquer despesas ou prejuízos que tenha realizado em decorrência daqueles atos.<br /><br />
                                11. O USUÁRIO ADERENTE terá seu nome publicado juntamente com o material que fornecer não havendo o direito ao sigilo da fonte.<br /><br />
                                12. O material fornecido pelo USUÁRIO ADERENTE será avaliado pelo ALL ACCESS que poderá rejeitar sua divulgação, sem que isto implique na responsabilidade solidária ou subsidiária entre as partes.<br /><br />
                                13. Através do presente documento o USUÁRIO ADERENTE declara expressamente que cede o uso gratuito e sem quaisquer restrições do material fornecido para divulgação pelo ALL ACCESS, fazendo-o por prazo indeterminado e em caráter irrevogável, indisponível e irretratável.<br /><br />
                                14. O USUÁRIO ADERENTE autoriza sem restrições ou condições ao ALL ACCESS a realizar as adaptações de forma para a melhor apresentação dos conteúdos fornecidos. Quaisquer alterações no conteúdo somente poderão ser realizadas pelo USUÁRIO ADERENTE, ou mediante sua autorização.<br /><br />
                                15. Havendo a constatação de que o material fornecido para o ALL ACCESS não obedece à legislação quanto aos direitos autorais, este poderá unilateralmente e sem aviso prévio cancelar todos os pontos conquistados através da premiação estabelecida através deste documento.<br /><br />
                                16. O USUÁRIO ADERENTE que tenha recebido prêmios ou incentivos em dinheiro se obriga a devolvê-lo integralmente e corrigido monetariamente de acordo com a lei, caso venha a ser constatado pelo ALL ACCESS que o material objeto da premiação tenha sido obtido de modo ilícito ou sem atender à lei autoral.<br /><br />
                                17. O ALL ACCESS não se responsabiliza pelo uso realizado dos conteúdos colocados à disposição no site. Desta forma, eventuais cópias ou outras práticas lesivas do direito do autor realizadas por usuários não são da responsabilidade do ALL ACCESS.<br /><br />
                                18. O material fornecido pelo USUÁRIO ADERENTE para a utilização no ALL ACCESS, se rege pelas seguintes regras:<br /><br />
                                <p>
                                    a) a responsabilidade por seu conteúdo é exclusiva do USUÁRIO ADERENTE;<br /><br />
                                    b) é facultado ao ALL ACCESS diretamente ou através de sua equipe a realização da revisão do material encaminhado pelo USUÁRIO ADERENTE;<br /><br />
                                    c) caberá ao ALL ACCESS de forma unilateral gerenciar a inclusão e a exclusão no site, sem o aviso prévio;<br /><br />
                                    d) o USUÁRIO ADERENTE fornece o material de forma gratuita, não lhe assistindo direitos a recompensas econômicas em virtude do fornecimento dos conteúdos.<br /><br />
                                    e) Nos termos deste documento o ALL ACCESS poderá a seu critério exclusivo, criar incentivos na forma de pontos ou outros meios;<br /><br />
                                </p>
                                19. É terminantemente proibido: <br /><br />
                                <p>a) O envio de material com conteúdo obsceno, discriminatório, pornográfico, ofensivo à moral, bons costumes, ética e/ou à legislação em geral, sob pena do USUÁRIO ADERENTE fornecedor do conteúdo responder pelas perdas e danos e lucros cessantes pelos danos que causar a terceiro ou ao ALL ACCESS.<br /><br />
                                    b) a utilização do ALL ACCESS para fins comerciais, tais como o envio de publicidade, correspondências institucionais, malas diretas, propagandas ou qualquer outro material dessa natureza.<br /><br />
                                    c) enviar arquivos ou materiais infectados por vírus, causando danos diretos ou indiretos, imediatos ou não ao software ou hardware do ALL ACCESS ou aos demais USUÁRIOS ADERENTES.<br /><br />
                                    d) reproduzir parcial ou total quaisquer textos do ALL ACCESS em outros sites da Internet, em blogs, revistas, revistas eletrônicas, livros, apostilas ou qualquer outro meio físico ou tecnológico sem autorização por escrito do ALL ACCESS, com exceção de reproduções em trabalhos escolares e acadêmicos, revistas e jornais acadêmicos produzidas por instituições de ensino sem fins comerciais.<br /><br />
                                    e) fornecer o conteúdo do ALL ACCESS em apostilas, blogs, CDs, links para download ou quaisquer tipos de comercialização e reprodução sem autorização por escrita da administração do site.<br /><br />
                                        </p>

                                <b>INFORMAÇÃO QUANTO A AUTORIA DO CONTEÚDO</b><br /><br />
                                1. O ALL ACCESS não se responsabiliza nem se obriga a proteger a fonte do material publicado, logo, qualquer usuário do site que se sinta lesado ou ofendido pelos conteúdos publicados poderá requerer através de simples petição escrita diretamente endereçada ao ALL ACCESS o esclarecimento quanto a autoria do material considerado ofensivo. O ALL ACCESS não se responsabiliza pelos atos que decorram dessa informação.<br /><br />

                                <b>REGRAS PARA PUBLICAÇÃO</b><br /><br />
                                1. O ALL ACCESS não divulga em nenhuma hipótese, sendo terminantemente proibida a apresentação de textos com conteúdos racistas ou discriminatórios, caso em que se utilizando o USUÁRIO ADERENTE dessa prática será suspenso e bloqueado o seu acesso.<br /><br />
                                2. Não serão publicados textos cuja inteligibilidade e clareza seja insuficiente ou inexistente, ou ainda, com problemas de pontuação, ortografia, concordância e outras deficiências que tornem seu conteúdo inexpressivo.<br /><br />
                                3. Não será admitido textos com formatação imprópria, como letras gigantes, informações falsas.<br /><br />
                                O USUÁRIO ADERENTE reconhece o direito unilateral do ALL ACCESS de alterar os termos e condições desse documento, cabendo-lhe o direito de informação através do correio eletrônico ou na home page do ALL ACCESS.<br /><br />
                                O presente documento poderá ser extinto a qualquer tempo e independentemente de justificação ou justa causa através de comunicação prévia por escrito de forma impressa ou eletrônica com a antecedência mínima de 5 (cinco) dias úteis sem que o exercício desse direito acarrete deveres de indenizar, tornando inexistentes todos os seus efeitos, inclusive aqueles que envolvam eventuais sistemas de premiação.<br /><br />
                                A rescisão com justa causa desse termo acarreta para o ALL ACCESS o direito unilateral de decidir sobre o interesse, oportunidade e conveniência de aceitar o pedido de recadastramento do USUÁRIO ADERENTE que tenha dado causa para a extinção do contrato.<br /><br />
                                As partes elegem a Comarca de Piracicaba/SP, com a renúncia de qualquer outra por mais privilegiada que seja, para discutirem quaisquer desacordos relativamente a aplicação das cláusulas aqui referidas.<br /><br />
                                Estando as partes cientes a respeito das cláusulas deste termo de cessão de uso e fornecimento de conteúdos, aderem reciprocamente através de meio eletrônico às suas cláusulas, sem quaisquer direitos ou reclamações quanto à sua interpretação ou aplicação<br /><br />






                            </div>
                            <div class="modal-footer" style="background-color:lightskyblue">
                                <h3 style="color:white">ALL ACCESS</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </ul>

            <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
                <li class="ms-3 text-muted" role="button" data-bs-toggle="modal" data-bs-target="#Modal2"> Sobre</li>
                <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="ModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:lightskyblue">
                                <h1 id="ModalLabel2" style="color:white">Sobre</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Tivemos experiencias parecidas em todo nosso processo de estudo para o vestibular e também nos nossos momentos de estudo durante nosso processo de graduação, visamos diversas plataformas que são educativas, mas a maioria das plataformas eram pagas e diante desses pontos decidimos criar a All Access, que é uma plataforma gratuita no intuito de ajudar os estudantes a se preparar para os vestibulares, e agregar nos estudos do dia a dia.<br /> <br />
                                All Access, é uma ideia que tem como objetivo melhorar a maneira como as pessoas estudam e interagem entre si. Afim de trazer mais prazer nos estudos e uma relação melhor com outras pessoas que estão passando pelo mesmo momento que todos os estudantes, visando as ODS da ONU, onde escolhemos a ODS 4 – Educação de qualidade, pensando em propor para todas as pessoas um conhecimento de fácil acesso e de forma gratuita. Onde os estudantes que buscam conhecimentos para vestibulares ou para algum tipo de estudo, consiga ter conteúdos disponíveis que foram verificados, e também conteúdos que outros estudantes desenvolveram ou achou interessante compartilhar. Com o acesso ao servidor de comunicação os estudantes podem se juntar para tirar duvidas entre si e compartilhar alguns conhecimentos, esse estudo compartilhado gera grandes benefícios, já que podem ter acesso a conhecimentos diversos e visões de estudos diferentes. <br /> <br />
                                Hoje em dia sabemos que existem muitos conteúdos hoje em dia que não são verificados e podem trazer noticias falsas para o estudante, com isso os conteúdos do All Access sempre são verificados e retirados de fontes confiáveis, também realizamos todos os cumprimentos de direitos autorais. <br /> <br />

                                <b>EQUIPE</b><br /><br />
                                A equipe é composta por 5 alunos do 8º semestre de Engenharia da Computação do Instituto Federal de São Paulo – Campus Piracicaba, os integrantes são: Alexandro Robert, Bruno Bragagnolo, Caique Bruno, Guilherme Beig, Giovanni Marques. Todos os integrantes agregaram no desenvolvimento do projeto, com ideias, implementações, correções, gerenciamento, testes com publico alvo, divulgações. Descrevendo as funções implementadas por cada integrante temos: <br /><br />
                                Alexandro Robert: Responsável por Buscar Conteúdos iniciais de Matemática e implementar, buscar e implementar exercícios de vestibulares anteriores: ENEM, Implementação do servidor (DISCORD), Design de Imagens e logos, Criação de página de divulgação (INSTAGRAM).<br /><br />
                                Bruno Bragagnolo:  buscar e implementar exercícios de vestibulares anteriores: Fuvest e Comvest, busca de noticias sobre vestibulares, auxilio em implementações de exercícios de Física, criação de vídeo de instrução sobre a plataforma.<br /><br />
                                Caique Bruno: Responsável por implementações de Front-end e Back-end, framework entity, criação do banco de dados e realização de testes.<br /><br />
                                Guilherme Beig: Responsável por implementar os conteúdos em códigos HTML no banco de dados, estruturar páginas de front-end, definir folha de estilo, implementar VLibras na plataforma, revisão de estrutura final.<br /><br />
                                Giovanni Marques: Responsável por Buscar Conteúdos iniciais de Física e implementar, realizar termos de uso da plataforma, perguntas frequentes (FAQ), e relatórios sobre o projeto, revisão de conteúdo escrito e referências. <br /><br />


                            </div>
                            <div class="modal-footer" style="background-color:lightskyblue">
                                <h3 style="color:white">ALL ACCESS</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/plataforma_all_access/" target="_blank"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="https://discord.gg/HzfanyhCTH" target="_blank"><svg class="bi" width="24" height="24"><use xlink:href="#discord"></use></svg></a></li>
            </ul>
        </footer>
    </div>
    <!--FOOTER-->

    <!--SCRIPT-->
    <script src="~/js/app.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    
    @await RenderSectionAsync("Scripts", required: false)
    <!--SCRIPT-->
</body>
</html>


