<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoAllAccess</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoAllAccess.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg  " style="background-color: lightskyblue">
            <div class="container-fluid">
                <a class="navbar-brand active" asp-controller="Home" asp-action="Index" style="font-family:gagalin">ALL ACCESS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
        </nav>
    </header>
    <!--HEADER-->
    <!--MAIN BODY-->
    <div>
        <div class=" w3-quarter">
            &nbsp;
        </div>
        <div class="w3-twothird w3-content justify-content-center">
            <main role="main" class="bd-main order-1">
                @RenderBody()
            </main>
        </div>
        <div class="w3-quarter">
            &nbsp;
        </div>
    </div>
    <!--MAIN BODY-->
    <!--FOOTER-->
    <footer>
    </footer>
    <!--FOOTER-->
    <!--SCRIPT-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--SCRIPT-->
</body>
</html>