@model IEnumerable<PageModel>

@{
    ViewData["Title"] = "Energia";
}

<br />
@foreach (var item in Model) {
    @Html.Raw(item.Conteudo)
}
<br />

<div id="container-2" class="container">
    <h1>Capítulos:</h1><br />

    <h3>
        <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex" asp-route-id="1">1. Energia Introdução</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex" asp-route-id="2">2. Energia Cinética</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex" asp-route-id="3">3. Energia Potencial Gravitacional</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex" asp-route-id="4">4. Energia Potencial Elástica</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex" asp-route-id="5">5. Energia Mecânica</a><br />

    </h3>

</div>
<br />