@{
    ViewData["Title"] = "Energia - Capítulo 1";
}

<br />
<div class="container" id="container-1">
    <h1>Energia Cinética</h1><br />

    Esta energia possui valor relativo, já que esta depende diretamente da velocidade que um corpo se locomove em relação a um 
    referencial escolhido para o caso.  Se pensarmos em dois aviões andando na mesma velocidade, podemos dizer que os mesmos não 
    possuem energia cinética quando comparados uns com os outros. Porém, se utilizarmos como referencial o solo, a energia cinética 
    desses dois aviões será alta já que a sua velocidade em relação ao solo está elevada.<br />
    Colocando o que foi dito anteriormente em prática, onde um força constante F, cujo módulo é igual a 2N e este atua em um objeto 
    de massa m ao longo de um deslocamento ΔS. Ao final deste deslocamento adquire-se uma velocidade V.<br /><br />

    O quadro abaixo mostra os possíveis valores das grandezas que estão envolvidas no exemplo acima, 
    onde suas massas são respectivamente 1 kg e 2 kg.<br /> <br />

    <img src="/images/Fis/img18.png" width="750" /><br /><br />

    Podemos concluir que, ao compararmos os valores do trabalho com a velocidade obtida pelos dois objetos, temos:<br />
    ⦁	para o mesmo trabalho executado pela força resultante sobre os dois objetos, um com a metade da massa do outro, a 
    velocidade conseguida ao final de cada deslocamento é sempre menor para m2;<br />
    ⦁	é preciso realizar o dobro do trabalho para que um objeto com o dobro da massa de outro alcance a mesma velocidade do outro;<br />
    ⦁	é preciso realizar o quádruplo do trabalho para que um objeto alcance o dobro de sua própria velocidade.<br /><br />

    A energia, como citada acima pode ser gerada de diversas formas, entretanto, para o estudo de hoje,
    focaremos na energia cinética. Este tipo de energia está diretamente relacionado ao movimento, ou seja,
    a energia cinética é a energia de um corpo em virtude de seu movimento. <br /><br />
    <img src="/images/Fis/img7.png" width="150" height="75"><br /><br />

    <h3>Onde:</h3>
    𝑬𝑪 é a energia cinética;  <br />

    m é a massa do corpo;  <br />

    v é a velocidade. <br />

    O trabalho realizado pela força resultante que atua sobre o corpo é igual à variação da energia cinética sofrida pelo corpo. <br /><br />

    <img src="/images/Fis/img8.png" width="200" height="100"><br /><br />

    Acesse o vídeo abaixo a respeito desse assunto:<br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/Ht-a2_yNuec" title="FÍSICA - ENERGIA CINÉTICA: Trabalho e Energia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />

    Livro utilizado para extrair o conteúdo: <br />
    <a href="https://www.colegioanchieta.com.br/recife/apostilas/APOSTILA-DE-FISICA.pdf">Link</a> <br />


</div>
<br />

<div id="container-2" class="container">
    <h1>Continue estudando..</h1><br />

    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="Energia2">Próximo capítulo: Energia Potencial Gravitacional</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex">Menu Inicial </a><br />

    </h3>

</div>
<br />