@{
    ViewData["Title"] = "Energia - Capítulo 2";
}

<br />
<div class="container" id="container-1">

    <h1>Energia Potencial Gravitacional </h1><br /><br />
    <div class="container" id="container-3">

        Para tornar mais fácil o entendimento, imagine que você deixou um lápis cair do décimo andar de um prédio. 
        Conforme o tempo for passando, o lápis pegará cada vez mais velocidade devido ao campo gravitacional terrestre. 
        A energia latente presente no corpo é preservada até o momento em que lápis é solto. Esta energia latente pode ser transformada 
        em outros tipos de energia, neste caso ela foi transformada em energia cinética devido ao movimento.<br />
        A energia potencial gravitacional está armazenada no campo gravitacional e associada ao sistema planeta-objeto. 
        Este tipo de energia corresponde diretamente ao trabalho que o peso do objeto realiza durante o deslocamento do mesmo, do 
        ponto de partida, até o ponto de chegada. Ou seja, caso o lápis caísse de uma altura próxima ao seu peito, a energia cinética 
        manifestada pela ação seria muito menor se comparada ao exemplo citado anteriormente onde o lápis cai do décimo andar de um prédio.<br /><br />


        <table>
            <tr>
                <td><img width="250" height="400" src="/images/Fis/img9.png"></td>

                <td>
                    Este tipo de energia está diretamente ligada a posição, ou altura (h) do corpo que será observado na situação.
                    Um exemplo deste tipo de energia é a água de uma usina hidrelétrica, onde, conforme a água cai (associado à sua força)
                    faz com que as turbinas sejam acionadas.
                </td>
            </tr>
        </table><br /><br />
    </div>

        
        <img width="150" height="75" src="/images/Fis/img10.png">
        
  <br /><br />

    <h3>Onde:</h3>

    𝑬𝑷𝑮 é a energia potencial gravitacional; <br />

    m é a massa;  <br />

    g é a gravidade;  <br />

    H é a altura em que o corpo se encontra. <br /><br />

    Acesse o vídeo a respeito desse assunto: <br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/R9_oyczcvU4" title="Energia Potencial Gravitacional - Aula 11" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />

    Livro utilizado para extrair o conteúdo: <br />
    <a href="https://www.colegioanchieta.com.br/recife/apostilas/APOSTILA-DE-FISICA.pdf">Link</a> <br />

</div>
<br />

<div id="container-2" class="container">
   <h1>Continue estudando...</h1><br />

    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="Energia3">Próximo capítulo: Energia Potencial Elástica</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex">Menu Inicial </a><br />
    </h3>

</div>
<br />