@{
    ViewData["Title"] = "Energia - Capítulo 3";
}

<br />
<div class="container" id="container-1">
    <h1>Energia Potencial Elástica</h1><br />

    Quando a mola está em seu estado normal, sem qualquer tipo de deformação, dizemos que a mesma não possui energia acumulada. 
    Porém, se tivermos a ação de uma força externa que possa fazer com que a mola se deforme, teremos um acumulo de energia que terá 
    força suficiente para realizar trabalho.<br />
    A energia potencial elástica do sistema mola-objeto será sempre correspondente ao trabalho que será realizado pela força elástica que 
    foi acumulada na mola. Devido a força elástica não ser constante ao longo do deslocamento, o trabalho que será realizado pode ser 
    calculado através da área sobre uma reta.<br /><br />

    Quando comprimimos uma mola ou esticamos a corda de um arco, estamos acumulando nos materiais a energia potencial elástica.<br />  <br />
    <img width="225" height="100" src="/images/Fis/img11.png"><br /><br />

    <h3>Onde:</h3>  <br />

    𝑬𝑬𝑳 é a energia potencial elástica;  <br />

    K é a constante da mola;  <br />

    x é a deformação sofrida pela mola.  <br /><br />

    Acesse o vídeo aula abaixo a respeito desse assunto:<br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/ZGSOSoWflec" title="Energia Potencial Elástica - Aula 12" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />
</div>
<br />

<div id="container-2" class="container">
    <h1>Continue estudando...</h1><br />

    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="Energia4">Próximo capítulo: Energia Mecânica</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex">Menu Inicial </a><br />

    </h3>

</div>
<br />