@{
    ViewData["Title"] = "Física - Índice";
}
<br />
<div class="container" id="container-fisica-index">
    <br />
    

    <div id="container-fisica-index2" class="container">
        Índice de conteúdo - Física<br /><br />



        Comece a estudar:<br /> <br />

            
                <div id="container-fisica-index3" class="container">
            <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex">1.      Energia</a><br />
            </div><br />
                    <div id="container-fisica-index3" class="container">
            <a style="text-decoration: none" asp-controller="Fis" asp-action="TrabalhoIndex">2.     Trabalho</</a><br />
            </div><br />
                        <div id="container-fisica-index3" class="container">
            <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex">3.     Dinâmica</ </a><br />
                </div><br />
            <br /><br />



    </div>

    
    
    
    
    
    
    <br /><br />

</div>
<br />

