@{
    ViewData["Title"] = "Física - Índice";
}
<div class="row">
    <div class="col-md-2">
        <!--<div >
            <ul >
                <h4 style="text-align:center">Matematica</h4>
                <li class="rounded"><a asp-controller="Mat" asp-action="NocoesConjuntos" class=" text-decoration-none">Noções de Conjuntos</a></li>
                <h4 style="text-align:center">Fisica</h4>
                <li class="rounded "><a asp-controller="Fis" asp-action="EnergiaIndex" class="text-decoration-none ">Energia </a></li>
                <li class="rounded"><a asp-controller="Fis" asp-action="TrabalhoIndex" class="text-decoration-none ">Trabalho</a></li>
                <li class="rounded"><a asp-controller="Fis" asp-action="LeiNewtonIndex" class="text-decoration-none ">Leis de Newton</a></li>
            </ul>
         </div>-->
    </div>
    <div class="col-md-8">
        <div class="coluna2">
            <div class="cartao2">
                <img src="/images/index/indexFisLogo.jpg" />
            </div>
        </div>
        <div class="linha">

            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Fis" asp-action="EnergiaIndex" asp-route-id="1"><img src="/images/index/indexEnergia.jpg" /></a>
                </div>
            </div>

            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Fis" asp-action="TrabalhoIndex" asp-route-id="6"><img src="/images/index/indexTrabalho.jpg" /></a>
                </div>
            </div>

            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Fis" asp-action="LeiNewtonIndex" asp-route-id="10"><img src="/images/index/indexDinamica.jpg" /></a>
                </div>
            </div>

            <div class="coluna">
                <div class="cartao">
                    <a asp-controller="Fis" asp-action="MecanicaIndex" asp-route-id="10"><img src="/images/index/indexMecanica.jpg" /></a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <!--
            <h4 style="text-align:center">Dashboard</h4>
        -->
    </div>
</div>
<!--
<div class="container" id="container-fisica-index">
    <br />
    

    <div id="container-fisica-index2" class="container">
        Índice de conteúdo - Física<br /><br />



        Comece a estudar:<br /> <br />

            
                <div id="container-fisica-index3" class="container">
            <a style="text-decoration: none" asp-controller="Fis" asp-action="EnergiaIndex">1.      Energia</a><br />
            </div><br />
                    <div id="container-fisica-index3" class="container">
            <a style="text-decoration: none" asp-controller="Fis" asp-action="TrabalhoIndex">2.     Trabalho</</a><br />
            </div><br />
                        <div id="container-fisica-index3" class="container">
            <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex">3.     Dinâmica</ </a><br />
                </div><br />
            <br /><br />



    </div>

    
    
    
    
    
    
    <br /><br />

</div>
<br />-->

