@{
    ViewData["Title"] = "Dinâmica - Capítulo 3";
}

<br />
<div class="container" id="container-1">
    <h1>Terceira Lei de Newton</h1><br />

    A terceira lei de Newton diz que “para toda e qualquer ação sempre haverá uma reação oposta de intensidade igual. 
    Se existe uma força  (força aplicada por um corpo A em um corpo B), então há uma força correspondente  
    (força aplicada pelo corpo B no corpo A).<br />
    Por exemplo, ao derrubarmos um copo de vidro no chão há uma aplicação de força do copo sob o chão, bem como o chão duro aplica uma 
    força sob o copo de vidro. Tudo depende da massa e da resistência de cada objeto, por isso não podemos dizer que a força de ação e 
    reação irá produzir o mesmo resultado para os dois objetos<br />
    É possível observar isso de forma mais contundente nos lançamentos de foguetes. Enquanto o motor ejeta gazes com uma alta pressão e 
    temperatura, esses gases “empurram” o foguete no sentido contrário, sendo assim, os foguetes conseguem alcançar a orbita do planeta 
    ao serem projetados para o sentido contrário da expulsão dos gases.
    <br /><br />

    <img src="/images/Fis/img16.png" width="25%"><br /><br />

    Acesse o vídeo abaixo a respeito desse assunto:<br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/5nwKWnxPgoQ" title="Terceira Lei de Newton: Ação e Reação - Brasil Escola" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div><br />

    Livro utilizado para extrair o conteúdo: <br />
    <a href="https://www.colegioanchieta.com.br/recife/apostilas/APOSTILA-DE-FISICA.pdf">Link</a> <br />

</div>
<br />

<div id="container-2" class="container">
    <h1>Continue estudando...</h1><br />

    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewton4">Próximo Capítulo: Força Peso</a><br /><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex">Menu Inicial</a><br /><br />

    </h3>

</div>
<br />