@{
    ViewData["Title"] = "Dinâmica - Capítulo 1";
}

<br />
<div class="container" id="container-1">
    <h1>Primeira Lei de Newton</h1><br />


    A primeira lei diz que “todo corpo continua em seu estado, seja ele de repouso ou movimento uniforme,
    em uma linha reta a menos que este seja forçado a mudar de estado devido a forças que foram aplicadas sobre ele.” <br /><br />

    Mais conhecida também como inércia, esta lei, em outras palavras, afirma que a força resultante é nula, logo
    podemos dizer em outras palavras que a velocidade do objeto será constante.  <br /><br />

    Um exemplo desta lei é quando ao frear um veículo, como o carro por exemplo, o corpo dos passageiros tende a
    continuar o movimento até que o sinto de segurança faça com que o mesmo fique encostado no banco. <br /><br />

    Para Newton, nenhuma partícula por sí só pode ou consegue modificar sua velocidade, ou seja, esta partícula não 
    sai do seu estado de repouso ou retilíneo uniforme sem que haja influência de outra força.<br /><br />

    A força resultante nula ocorre quando as forças aplicadas se neutralizam ou quando não há força alguma sendo aplicada. 
    Em ambos os casos podemos dizer que as partículas estão mecanicamente isoladas.<br /><br />

    Astronautas e profissionais que trabalham com propulsão de foguetes conhecem o principio da inércia e precisam 
    sempre levar isto em consideração. Logo, qualquer que seja o movimento que será feito precisará ser calculado de forma minuciosa 
    já que uma caixa de ferramentas ou um parafuso pequeno podem danificar a nave se este pegar um impulso que não foi desejado.<br /><br />


    Acesse o vídeo abaixo a respeito desse assunto:<br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/AEg97h51UnM" title="Primeira Lei de Newton: Inércia - Brasil Escola" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />

    Livro utilizado para extrair o conteúdo: <br />
    <a href="https://www.colegioanchieta.com.br/recife/apostilas/APOSTILA-DE-FISICA.pdf">Link</a> <br />


</div>
<br />

<div id="container-2" class="container">
    <h1>Continue estudando...:</h1><br />

    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewton2">Próximo Capítulo: 2ª Lei de Newton</a><br /><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex">Menu Inicial</a><br /><br />

    </h3>

</div>
<br />
