@{
    ViewData["Title"] = "Dinâmica";
}

<br />
<div class="container" id="container-1">
    <h1>Introdução a Dinâmica</h1><br />

    A dinâmica é a parte da física mecânica que estuda o movimento dos corpos.
    Para isso, falaremos sobre as Leis de Newton. Estas leis descrevem o comportamento de corpos em movimento e recebem este
    nome pois foram formuladas por Isaac Newton. Estas leis nos explicam um pouco melhor sobre como as forças causam movimento ao
    agirem sobre um corpo. <br /><br />

</div>
<br />

<div id="container-2" class="container">
    <h1>Capítulos:</h1><br />

    <h3>


        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewton1">1.    1ª Lei de Newton</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewton2">2.	2ª Lei de Newton</</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewton3">3.	3ª Lei de Newton</ </a><br /><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewton4">4.	Força Peso </a><br /><br />

    </h3>

</div>