@model IEnumerable<PageModel>
@{
    ViewData["Title"] = "Dinâmica";
}

<br />
@foreach (var item in Model)
{
    @Html.Raw(item.Conteudo)
}
<br />

<div id="container-2" class="container">
    <h1>Capítulos:</h1><br />

    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex" asp-route-id="10">1.   Introdução</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex" asp-route-id="11">2.   1ª Lei de Newton</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex" asp-route-id="12">3.	2ª Lei de Newton</</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex" asp-route-id="13">4.	3ª Lei de Newton</ </a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="LeiNewtonIndex" asp-route-id="14">5.	Força Peso </a><br /><br />

    </h3>

</div>