@model IEnumerable<PageModel>

@{
    ViewData["Title"] = "Mecânica";
}

<br />
@foreach (var item in Model)
{
    @Html.Raw(item.Conteudo)
}
<br />


<div id="container-2" class="container">
    <h1>Capítulos:</h1><br />

    <h3>
        <a style="text-decoration: none" asp-controller="Fis" asp-action="MecanicaIndex" asp-route-id="42">1. Introdução</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="MecanicaIndex" asp-route-id="43">2. A Cinemática</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="MecanicaIndex" asp-route-id="44">3. Conceitos básicos de Cinemática</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="MecanicaIndex" asp-route-id="45">4. Deslocamento escalar</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="MecanicaIndex" asp-route-id="46">5. Velocidade escalar média</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="MecanicaIndex" asp-route-id="47">6. Movimento uniforme</a><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="MecanicaIndex" asp-route-id="48">7. Velocidade escalar relativa (vrel)</a><br /><br />
    </h3>

</div>
<br />
