@{
    ViewData["Title"] = "Trabalho - Capítulo 1";
}

<br />
<div class="container" id="container-1">
    <h1>Trabalho de uma força constante</h1><br />

    Tendo uma força constante F, aplicada sob um objeto que é levado do ponto P ao Q, segundo um vetor deslocamento 
    d tal que d = ||. Observe que há forças que não estão envolvidas no movimento do objeto em si, então pode ser que a força  
    não necessariamente vá mover o barco, ou não seja a única que está envolvida em seu movimento. Há a possibilidade de que uma 
    componente da força  atue na direção do deslocamento, então podemos dizer que esta componente está compatível com o movimento. 
    Podemos definir então que trabalho realizado pela força constante   é dado pelo produto do módulo da intensidade da componente 
    tangencial  pela medida do módulo do deslocamento efetivado: . Para determinar    é necessário saber o ângulo formado entre a força   e o vetor deslocamento  .
    A expressão geral para o cálculo de  é dada por:<br /><br />

    A partir dessa expressão, concluímos que o trabalho é uma grandeza escalar e a presença do cosseno traz um sinal algébrico que 
    devemos interpretar da seguinte forma:<br />
    ⦁	Se O ≤ 0 < 90º, então cos  > O e o trabalho tem valor positivo: isso significa que a força realiza um trabalho motor, 
    que favorece o deslocamento do objeto no qual atua; nessa situação, dizemos que o agente que aplica a força fornece energia ao 
    objeto.<br />
    • 	Se = 90º, então cos  = O e o trabalho efetivado pela força é nulo: isso significa que a ação da força não interfere no movimento.
    É por esse motivo que a componente normal da força em relação ao deslocamento não produz trabalho.<br />
    ⦁	Finalmente, se 90º < 0 ≤ 180º, então cos  < O e o trabalho tem valor negativo: isso significa que a força realiza 
    trabalho resistente sobre o corpo, que se opõe ao deslocamento; dizemos que o agente que aplica a força retira energia do objeto.<br />
    A unidade utilizada para trabalho no Sistema Internacional é o joule (J). Este nome foi escolhido como homenagem a 
    James Prescott Joule (1818-1889), físico inglês que estudou as conversões de calor em trabalho e abriu o caminho para a 
    formulação do Princípio de Conservação da Energia.<br /><br />


    Considere uma força F, constante, que desloca um corpo da posição inicial até a posição final.<br /><br />
    <img src="/images/Fis/img1.png" width="320" height="200"><br /><br />
    τ = F .d .cos α

    Onde:  <br />

    𝜏 é o trabalho realizado pela força;  <br />
    F é a força aplicada sobre o corpo; <br />
    d é o deslocamento sofrido pelo corpo;<br />
    α é o ângulo formado entre a força e o deslocamento. <br /><br />

    <h3>IMPORTANTE:</h3>  <br />

    Caso a força tenha a mesma direção do deslocamento, ou seja, α = 0 o trabalho será calculado como: <br /><br />

    <b>τ = F .d</b><br /><br />
    <h4>Acesse o video aula a respeito deste conteúdo:</h4><br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/8OOXdgS-FsM" title="Trabalho de uma força constante - Trabalho da força peso - Trabalho força variável" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />

    Livro utilizado para extrair o conteúdo:
    <br />
    <a href="https://www.colegioanchieta.com.br/recife/apostilas/APOSTILA-DE-FISICA.pdf">Link</a>
    <br />

</div>

<br />

<div id="container-2" class="container">
    <h1>Continue estudando...</h1><br />


    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="Trabalho2">Próximo Capítulo: Trabalho da força peso</a><br /><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="TrabalhoIndex">Menu Inicial</a><br /><br />


    </h3>
  
</div>
<br />
