@{
    ViewData["Title"] = "Trabalho - Capítulo 3";
}

<br />
<div class="container" id="container-1">
    <h1>Trabalho da força elástica</h1><br />
    <img src="/images/Fis/img3.png" width="300" height="150"><br />

    Nos casos em que o objeto é tracionado por uma mola, temos que o deslocamento d do objeto será equivalente a deformação x 
    sofrida pela mola. Também temos a constante elástica k fazendo parte da fórmula para calcularmos a força elástica. <br />
    Com isso, o aspecto do diagrama da força elástica em função do deslocamento do objeto está representado abaixo.<br /><br />

    O trabalho da força elástica será encontrado através da área sob a reta definida entre a força elástica e o deslocamento, no intervalo entre 0 e x.
    Se a força elástica possui o mesmo sentido do deslocamento do corpo, sabemos que o trabalho será negativo. <br />
    Entretanto, se o sentido do deslocamento for oposto, o mesmo possuirá sinal negativo.<br />
    + = volta a sua posição inicial<br />
    - = a mola é distendida ou comprimida<br /><br />


    Como padrão, iremos considerar uma mola e um bloco, que constituem um sistema elástico.
    Com a imagem abaixo, podemos observar que o bloco esta em repouso e não há deformação da mola<br /><br />

    <img src="/images/Fis/img4.png" width="300" height="150"><br /><br />
    Quando a mola é alongada (como podemos ver na figura 1) ou distendida (como podemos ver na figura dois),
    a mola irá exercer uma força elástica no bloco.<br /><br />
    <img src="/images/Fis/img5.png" width="300" height="150"><br /><br />
    <img src="/images/Fis/img6.png" width="150" height="75"><br /><br />

    <h3>Onde: </h3> <br />

    EEL é a energia potencial elástica;  <br />

    K é a constante da mola; <br />

    x é a deformação sofrida pela mola. <br /><br />
    <h4>Confira o vídeo a resepeito deste assunto:</h4><br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/b8ZCR4wPbMA" title="Trabalho da força elástica - Aula 04" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />
    Livro utilizado para extrair o conteúdo:<br />
    <a href="https://www.colegioanchieta.com.br/recife/apostilas/APOSTILA-DE-FISICA.pdf">Link</a>

</div>
<br />

<div id="container-2" class="container">
    <h1>Continue estudando...</h1><br />


    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="TrabalhoIndex">Menu Inicial</a><br />

    </h3>

</div>
<br />