@{
    ViewData["Title"] = "Trabalho - Capítulo 2";
}
<br />
<div class="container" id="container-1">
    <h1>Trabalho da força peso</h1><br />

    Todos nós sofremos com a ação desta força já que a mesma está diretamente relacionada ao campo gravitacional terrestre. 
    Ou seja, se um corpo for solto em determinada altura, o deslocamento sofrido por ele será provoca por esta força, também 
    conhecida como força peso.<br /><br />
    Se formos calcular apenas a força peso, podemos calcula-la através da fórmula P = m . g<br /><br />
    O trabalho da força peso não possui interferência do trajeto, por conta disso considera-se apenas os pontos finais e 
    iniciais desta trajetória. Quando um corpo está caindo o trabalho executado pela força peso será motor, pois a atuação ocorre 
    no mesmo sentido do deslocamento. Por outro lado, quando o corpo estiver subindo, o trabalho é chamado de resistente já que a 
    força peso atua no sentido contrário da trajetória.<br /><br />

    Considerando um corpo de massa m e h o desnível entre os pontos A e B. Como o peso P é constante e paralelo ao deslocamento,
    temos: <br /><br />
    <img src="/images/Fis/img2.png" width="275" height="375"><br /><br />

    + = corpo desce <br />

    - = corpo sobe <br />

    <b>τp = ± m.g.h</b><br />
    <b>𝝉𝒑 = ± 𝒎.𝒈.𝒉</b><br /><br />

    <h3>Onde: </h3> <br />

    𝝉𝒑 é o trabalho realizado pela força peso;  <br />

    m é a massa do corpo;  <br />

    g é a gravidade;  <br />

    h é a altura que o corpo sobe ou desce. <br /><br />

    <h4>Acesse o vídeo a resepeito deste assunto:</h4><br /><br />
    <div class="container" id="container-alternativas">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/0od95V4kmAk" title="Força Peso - Brasil Escola" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br />

    Livro utilizado para extrair o conteúdo:
    <br />
    <a href="https://www.colegioanchieta.com.br/recife/apostilas/APOSTILA-DE-FISICA.pdf">Link</a><br />

</div>
<br />

<div id="container-2" class="container">
    <h1>Continue estudando...</h1><br />


    <h3>

        <a style="text-decoration: none" asp-controller="Fis" asp-action="Trabalho3">Próximo Capítulo: Trabalho da força elástica</a><br /><br />

        <a style="text-decoration: none" asp-controller="Fis" asp-action="TrabalhoIndex">Menu Inicial</a><br /><br />

    </h3>
    



</div>