@{
    ViewData["Title"] = "Exercícios - Energia Potencial Gravitacional";
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Energia Potencial Elástica</h1><br /><br />

</div>
<br />
<div id="container-2" class="container" style="background-color:lightskyblue">

    <h3><a asp-action="EEnergiaPotencialGravitacionalGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />

</div>
<br />
<br />