@{
    ViewData["Title"] = "Gabarito - Energia Cinética";
}
<br />
<div class="container" id="container-1">
    <h1>Gabarito dos Exercícios de Energia Cinética </h1><br /><br />

    <h4><i>Exercício 1)</i><br /><br /></h4>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            Os dados fornecidos são:<br />

            m = 300 g = 0,3 kg;<br />
       
            V0 = 108 km/h = 30 m/s;<br />

            v = 36 km/h = 10 m/s<br />

            A energia cinética inicial e final da bola, em relação
            ao campo, vale:<br />

            <img src="~/images/Fis/img21.png" width="80%" /><br />
            Logo, o trabalho total realizado pelas forças de oposição foi negativo:<br />
            <img src="~/images/Fis/img22.png" width="80%" /><br />

        </div>
    </div><br />

    <h4><i>Exercício 2)</i><br /><br /></h4>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            a) Pelo Teorema da Energia Cinética,
            <img src="~/images/Fis/img23.png" width="80%" /><br /><br />
            b) Usando a definição de trabalho de uma força
            constante,<br />
            τFr= Fr . d .cosθ<br />
            𝜏Fr= Fr . d .cos⁡𝜃, como a força é paralela e a favor do deslocamento, q = θ<br />
            𝜃 e cos𝜃 = 1:<br />
            390 = 10. d .1 ∴ d = 39 m<br /><br />
            c)  Pelo Princípio Fundamental da Dinâmica,<br />
            F = m. a → 10 = 20. a ∴ 0,5 m/s²<br />
            Sabemos que a aceleração promovida por uma
            força constante não varia, então temos um MUV
            cuja expressão de velocidade é<br />

            <img src="~/images/Fis/img24.png" width="80%" /><br />
            Finalmente, considerando t0 = 0 o instante em que a força começa a atuar, a situação descrita durou o intervalo de
            Δt de 6,0s.<br />

        </div>

    </div><br /><br />

    <h4><i>Exercício 3)</i><br /><br /></h4>

    <div class="container" id="container-alternativas">
        <div id="alternativas">

            Quando a intensidade da força varia com o deslocamento, o trabalho concretizado por ela é equivalente 
            à área sob o diagrama força × deslocamento:
            <img src="~/images/Fis/img25.png" width="85%" /><br />
        </div>
    </div><br /><br />

    <h4><i>Exercício 4)</i><br /><br /></h4>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            
            <img src="~/images/Fis/img26.png" width="85%" /><br />

        </div>
    </div><br /><br />

    <h4><i>Exercício 5)</i><br /><br /></h4>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            São dados: <br />

            m = 30 kg; <br />
            hA = 4 m;<br />
            EcB = 1 000 J. Como há dissipação de energia, aplicamos a igualdade: energia mecânica inicial = 
            energia mecânica final + energia dissipada. <br />

            Então, temos: <br />
            <img src="~/images/Fis/img27.png" width="85%" /><br />

        </div>
    </div><br /><br />

    <h4><i>Exercício 6)</i><br /><br /></h4>


    <div class="container" id="container-alternativas">
        <div id="alternativas">
            Porque a energia cinética depende também da massa. Se a massa for maior, a energia cinética será maior.<br />


        </div>
    </div><br /><br />

</div>
<br />