@{
    ViewData["Title"] = "Exercícios - Energia Cinética";
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Energia Cinética</h1><br /><br />

    <h4><i>Exercício 1) Uma bola de futebol de 300 g é chutada por um defensor, partindo rasteira com uma 
            velocidade inicial de 108 km/h e chegando aos pés de um companheiro no ataque a 36 km/h. Então, 
            qual foi o trabalho total realizado contra a bola pela força de atrito com a grama
            e pela resistência do ar?<br /><br /></h4></i>

    <h4><i>Exercício 2) Um robô eletromecânico, de 20 kg, ao sofrer a ação de uma força resultante de 10 N, inicia 
        seu movimento com uma velocidade inicial de 5,0 m/s e alcança os 8,0 m/s. Sabendo-se que a força resultante é 
        constante e paralela ao deslocamento cumprido pelo robô, determine:<br /><br /></h4></i>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            a) o trabalho realizado pela força resultante;<br />
            b) o deslocamento ocorrido durante a situação descrita;<br />
            c) o intervalo de tempo em que houve aceleração.<br />
        </div>
    </div><br /><br />

    <h4><i>Exercício 3) O diagrama mostra a variação da intensidade da força resultante em função da posição de um 
        objeto, inicialmente em repouso. A direção da força é constante e paralela ao movimento do objeto de 10 kg sobre o 
        qual atua. Determine a velocidade do objeto na posição s = 5 m.</i> <br /><br /></h4>

    <div class="container" id="container-alternativas">
        <div id="alternativas">
            <img src="/images/Fis/img20.png" />

        </div>
    </div><br /><br />

    <h4><i>Exercício 4) Um menino de 30 kg, agarrado a um tronco de  
           árvore, a uma altura de 5 m do chão “dispõe” de uma energia potencial gravitacional em relação ao solo. 
           Podemos armazenar a mesma quantidade de energia em uma mola de constante elástica k = 7,5 · 106 N/m, 
           deformando-a um tanto.
            Calcule a energia potencial gravitacional e a deformação da mola (g = 10 m/s2) envolvidas na questão.
        </i><br /><br />
    </h4>

    <h4><i>Exercício 5) Um garoto de 30 kg de massa desce a rampa de
        um escorregador, a partir de uma altura de 4 m, e chega ao solo com a energia cinética de 1 000 J.
            Dado g = 10 m/s2, calcule a energia dissipada na forma de calor, devido ao atrito.
        </i><br /><br />
    </h4>

    <h4><i>Exercício 6) Dois carros, A e B, percorrem a mesma rodovia, em movimentos uniformes, com 
        velocidades iguais, mas é possível que um deles tenha maior quantidade de energia cinética que o outro.
            Por quê?
        </i><br /><br />
    </h4>

    <i>
        Exercícios retirados do livro: Física para ensino médio – Kazuhito Yamamoto e Luiz Felipe Fuke – Volume 1 - 4 Edição –
        Páginas 209, 211, 215 e 217 – 
    Disponível em: <a href="https://storage.googleapis.com/edocente-content-production/Aplicacoes/Edocente/plugins/pdfjs-sem-download-e-print/web/viewer.html?file=https://storage.googleapis.com/edocente-content-production/PNLD/PNLD_2018/FisicaEM/1o%20Ano/Fisica_EM_1_MP_0100P18133_PNLD2018.pdf">Neste Link</a>
    </i><br /><br />

</div>


<br />
    <div id="container-2" class="container" style="background-color:lightskyblue">
    <h3><a asp-action="EEnergiaCineticaGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />

</div>
<br />
<br />