@{
    ViewData["Title"] = "Exercícios - Energia Mecânica";
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Energia Mecânica</h1><br /><br />

</div>
<br />
<div id="container-2" class="container" style="background-color:lightskyblue">
    <h1> </h1><br />

    <h3><a asp-action="EEnergiaMecanicaGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />

</div>
<br />
<br />