@{
    ViewData["Title"] = "Exercícios - Força Elástica";
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Força Elástica</h1><br /><br />

</div>
<br />
<div id="container-2" class="container" style="background-color:lightskyblue">

    <h3><a asp-action="EForcaElasticaGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />

</div>
<br />
<br />