@{
    ViewData["Title"] = "Exercícios - Trabalho de uma Força Peso";
}
<br />
<div class="container" id="container-1">
    <h1>Exercícios de Trabalho de uma Força Peso</h1><br /><br />

</div>
<br />
<div id="container-2" class="container" style="background-color:lightskyblue">

    <h3><a asp-action="ETrabForcaPesoGab" style="text-decoration: none">Confira o gabarito</a><br /></h3><br />

</div>
<br />
<br />