html, body {
    font-size: 14px;
    height: 100%;
    min-height: 100vh;
    --background: white;
    --text: black;
}



footer {
    margin-top: auto; 
}

#container-1 {
    align-content: center;
    text-align: center;
    font-family: Helvetica;
    border-radius: 15px 50px 30px;
    border: 3px solid white;
}

#container-2 {
    width: 100%;
    background-color: lightskyblue;
    text-align: center;
    font-family: Helvetica;
    border-radius: 15px 50px 30px;
    border: 2px solid darkblue;
    align-content: center;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#container-alternativas {
    border-radius: 15px 50px 30px;
    background: lightblue;
    border: 2px solid darkblue;
    padding: 20px;
    justify-content: center;
    height: 100%;
    width: 50%;
    text-align: center;
    align-items: center;
    align-content: center;
}

#container-fisica-index {
    align-content: center;
    text-align: center;
    font-family: Helvetica;
    border-radius: 15px 50px 30px;
    background: white;
    border: 3px solid darkblue;
    background: url("/images/Fis/img19.png") no-repeat fixed center center;
    background-size: cover;
}

#container-fisica-index2 {
    border-radius: 15px 50px 30px;
    background-color: lightblue;
    background: rgba(173, 216, 230, 0.4);
    border: 2px solid darkblue;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #000f;
    font-weight: 900;
    font-size: 25px;
}

#container-fisica-index3 {
    border-radius: 15px 50px 30px;
    background-color: lightblue;
    background: rgba(173, 216, 230, 1.0);
    border: 2px solid darkblue;
    color: #000f;
}

* {
    box-sizing: border-box;
}

/* Float four columns side by side */
    

.colunaf {
    text-align: center;
    width: 33.333%;
    background-color: aqua;
}

.coluna img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.coluna2 {
    width: 100%;
    padding: 10px 10px;
}

    .coluna2 img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Remove extra left and right margins, due to padding */
.linha {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .linha:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .coluna .coluna2 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.cartao {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    padding: 16px;
    text-align: center;
    /*background-color: #f1f1f1;*/
}

.cartao2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /*background-color: #f1f1f1;*/
}

/*Login index*/

.container-login {
    padding: 64px;
    width: 100%;
}

.row-login:after {
    content: "";
    display: table;
    clear: both
}

.coluna-login-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

.coluna-login-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

.large-font {
    font-size: 48px;
}

.xlarge-font {
    font-size: 55px
}

.button-login {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
}

img-login {
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .coluna-login-66,
    .coluna-login-33 {
        width: 100%;
        text-align: center;
    }

    img-login {
        margin: auto;
    }
}
/* css dos containeres e divs dos exerc�cios */

input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin: 1.4rem 0;
}

.lbl-toggle {
    border-radius: 15px 50px 30px;
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: darkblue;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

    .lbl-toggle:hover {
        color: #FFF;
    }

    .lbl-toggle::before {
        content: ' ';
        display: inline-block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
    }

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 1600px;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}

/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal1-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


.modal1-header {
    padding: 2px 16px;
    background-color: lightskyblue;
    color: white;
}

.modal1-body {
    padding: 2px 16px;
}

.modal1-footer {
    padding: 2px 16px;
    background-color: lightskyblue;
    color: white;
}

/* RODAPE*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

.responsive {
    width: 100%;
    height: auto;
}
#irTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

    #irTop:hover {
        background-color: #555;
    }

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom:50px;
}
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.buttoncard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

    buttoncard:hover, a:hover {
        opacity: 0.7;
    }


/* MOBILE*/
@media only screen and (max-width: 420px) {
    img {
        height: auto;
        width: 240px;
    }

    html {
        justify-content: center;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 18px;
    }

    body {
        font-size: 14px;
    }

    iframe {
        width: 100%;
    }

    .coluna {
        float: left;
        width: 100%;
        padding: 0 10px;
    }

    #container-alternativas {
        width: 100%;
    }

    #btnPerfil {
        position: relative;
    }
    #navbarPrincipal {
        position: relative;
    }
    #dropPerfil {
        position: relative;
        right: auto !important;
        left: 0 !important;
        top: 0;
    }
}

/* DESKTOP */
@media only screen and (min-width: 421px) {

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    .coluna {
        float: left;
        width: 50%;
        padding: 0 10px;
    }

    #container-alternativas {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
    img {
        height: 100%;
        width: 100%;
    }

}

/*Estilos da p�gina de Post*/


#containerTitulo {
    border: 3px solid black;
    border-radius: 15px 50px;
    border-color: grey;
    padding: 20px;
    box-shadow: 10px 5px 5px lightskyblue;
}
#containerMateria {
    border: 3px solid black;
    border-radius: 15px 50px;
    border-color: grey;
    padding: 20px;
    box-shadow: 10px 5px 5px lightskyblue;
}
#tituloPost{
    font-family: Helvetica;
    font-size:xx-large;

}
#tituloMateria {
    font-family: Helvetica;
    font-size:x-large;
}
#postConteudo {
    max-width: 100%;
    max-height: 100%;
    
}

/* CHATBOT IA*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

/* CHATBOX
=============== */

.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}


/* CONTENT IS CLOSE */


.chatbox__support {
    display: none;
    flex-direction: column;
    background: #eeee;
    height: 525px;
    width: 550px;
    z-index: -123456;
    opacity: 0;
    transition: all .0s ease-in-out;
    bottom: -100px; /* Ajuste a posição vertical conforme necessário */
    right: -90px; /* Posição horizontal relativa ao ícone */
}

/* CONTENT ISOPEN */
.chatbox--active {
    display: flex;
    position: fixed;
    bottom: 10px; /* Ajuste a posição vertical conforme necessário */
    right: 90px; /* Posição horizontal relativa ao ícone */
    z-index: 123456; /* Mantenha o z-index conforme necessário */
    opacity: 1; /* Defina a opacidade para tornar o elemento visível */
    transition: all .5s ease-in-out;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    max-height: 98%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}


.chatbox__support {
    background: #f9f9f9;
    height: 550px;
    width: 550px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.8rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

    .chatbox__footer input {
        width: 80%;
        border: none;
        padding: 10px 10px;
        border-radius: 30px;
        text-align: left;
    }

    .chatbox__send--footer {
    color: white;
    }


.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/* CSS CHAT GPT */
textarea {
    resize: none;
    border-radius: 10px;
}

#txtOutput {
    overflow: auto;
    pointer-events: auto;
}

#idContainer {
    align-self: center;
    resize: none;
    overflow: auto;
    border-radius: 30px 30px 30px 10px;
    border: 1px solid black;
    box-shadow: 0px 20px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, lightblue 0%, lightgreen 25%, lightblue 51%, lightgreen 100%);
    -webkit-animation: AnimateBG .5s ease infinite;
    animation: AnimateBG 10s ease infinite;
}


#btnSend {
    background: rgba(0, 105, 255, .2);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#limparButton {
    background: rgba(0, 105, 255, .2);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}