html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


#container-1 {
    align-content: center;
    text-align: center;
    background-color: white;
    font-family: Helvetica;
    border-radius: 15px 50px 30px;
    background: white;
    border: 3px solid white;
    width: 1000px;
}

#container-2 {
    background-color: lightskyblue;
    text-align: center;
    font-family: Helvetica;
    border-radius: 15px 50px 30px;
    background: lightblue;
    border: 2px solid darkblue;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#container-alternativas {
    border-radius: 15px 50px 30px;
    background: lightblue;
    border: 2px solid darkblue;
    padding: 20px;
    width: 700px;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
#container-fisica-index {
    align-content: center;
    text-align: center;
    font-family: Helvetica;
    border-radius: 15px 50px 30px;
    background: white;
    border: 3px solid darkblue;
    background: url("/images/Fis/img19.png") no-repeat fixed center center;
    background-size: cover;
}
#container-fisica-index2 {
    border-radius: 15px 50px 30px;
    background-color: lightblue;
    background: rgba(173, 216, 230, 0.4);
    border: 2px solid darkblue;
    padding: 20px;
    width: 700px;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #000f;
    font-weight: 900;
    font-size: 25px;
}
#container-fisica-index3 {
    font-weight: 900;
    border-radius: 15px 50px 30px;
    background-color: lightblue;
    background: rgba(173, 216, 230, 1.0);
    border: 2px solid darkblue;
    color: #000f;
}

* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.coluna {
    float: left;
    width: 50%;
    padding: 0 10px;
}
.coluna img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.coluna2 {
    width: 100%;
    padding: 10px 10px;

}

    .coluna2 img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Remove extra left and right margins, due to padding */
.linha {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .linha:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .coluna .coluna2 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.cartao {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    padding: 16px;
    text-align: center;
    /*background-color: #f1f1f1;*/
}

.cartao2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /*background-color: #f1f1f1;*/
}

/*Login index*/

.container-login {
    padding: 64px;
    width:100%;
}

.row-login:after {
    content: "";
    display: table;
    clear: both
}

.coluna-login-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

.coluna-login-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

.large-font {
    font-size: 48px;
}

.xlarge-font {
    font-size: 64px
}

.button-login {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
}

img-login {
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .coluna-login-66,
    .coluna-login-33 {
        width: 100%;
        text-align: center;
    }

    img-login {
        margin: auto;
    }
}
/* css dos containeres e divs dos exercícios */

input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin: 1.4rem 0;
}

.lbl-toggle {
    border-radius: 15px 50px 30px;
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: darkblue;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
        color: #FFF;
    }

.lbl-toggle::before {
        content: ' ';
        display: inline-block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
    }

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 1600px;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}
