@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="container col-md-8">
        <img src="/images/bem-vindo-allaccess.png" class="responsive" />

        <div>
            All Access, é uma ideia que surgiu de cinco estudantes a fim de melhorar a maneira como as pessoas estudam e interagem entre si.
            Afim de trazer mais prazer nos estudos e uma relação melhor com outras pessoas que estão passando pelo mesmo momento que você. <br /><br />

            Aqui você encontra diversos conteúdos de vestibulares, focados em as matérias de exatas. Também é disponível exercícios de vestibulares anteriores, como do Enem, Comvest, Fuvest.<br /> <br />

            Você pode estudar de forma compartilhada com seus amigos, ou também pode procurar alguém para estudar junto no nosso servidor de comunidade, disponível na aba DISCORD.
            O nosso servidor é permitido que diretamente vocês interajam, então, é por aqui que você conhece novas pessoas, troca novas ideias, aprende e ensina também, além de permitir que o estudo em conjunto seja realizado,
            trazendo uma experiência parecida com a de estar dentro de uma sala de aula, biblioteca ou qualquer outro ambiente que permita o intercâmbio de ideias e conhecimento.<br /><br/>



             <br/><br /><br/>
        </div>
        <div class="row">
            <div class="card2">
                <img src="/images/Perfil/Caique.png" alt="Caíque" style="width:100%">
                <h1>Caíque Bruno</h1>
                <p class="title">Dev FullStack</p>
                <p>Instituto Federal de São Paulo - Campus Piracicaba</p>
                <a href="https://www.instagram.com/cai_bru" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/cbruno1/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://web.facebook.com/caique.brunoo" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button class="buttoncard">c.bruno@aluno.ifsp.edu.br</button></p>
            </div>
            <div class="card2">
                <img src="/images/Perfil/Guilherme.png" alt="Guilherme" style="width:100%">
                <h1>Guilherme Beig</h1>
                <p class="title">Front-End Leader</p>
                <p>Instituto Federal de São Paulo - Campus Piracicaba</p>
                <a href="https://www.instagram.com/guilhermebeig" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/guilherme-beig/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://web.facebook.com/guilherme.beig" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button class="buttoncard">guilherme.beig@aluno.ifsp.edu.br</button></p>
            </div>
            <div class="card2">
                <img src="/images/Perfil/Alexandro.png" alt="Alexandro" style="width:100%">
                <h1>Alexandro Robert Jr</h1>
                <p class="title">Material & Design</p>
                <p>Instituto Federal de São Paulo - Campus Piracicaba</p>
                <a href="https://www.instagram.com/_aleejr"target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/alexandro-junior-11473621a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://web.facebook.com/juninho.robert.5" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button class="buttoncard">alexandro.junior@aluno.ifsp.edu.br</button></p>
            </div>
            <div class="card2">
                <img src="/images/Perfil/Bruno.png" alt="Bruno" style="width:100%">
                <h1>Bruno Bragagnolo</h1>
                <p class="title">Material & Exercicios</p>
                <p>Instituto Federal de São Paulo - Campus Piracicaba</p>
                <a href="https://www.instagram.com/brunobragagnolo" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/bruno-bragagnolo-91b43b21a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://web.facebook.com/bruno.bragagnolo.7" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button class="buttoncard">bruno.bragannolo@aluno.ifsp.edu.br</button></p>
            </div>
            <div class="card2">
                <img src="/images/Perfil/Giovanni.png" alt="Giovanni" style="width:100%">
                <h1>Giovanni Marques</h1>
                <p class="title">Material & Exercicios</p>
                <p>Instituto Federal de São Paulo - Campus Piracicaba</p>
                <a href="https://www.instagram.com/gmarquess_" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/giovanni-marques-13b25a204/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://web.facebook.com/Giovanni.marquespereira" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button class="buttoncard">giovanni.m@aluno.ifsp.edu.br</button></p>
            </div>
        </div>


    </div>
    <div class="col-md-2">
    </div>






</div>



