@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="container col-md-8">
        <img src="/images/bem-vindo-allaccess.png" class="responsive" />

        <div>
           
                                     <br/><br /><br/>
        </div>
        

    </div>
    <div class="col-md-2">
    </div>






</div>



