@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="site.css">
</head>

<body>

        <div class="container col-md-8">
            <img src="/images/bem-vindo-allaccess.png" class="responsive" />
      </div>
    <div class="card-container">
        <div class="card" id="cartao-menu">
            <img src="~/images/card1_imagem.png" alt="Imagem 1">
            <div class="description">
                <p>Comece por aqui! Entenda todas as funcionalidades do All Access.
                </p>
            </div>
        </div>
        <div class="card" id="cartao-menu">
            <img src="~/images/card2_imagem.png" alt="Imagem 2">
            <div class="description">
                <p>Totalmente acessível!
                    Aqui você encontra diversos elementos de acessibilidade e inclusão.
                </p>
            </div>
        </div>
        <div class="card" id="cartao-menu">
            <img src="~/images/card3_imagem.png" alt="Imagem 3">
            <div class="description">
                <p>Nossa própria comunidade.
                    Clique aqui e conheça a comunidade do Discord.
                </p>
            </div>
        </div>
        <div class="card" id="cartao-menu">
            <img src="~/images/card4_imagem.png" alt="Imagem 4">
            <div class="description">
                <p>Dúvidas?
                    Fale com o nosso Chatbot e ele te ajudará com suas dúvidas :)
                </p>
            </div>
        </div>
    </div>

</body>















