@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="container col-md-8">
        <img src="/images/bem-vindo-allaccess.png" class="responsive" />

        <div>
            All Access, é uma ideia que surgiu de cinco estudantes a fim de melhorar a maneira como as pessoas estudam e interagem entre si.
            Afim de trazer mais prazer nos estudos e uma relação melhor com outras pessoas que estão passando pelo mesmo momento que você. <br /><br />

            Aqui você encontra diversos conteúdos de vestibulares, focados em as matérias de exatas. Também é disponível exercícios de vestibulares anteriores, como do Enem, Comvest, Fuvest.<br /> <br />

            Você pode estudar de forma compartilhada com seus amigos, ou também pode procurar alguém para estudar junto no nosso servidor de comunidade, disponível na aba DISCORD.
            O nosso servidor é permitido que diretamente vocês interajam, então, é por aqui que você conhece novas pessoas, troca novas ideias, aprende e ensina também, além de permitir que o estudo em conjunto seja realizado,
            trazendo uma experiência parecida com a de estar dentro de uma sala de aula, biblioteca ou qualquer outro ambiente que permita o intercâmbio de ideias e conhecimento.<br />


            Seja bem vindos !!

        </div>



    </div>
    <div class="col-md-2">
    </div>






</div>



